<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.springframework.org/security/tags">
<!-- xmlns:sec="http://www.thymeleaf.org/extras/spring-security"> -->
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>index</title>
<link th:href="@{/resources/css/index.css}" type="text/css" rel="stylesheet" />  
</head>
<body>
	<div id="main">Main Content</div>
	
	<a href="/vue/vue.do">vue이동</a>
	
	<a href="/manager/index.do">어드민 페이지 이동 </a>
	
	&nbsp;&nbsp;&nbsp;
	<a href="/user/main.do">노상코딩 메인페이지</a>

	<img width="500" th:src="@{/resources//images/attach.png}"/>
	<script th:src="@{/resources/js/index.js}"></script> 
</body>
</html>
