<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<link rel="shortcut icon"
	href="../../../resources/images/img/favicon.ico" type="image/x-icon" />
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>main</title>
<div th:replace="/user/includes/bootstrap_link :: bootstrap_link"></div>


<!-- Template Main CSS File -->

<style>
@import
	url('https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap')
	;

._align_center {
	text-align: center;
}

.keywords .keyword_item {
	position: absolute;
	width: 119px;
	height: 119px;
	text-align: center;
	border: 1px solid #eee;
	z-index: 1;
}

.keywords .keyword_item .keyword_item_txt {
	display: block;
	position: relative;
	top: 50%;
	transform: translateY(-50%);
}

.keyword_item:hover {
	border-color: #00C3BD;
	color: #00C3BD;
	z-index: 2;
	text-decoration: none;
}

._img_width {
	width: 100%;
}

._a:link {
	color: black;
	text-decoration: none;
}

._a:visited {
	color: black;
	text-decoration: none;
}

._b:hover {
	border-color: #00C3BD;
	color: #00C3BD;
	z-index: 2;
	text-decoration: none;
}

body {
	background-color: white;
	font-family: 'Nanum Gothic', sans-serif;
}

.skills {
	/* background: url("../img/about-bg.jpg") center top no-repeat fixed; */
	background-size: cover;
	padding: 60px 0 40px 0;
	position: relative;
}

#skills .portfolio-item figure {
	overflow: hidden;
	height: 240px;
	position: relative;
	border-radius: 4px 4px 0 0;
	margin: 0;
}

#skills .portfolio-item {
	background: #fff;
	border-radius: 0 0 4px 4px;
	box-shadow: 0px 2px 12px rgba(0, 0, 0, 0.08);
	margin-bottom: 20px;
}

#skills .portfolio-item figure:hover {
	opacity: 0.4;
	transition: 0.3s;
}

.kwc_center>div {
	padding-left: 0px;
	padding-right: 0px;
}

@media ( min-width : 768px) and (max-width:992px) {
	#skills .portfolio-wrap>figure {
		margin-left: 30px;
	}

}

@media ( max-width : 768px) {
	#skills .portfolio-wrap>figure {
		margin: 0 auto;
	}

}

#portfolio .portfolio-item .portfolio-info {
	height: 130px;
	padding: 9px;
}

#portfolio .portfolio-item figure {
	height: 200px;
}

._text_align_start {
	text-align: start;
}
</style>



</head>

<body>
	<div th:replace="/user/includes/header :: header"></div>

	<!-- ======= Intro Section ======= -->
	<section id="intro">
		<div class="intro-container">

			<ol class="carousel-indicators"></ol>

			<div class="carousel-inner" role="listbox">

				<div class="carousel-item active"
					style="background-image: url(/../../../resources/assets/img/intro-carousel/1.jpg)">
					<div class="carousel-container">
						<div class="container">
							<h2 class="animate__animated animate__fadeInDown">환영합니다. 여기는
								위스터디입니다.</h2>
							<p class="animate__animated animate__fadeInUp">원하는 강의, 원하는
								스터디를 단 한 곳에서 찾으세요.</p>
						</div>
					</div>
				</div>
			</div>

		</div>
		</div>
	</section>
	<!-- End Intro Section -->

	<main id="main">
		<!-- 내가쓴 게시글 페이지 -->
		<section id="about">
			<div class="container" data-aos="fade-up">

				<header class="section-header">
					<h3>위스터디 소개</h3>
					<p>위스터디는 국내 유명 인강 사이트들의 온라인 강의를 쉽고 빠르게 찾을 수 있으며, IT관련 스터디를 모집하고
						참여 할 수 있는 공간입니다.</p>
				</header>

				<div class="row about-cols">

					<div class="col-md-4" data-aos="fade-up" data-aos-delay="100">
						<div class="about-col">
							<div class="img">
								<!-- <img src="/resources/assets/img/about-mission.jpg" alt="" class="img-fluid"> -->
								<img src="../../../resources/assets/img/about-mission.jpg"
									alt="" class="img-fluid">
								<div class="icon">
									<i class="ion-ios-speedometer-outline"></i>
								</div>
							</div>
							<h2 class="title">
								<a href="#">쉽고 빠른 온라인 강의 검색 서비스</a>
							</h2>
							<p>
								국내 유명 IT관련 인강 사이트들의 인강을 한 곳에 모아, 쉽고 빠르게 원하는 강의를 찾을 수 있도록 도와드립니다.
								<br> <br>
							</p>
						</div>
					</div>

					<div class="col-md-4" data-aos="fade-up" data-aos-delay="200">
						<div class="about-col">
							<div class="img">
								<img src="../../../resources/assets/img/about-plan.jpg" alt=""
									class="img-fluid">
								<div class="icon">
									<i class="ion-ios-list-outline"></i>
								</div>
							</div>
							<h2 class="title">
								<a href="#">IT관련 스터디 매칭 서비스</a>
							</h2>
							<p>
								IT관련 스터디를 찾고 계신가요?<br> 더 이상 스터디 참가 및 스터디원 모집을 위해 이곳저곳 알아보실
								필요가 없습니다.<br> 위스터디에서 원하는 스터디를 찾아보세요!
							</p>
						</div>
					</div>

					<div class="col-md-4" data-aos="fade-up" data-aos-delay="300">
						<div class="about-col">
							<div class="img">
								<img src="../../../resources/assets/img/about-vision.jpg" alt=""
									class="img-fluid">
								<div class="icon">
									<i class="ion-ios-eye-outline"></i>
								</div>
							</div>
							<h2 class="title">
								<a href="#">실시간 채팅</a>
							</h2>
							<p>회원들 간의 실시간 채팅을 통한 다양한 정보 공유 및 원활한 스터디 활동을 할 수 있도록 도와드립니다. </p>
							<br>
							<br>
						</div>
					</div>

				</div>

			</div>
		</section>
		<!-- End About Us Section -->


		<section id="skills">
			<div class="container aos-init aos-animate" data-aos="fade-up">

				<header class="section-header">
					<h3 class="section-title">찾고있는 강의가 있으신가요?</h3>
					<p>원하는 강의를 선택해보세요!</p>
				</header>

				<div class="row portfolio-container aos-init aos-animate kwc_center"
					data-aos="fade-up" data-aos-delay="200">

					<div class="col-lg-2 col-md-4 portfolio-item filter-card">
						<div class="portfolio-wrap">
							<a href="/lecture/course_List.do?language=1"><figure
								style="vertical-align: middle; text-align: center; width: 180px; line-height: 180px; height: 180px; background-color: white;">
								<img src="../../../resources/images/img/java.jpg"
									class="img-fluid" alt="">
							</figure></a>
						</div>
					</div>

					<div class="col-lg-2 col-md-4 portfolio-item filter-web">
						<div class="portfolio-wrap">
							<a href="/lecture/course_List.do?language=3"><figure
								style="vertical-align: middle; text-align: center; width: 180px; line-height: 180px; height: 180px; background-color: white;">
								<img style="width: 150px; height: 150px;"
									src="../../../resources/images/img/html5.png" class="img-fluid"
									alt="">
							</figure></a>
						</div>
					</div>

					<div class="col-lg-2 col-md-4 portfolio-item filter-app">
						<div class="portfolio-wrap">
							<a href="/lecture/course_List.do?language=3"><figure
								style="vertical-align: middle; text-align: center; width: 180px; height: 180px; line-height: 180px; background-color: white;">
								<img style="width: 120px; height: 150px;"
									src="../../../resources/images/img/css3.png" class="img-fluid"
									alt="">
							</figure></a>
						</div>
					</div>

					<div class="col-lg-2 col-md-4 portfolio-item filter-card">
						<div class="portfolio-wrap">
							<a href="/lecture/course_List.do?language=2"><figure
								style="vertical-align: middle; text-align: center; width: 180px; height: 180px; line-height: 180px; background-color: white;">
								<img src="../../../resources/images/img/js.png"
									class="img-fluid" alt="">
							</figure></a>
						</div>
					</div>

					<div class="col-lg-2 col-md-4 portfolio-item filter-card">
						<div class="portfolio-wrap">
							<a href="/lecture/course_List.do?language=4"><figure
								style="vertical-align: middle; text-align: center; width: 180px; height: 180px; line-height: 180px; background-color: white;">
								<img src="../../../resources/images/img/spring.png"
									class="img-fluid" alt="">
							</figure></a>
						</div>
					</div>

					<!-- 1행 끝 -->

					<div class="col-lg-2 col-md-4 portfolio-item filter-web"
						style="position: absolute; left: 0px; top: 360px;">
							<div class="portfolio-wrap">
							<a href="/lecture/course_List.do?language=5"><figure
								style="vertical-align: middle; text-align: center; width: 180px; height: 180px; line-height: 180px; background-color: white;">
								<img src="../../../resources/images/img/python.png"
									class="img-fluid" alt="">
							</figure></a>

						</div>
					</div>

					<div class="col-lg-2 col-md-4 portfolio-item filter-web"
						style="position: absolute; left: 0px; top: 360px;">
						<div class="portfolio-wrap">
								<a href="/lecture/course_List.do?language=9"><figure
								style="vertical-align: middle; text-align: center; width: 180px; height: 180px; line-height: 180px; background-color: white;">
								<img src="../../../resources/images/img/jsp.png"
									class="img-fluid" alt="">
							</figure></a>

						</div>
					</div>

					<div class="col-lg-2 col-md-4 portfolio-item filter-web"
						style="position: absolute; left: 0px; top: 360px;">
						<div class="portfolio-wrap">
								<a href="/lecture/course_List.do?language=6"><figure
								style="vertical-align: middle; text-align: center; width: 180px; height: 180px; line-height: 180px; background-color: white;">
								<img style="width: 140px; height: 140px;"
									src="../../../resources/images/img/vuejs.png" class="img-fluid"
									alt="">
							</figure></a>

						</div>
					</div>

					<div class="col-lg-2 col-md-4 portfolio-item filter-web"
						style="position: absolute; left: 0px; top: 360px;">
						<div class="portfolio-wrap">
								<a href="/lecture/course_List.do?language=7"><figure
								style="vertical-align: middle; text-align: center; width: 180px; height: 180px; line-height: 180px; background-color: white;">
								<img src="../../../resources/images/img/react.png"
									class="img-fluid" alt="">
							</figure></a>

						</div>
					</div>

					<div class="col-lg-2 col-md-4 portfolio-item filter-web"
						style="position: absolute; left: 0px; top: 360px;">
						<div class="portfolio-wrap">
								<a href="/lecture/course_List.do?language=8"><figure
								style="vertical-align: middle; text-align: center; width: 180px; height: 180px; line-height: 180px; background-color: white;">
								<img src="../../../resources/images/img/jquery.png"
									class="img-fluid" alt="">
							</figure></a>

						</div>
					</div>

					<div class="col-lg-2 col-md-4 portfolio-item filter-web"
						style="position: absolute; left: 0px; top: 360px;">
						<div class="portfolio-wrap">
							<a href="/lecture/course_List.do?language=10"><figure
								style="vertical-align: middle; text-align: center; width: 180px; height: 180px; line-height: 180px; background-color: white;">
								<img src="../../../resources/images/img/bootstrap.png"
									class="img-fluid" alt="">
							</figure></a>

						</div>
					</div>
					<!-- 2행 끝 -->

					<div class="col-lg-2 col-md-4 portfolio-item filter-web"
						style="position: absolute; left: 0px; top: 720px;">
						<div class="portfolio-wrap">
								<a href="/lecture/course_List.do?language=11"><figure
								style="vertical-align: middle; text-align: center; width: 180px; height: 180px; line-height: 180px; background-color: white;">
								<img style="width: 140px; height: 140px;"
									src="../../../resources/images/img/jpa.png" class="img-fluid"
									alt="">
							</figure></a>

						</div>
					</div>

					<!-- 3행 끝 -->

				</div>

			</div>
		</section>

		<section id="portfolio" class="section-bg">
			<div class="container aos-init aos-animate" data-aos="fade-up">

				<header class="section-header">
					<h3 class="section-title">모집중인 스터디</h3>
					<p>여러분의 참여를 기다리는 중이에요. 관심있는 스터디를 선택해주세요!</p>
				</header>

				<br />

				<div style="text-align: right">
					<a href="/board/study_List.do?root=header" title="More Details"> <i
						style="font-size: 30px;" class="ion ion-android-open"></i>
					</a>
				</div>
				<br />

				<div class="row aos-init aos-animate" data-aos="fade-up"
					data-aos-delay="100">
					<div class=" col-lg-12">
						<ul id="portfolio-flters" style="display: none">
							<li data-filter="*" class="filter-active">All</li>
						</ul>
					</div>
				</div>

				<div class="row portfolio-container aos-init aos-animate"
					data-aos="fade-up" data-aos-delay="200"
					style="position: relative; height: 3240px;" >
					
					<th:block th:each="list,index : ${mainList}">
					<div class="col-lg-4 col-md-6 portfolio-item filter-app"
						style="position: absolute; left: 0px; top: 0px;">
						<div class="portfolio-wrap">
							<figure>
								 <th:block th:switch="${mainList[index.index].CONTENT_KIND}">
									<img th:case="일반 " th:src="'/studyboard/upload/' + ${mainList[index.index].IMAGE}" class="img-fluid"
										alt="">
									<img th:case="온라인강의 " th:src="${mainList[index.index].IMAGE}" class="img-fluid"
										alt="">
								</th:block> 
							</figure>

							<div class="portfolio-info">
								<div class="_text_align_start">
								 <span
										class="badge badge-pill badge-info" th:text="${mainList[index.index].LEVEL}"></span>
									<span class="badge badge-pill badge-secondary"
										th:text="${mainList[index.index].CATE_LANGUAGE}"></span> <span
										class="badge badge-pill badge-success"
										th:text="|${mainList[index.index].PEOPLE}명|"></span> <span
										class="badge badge-pill badge-warning" th:text="${mainList[index.index].LOC}"></span>
									<span class="badge badge-pill badge-light"
										th:text="${mainList[index.index].CONTENT_KIND}"></span>
								</div>

<div>
								<b style="font-size: x-large;"><a class="_main_list"
									th:href="@{/board/my_Writing_Common_Study_Detail.do(s_seq=${mainList[index.index].S_SEQ})}" th:text="${mainList[index.index].TITLE}"></a></b>
									</div>
								<p th:text="${mainList[index.index].NICKNAME}">Web</p>
							</div>
						</div>
					</div>
					</th:block>

				</div>

			</div>
		</section>
		</div>
 	  <button onclick="topFunction()" id="myBtn" title="Go to top">Top</button>
		<div th:replace="/user/includes/footer :: footer"></div>
		<div th:replace="/user/includes/bootstrap_script :: bootstrap_script"></div>
		
		<script>
$(function(){
	
	/* 강의 글자수 자르기  시작*/	
	var mainListTag = $('._main_list');

	var mainListName = "";

	$.each(mainListTag, function(index,item){
		
		mainListName = mainListTag[index].innerText;
		
		
		/* if문 그냥 대충 짜름 나중에 재수정 필요 */
		if(mainListName.length > 23){
			mainListName = mainListName.substring(0,23)+"...";
		}
		mainListTag[index].innerText = mainListName;
	})

	/* 강의 글자수 자르기  끝*/
	
});

</script>

	  <script>
 
      //Get the button
      var mybutton = document.getElementById("myBtn");
      // When the user scrolls down 20px from the top of the document, show the button
      window.onscroll = function() {
         scrollFunction()
      };
      function scrollFunction() {
         if (document.body.scrollTop > 20
               || document.documentElement.scrollTop > 20) {
            mybutton.style.display = "block";
         } else {
            mybutton.style.display = "none";
         }
      }
      // When the user clicks on the button, scroll to the top of the document
      function topFunction() {
         document.body.scrollTop = 0;
         document.documentElement.scrollTop = 0;
      }
   </script>
		
</body>


</html>