<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>방 리스트</title>

<div th:replace="/user/includes/bootstrap_link :: bootstrap_link"></div>
<style>
.mybubble {
	float: right;
	text-align: end;
	overflow: hidden;
	display: flex;
	position: relative;
	z-index: 0;
	max-width: 100%;
	border-radius: 16px 16px 3px;
	font-size: 15px;
	line-height: 1.33;
	background-color: #d9f7e7;
	word-break: break-word;
	vertical-align: bottom;
	margin: 10px 15px;
	padding: 10px;
}

.yourbubble {
	float: left;
	text-align: inherit;
	overflow: hidden;
	display: flex;
	position: relative;
	z-index: 0;
	max-width: 100%;
	border-radius: 3px 16px 16px;
	font-size: 15px;
	line-height: 1.33;
	background-color: #f4f4f4;
	word-break: break-word;
	vertical-align: bottom;
	margin: 10px 15px;
	padding: 10px;
}

.msg_input {
	height: 10px;
	min-height: 40px;
	font-size: 15px;
	border: 0 none;
	overflow-y: auto;
	resize: none;
	background-color: #f5f6f8;
	width: 100%;
	padding-top: 10px;
	color:
}
</style>

</head>
<body>

	<input type="hidden" id="ch_seq" th:value="${chatroom.ch_seq}" />
	<input type="hidden" id="user_id" th:value="${user_id}" />

	<div class="wrapper" >
		<div class="row"
			style="background-color: rgb(24, 210, 105); height: 55px; magin-top: 10px;">
			<div class="col-12"
				style="text-align: -webkit-center; align-self: center; color: white; margin-top: 5px;">
				<a th:href="@{/chat/chatmemberlist.do}" style="margin-left: 0px;"><img
					src="../../../../resources/images/img/etc.png"
					style="width: 25px; height: 25px; float: left; margin-left: 20px;">
				</a> <b style="margin-left: 30px;">채팅방 이름</b>
				<div style="float: right; margin-right: 20px;">
					<a th:href="@{/chat/chatRoomOut.do(ch_seq=${chatroom.ch_seq})}"
						style="margin-left: 0px;"><img
						src="../../../../resources/images/img/out.png"
						style="width: 25px; height: 25px;"> </a>
				</div>
			</div>
		</div>

		<div class="today"
			style="margin-top: 20px; text-align: -webkit-center;">
			<b th:text="${datestr}"></b>
		</div>


		<div id="chatBoxArea" class="chatBoxArea"></div>


	</div>
		<div class="talk_write row"
			style="width:100%; height: 100%; margin: 0px; min-height: 40px; background-color: #fff;">
			<div class="col-10"
				style="border-radius: 10px; height: 40px; background-color: #f5f6f8; width:100%;">
				<input id="inputMsgBox" placeholder="메시지를 입력하세요." rows="2"
					class="msg_input" onkeypress="inputMsgBox_onkeypress()"></input>
			</div>
			<div class="col-1">
			<button type="submit" id="sendButton"
					class="btn btn-outline-success btn"
					style="padding: 6px 30px; width:100%;"
					onclick="sendButton_onclick()">
					<b>전송</b>
				</button>
			
			</div>
			<div class="col-1">

							</div>
		</div>
	<div th:replace="/user/includes/bootstrap_script :: bootstrap_script"></div>
	<script type="text/javascript">
		let Socket = null;
		var loginId = null;

		window.onload = function() {

			//<![CDATA[
			//HTML5가 제공하는 WebSocket 객체를 통해 서버 연결을 수행
			Socket = new WebSocket("ws://" + location.host + "/"
					+ "/chatSocket.do?ch_seq=" + $("#ch_seq").val()
					+ "&user_id=" + $("#user_id").val());
			//]]>

			/* /"+$("#roomNumber").val() */
			Socket.onopen = function(message) {
				console.log(message.user_id)
				//var d = JSON.parse(msg);
				//let html = "";
				//html += "<b>"+d.user_id+"님이 들어옴</b>"  
				console.log('접속완료')
			};

			/**
			 * 웹소켓 메시지(From Server) 수신하는 경우 호출
			 */
			Socket.onmessage = function(message) {
				var msg = message.data;
				console.log('제발 : ' + msg);
				//<![CDATA[
				if (msg != null && msg.trim() != '') {

					var d = JSON.parse(msg);
					if (d.type == "getId") {
						var si = d.user_id != null ? d.user_id : "";
						if (si != '') {
							$("#user_id").val(si);
						}
					} else if (d.type == "message") {
						let html = "";
						if (d.user_id == $("#user_id").val()) { //나
							html += "<div style='display:flex;'>"
							html += "<div class='col-md-1' style='padding-right:0px; width:70px;'>"
							html += "<div style='width: 60px; float: left; text-align: center;'>"
							html += "</div></div><div class='col mybubble'>"
									+ d.msg + "</div>"

							$("#chatBoxArea").append(html);

						} else { //상대

							var data = {}
							data["user_id"] = d.user_id;
							$
									.ajax({
										url : '/ajax/userInfoModal.do',
										processData : false,
										contentType : "application/json",
										cache : false,
										type : 'POST',
										data : JSON.stringify(data),
										success : function(data) {
											let html = "";
											console.log('하하 '
													+ data[1].PROFILE_IMG)
											html += "<div style='display:flex;'>"
											html += "<div class='col-md-1' style='padding-right:0px; width:70px;'>"
											//html += "<img src='#' alt='#' style='height: 165px; border-radius: 32%; border: 2px solid black;'>"
											html += "<div style='width: 60px; float: left; text-align: center;'>"
											html += "<img src='/userboard/upload/"
													+ data[1].PROFILE_IMG
													+ "' alt='' style='height: 50px; border-radius: 32%;'>"
											html += "<b style='display: block;''>"
													+ d.user_id
													+ "</b></div></div>"
											html += "<div class='col yourbubble'>"
													+ d.msg + "</div>"
											$("#chatBoxArea").append(html);
										},
										error : function(e) {
											console.log("error:", e);
										}
									});

							$("#chatBoxArea").append(html);
						}
					} else {
						console.warn("unknown type!")
					}
				}
				//]]>
			};

			/**
			 * 웹소켓 사용자 연결 해제하는 경우 호출
			 */
			Socket.onclose = function(message) {
				$("#chatBoxArea").append("Server is disconnd왜해제해!!!!ected!!.");
			};

			/**
			 * 웹소켓 에러 발생하는 경우 호출
			 */
			Socket.onerror = function(message) {
				/* addLineToChatBox("Error!"); */
			};
		}

		/**
		 * Send 버튼 클릭하는 경우 호출 (서버로 메시지 전송)
		 */
		function sendButton_onclick() {
			console.log('여긴오냐')
			var inputMsgBox = $("#inputMsgBox");
			if (inputMsgBox == null || inputMsgBox.val() == '') {
				console.warn('오면안되~~!')
				return false;
			}

			var chatBoxArea = document.getElementById("chatBoxArea");

			if (Socket == null || Socket.readyState == 3) {
				chatBoxArea.value += "Server is disconne으악!!!cted.\n";
				console.warn('오면안되~~222!')
				return false;
			}

			/* 단순 String데이터가 아닌 obj값으로 값을 세팅하고 
			   JSON형태로 발신처리로 변경
			     메시지를 보낼땐 type값을 message로 구분하여 발송 */
			var option = {
				type : "message",
				ch_seq : $("#ch_seq").val(),
				user_id : $("#user_id").val(),
				/* 				userName : $("#userid").val(), */
				msg : inputMsgBox.val()
			}

			// 서버로 메시지 전송
			Socket.send(JSON.stringify(option));
			inputMsgBox.value = "";
			inputMsgBox.focus();

			return true;
		}

		/**
		 * Disconnect 버튼 클릭하는 경우 호출
		 */
		/* function disconnectButton_onclick() {
			if (Socket != null) {
				Socket.close();
			}
		} */

		/**
		 * inputMsgBox 키입력하는 경우 호출
		 */
		function inputMsgBox_onkeypress() {
			if (event == null) {
				return false;
			}

			// 엔터키 누를 경우 서버로 메시지 전송
			var keyCode = event.keyCode || event.which;
			if (keyCode == 13) {
				sendButton_onclick();
			}
		}
	</script>


	<!-- 채팅폼 양식(ajax로 그려야됨)  -->
	<!-- 		<div style="display: flex;">
			<div class="col-md-1" style="padding-right: 0px; width: 70px;">
				나중에 참고 <img th:src="'/userboard/upload/' + ${user.profile_img}" alt=""
						style="height: 165px; border-radius: 32%; border: 2px solid black;">
				<div style="width: 60px; float: left; text-align: center;">
					<img src="../../../../resources/images/img/heart.ico" alt=""
						style="height: 50px; border-radius: 32%;"> <b
						style="display: block;">이정아</b>
				</div>

			</div>
			<div class="col yourbubble">하이2222ㅋㅋㅋㅋㅋ하이2222ㅋㅋㅋㅋㅋ하이2222ㅋㅋㅋㅋㅋ하이2222ㅋㅋㅋㅋㅋ하이2222ㅋㅋㅋㅋㅋ하이2222ㅋㅋㅋㅋㅋ하이2222ㅋㅋㅋㅋㅋ하이2222ㅋㅋㅋㅋㅋ하이2222ㅋㅋㅋㅋㅋ하이2222ㅋㅋㅋㅋㅋ</div>

		</div>
		
		<div style="display: flex;">

			<div class="col mybubble">하이2222ㅋㅋㅋㅋㅋ하이2222ㅋㅋㅋㅋㅋ하이2222ㅋㅋㅋㅋㅋ하이2222ㅋㅋㅋㅋㅋ하이2222ㅋㅋㅋㅋ
				ㅋ하이2222ㅋㅋㅋㅋㅋ하이2222ㅋㅋㅋㅋㅋ하이2222ㅋㅋㅋㅋㅋ하이2222ㅋㅋㅋㅋㅋ하이2222ㅋㅋㅋㅋㅋ</div>
		</div> -->


</body>


</html>