
<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>방 리스트</title>

<div th:replace="/user/includes/bootstrap_link :: bootstrap_link"></div>
<style>
html, body {
	height: 100%;
	margin: 0px;
}

.mybubble {
	float: right;
	text-align: end;
	overflow: hidden;
	display: flex;
	position: relative;
	z-index: 0;
	max-width: 100%;
	border-radius: 16px 16px;
	font-size: 15px;
	line-height: 1.33;
	background-color: #d9f7e7;
	word-break: break-word;
	vertical-align: bottom;
	margin: 10px 15px;
	padding: 10px;
	clear: right;
}

.yourbubble {
	float: left;
	text-align: inherit;
	overflow: hidden;
	display: flex;
	position: absolute;
	z-index: 0;
	max-width: 100%;
	border-radius: 16px 16px;
	font-size: 15px;
	line-height: 1.33;
	background-color: #f4f4f4;
	word-break: break-word;
	vertical-align: bottom;
	margin-left: 50px;
	margin-top: 25px;
	padding: 10px;
	clear: left;
}

.msg_input {
	height: 10px;
	min-height: 40px;
	font-size: 15px;
	border: 0 none;
	resize: none;
	background-color: #f5f6f8;
	width: 100%;
	padding-top: 10px;
}

.side {
	background-color: white;
	z-index: 5;
	position: absolute;
}

.wrapper {
	/* overflow-x: hidden;
	height: 100%; */
}

.chatBoxArea {
	height: 82%;
	/* 	overflow-y: auto;
    overflow-x: hidden; */
}

/* #absdiv1 {
   z-index: 5;
   position: absolute;
   width: 150px;
   height: 350px;
   top: 10px;
   left: 10px;
   border: 1px dashed #990000;
   background-color: #ffdddd;
   text-align: center;
} */
</style>

</head>
<body>

	<input type="hidden" id="ch_seq" th:value="${chatroom.ch_seq}" />
	<input type="hidden" id="user_id" th:value="${user_id}" />
	<!-- 사이드 -->
	<div class="side" style="width: 400px; display: none;">
		<div class="row">
		
			<div class="col-3" style="text-align: center; align-self: center; padding-right: 0px;">
			<a href="#" role="button"  data-toggle="modal" data-target="#chatDetailModal">
			<img src="../../../../resources/images/img/setup_bl.png" style="width: 
					25px; height: 25px;"></a>
			</div>
			<div class="col-6" style="text-align: center; ">
			<h5 style="margin-top: 20px;">
					<b>대화중 멤버</b>
				</h5>
			</div>
			
			<div class="col-2" style="text-align: center;   align-self: center;">
				<a href=""  role="button">
				<img src="../../../../resources/images/img/out_bl.png"
					style="width: 25px; height: 25px; float: left;"></a>
			</div>

		</div>
		<div class="row" style="min-height: 860px;margin-top:35px;margin-right: 40px;margin-left: 0px;">
			<div class="col" style="text-align: center; height: 100px;">
				<img src="../../../../resources/images/img/chatroom.png"
					style="width: 45px; height: 45px; margin-right: 10px; border-radius: 20px;">
				<b style="vertical-align: revert;">아이디</b>
			</div>
			<div class="col-3" style="height: 100px;">
				<h5 style="margin-bottom: 0px;">
					<span class="badge badge-success"
						style="background-color: rgb(24, 210, 105); margin-top: 10px;">방장</span>
				</h5>
			</div>
		</div>
		<!-- 			<div class="row" style="display:block;">
			
			<a href="#" role="button" style="margin-left: 0px;"><img
					src="../../../../resources/images/img/etc.png" style="width: 25px; height: 25px; float: left;">
			<div class="col" style="padding:0px;">
			<ul class="bottom" style="background-color:#f5f6f8; margin:0px; text-align:center; padding:0px;">대화설정</ul></div>
			</a>
			<a href="#" role="button" style="margin-left: 0px;"><img
					src="../../../../resources/images/img/etc.png" style="width: 25px; height: 25px; float: left;">
			<div class="col" style="padding:0px;">
			<ul class="bottom2" style="background-color:#f5f6f8; margin:0px; text-align:center; padding:0px;">나가기</ul></div>
			</a>
			</div> -->
	</div>




	<!-- <div class="wrapper" style="position: relative;"> -->

	<!--    <div id="absdiv1">
         <br /><span class="bold">DIV #1</span>
         <br />position: absolute;
         <br />z-index: 5;
      </div> -->


	<div class="row"
		style="background-color: rgb(24, 210, 105); height: 55px; magin-top: 10px; position: relative; z-index: 3;">
		<div class="col-12"
			style="text-align: -webkit-center; align-self: center; color: white; margin-top: 5px;">
			<a href="#" role="button" style="margin-left: 0px;" id="etc"><img
				src="../../../../resources/images/img/etc.png"
				style="width: 25px; height: 25px; float: left; margin-left: 20px;">
			</a> <b style="margin-left: 30px;" th:text="${chatroom.ch_title}"></b>
			<div style="float: right; margin-right: 20px;">
				<a th:href="@{/chat/chatRoomOut.do(ch_seq=${chatroom.ch_seq})}"
					style="margin-left: 0px;"><img
					src="../../../../resources/images/img/out.png"
					style="width: 25px; height: 25px;"> </a>
			</div>
		</div>
	</div>

	<div class="today"
		style="margin-top: 20px; text-align: -webkit-center;">
		<b th:text="${datestr}"></b>
	</div>


	<div id="chatBoxArea" class="chatBoxArea"></div>

		<ul class="talk_write row"
			style="padding-left: 10px; width: 100%; bottom: 0; margin: 0px; min-height: 40px; background-color: #fff;">
			<li class="input_msg"
				style="border-radius: 10px; height: 40px; background-color: #f5f6f8; width: 100%; display: flex;">
				<input id="inputMsgBox" placeholder="메시지를 입력하세요." rows="2"
				class="msg_input" onkeypress="inputMsgBox_onkeypress()"></input>
				<button type="submit" id="sendButton" class="btn btn-success btn"
					onclick="sendButton_onclick()"
					style="width: 100px; background-color: rgb(24, 210, 105); border: thick;">
					<b>전송</b>
				</button>
			</li>
		</ul>
	

	<div th:replace="/user/includes/bootstrap_script :: bootstrap_script"></div>
	<div th:replace="/user/includes/chat_Detail_Modal :: chat_Detail_Modal"></div>
	

	<script>

     $(function() {
        
        var data = {
            ch_seq : $("#ch_seq").val(),
         }
        
        
        $.ajax({
              url : "/chat/chatRoomMemberGet.do",
              type : 'POST',
              contentType:"application/json",
              data : JSON.stringify(data),
              success : function(data) {
                 console.log('채팅방멤버' + data)
                 
              },
              error : function(e) {
                 console.log("error:", e);
              }
           })
        
     });
      
   
   </script>


	<script type="text/javascript">
      let Socket = null;
      var loginId = null;

      window.onload = function() {

         //<![CDATA[
         //HTML5가 제공하는 WebSocket 객체를 통해 서버 연결을 수행
         Socket = new WebSocket("ws://" + location.host + "/"
               + "/chatSocket.do?ch_seq=" + $("#ch_seq").val()
               + "&user_id=" + $("#user_id").val());
         //]]>

         /* /"+$("#roomNumber").val() */
         Socket.onopen = function(message) {
            console.log(message.user_id)
            //var d = JSON.parse(msg);
            //let html = "";
            //html += "<b>"+d.user_id+"님이 들어옴</b>"  
            console.log('접속완료')
            
            //여기서 현재 현좁
            
         };

         /**
          * 웹소켓 메시지(From Server) 수신하는 경우 호출
          */
         Socket.onmessage = function(message) {
            var msg = message.data;
            console.log('제발 : ' + msg);
            //<![CDATA[
            if (msg != null && msg.trim() != '') {

               var d = JSON.parse(msg);
               if (d.type == "getId") {
                  var si = d.user_id != null ? d.user_id : "";
                  if (si != '') {
                     $("#user_id").val(si);
                  }
               } else if (d.type == "message") {
                  let html = "";
                  if (d.user_id == $("#user_id").val()) { //나
                     html += "<div>"   
                     html += "<div style='float: right; text-align: center;'>"
                     html += "</div><div class='mybubble'>"
                           + d.msg + "</div><br>"
                     $("#chatBoxArea").append(html);
                  } else { //상대
                     console.log('제발!!@@')
                     var data = {}
                     data["user_id"] = d.user_id;
                     $
                           .ajax({
                              url : '/ajax/userInfoChat.do',
                              processData : false,
                              contentType : "application/json",
                              cache : false,
                              type : 'POST',
                              data : JSON.stringify(data),
                              success : function(data) {
                                 let html = "";
                                 console.log('하하 '
                                       + data[1].PROFILE_IMG)
                              
                                 html += "<div style='margin-left:20px;'>"
                                 //html += "<img src='#' alt='#' style='height: 165px; border-radius: 32%; border: 2px solid black;'>"
                                 html += "<div style='float: left; text-align: center;'></div>"
                                 html += "<div style='margin-top:30px;'><img src='/userboard/upload/"
                                       + data[1].PROFILE_IMG
                                       + "' alt='' style='height: 40px; width:40px; border-radius: 32%;'>"

                                 html += "<span style='margin-left:20px;'><b>"

                                       + d.user_id
                                       + "</b></span>"
                                 html += "<div class='yourbubble' style='margin-left:50px; margin-top:0px;'>"
                                       + d.msg + "</div></div><br>"
                                 $("#chatBoxArea").append(html);
                              },
                              error : function(e) {
                                 console.log("error:", e);
                              }
                           });

                     $("#chatBoxArea").append(html);
                  }
               } else if(d.type == "allMessage") { //all 메시지?
                  console.warn("msg : " + msg);
                  console.warn("d : " + d);
                  let html = "";
                  html +="<div class='row' style='display:grid;'><b style='display: block; text-align:center; margin:15px 0px; '>"+d.msg+"</b></div>"
                  $("#chatBoxArea").append(html);
               }
            }
            //]]>
            
             //$('#chatBoxArea')
            //.animate({scrollTop: $('#chatBoxArea')[0].scrollHeight}, 1000); 
             $(document).scrollTop($(document).height());
             
         };

         /**
          * 웹소켓 사용자 연결 해제하는 경우 호출
          */
         Socket.onclose = function(message) {
            $("#chatBoxArea").append("Server is disconnd왜해제해!!!!ected!!.");
         };

         /**
          * 웹소켓 에러 발생하는 경우 호출
          */
         Socket.onerror = function(message) {
            /* addLineToChatBox("Error!"); */
         };
      }

      /**
       * Send 버튼 클릭하는 경우 호출 (서버로 메시지 전송)
       */
      function sendButton_onclick() {
         console.log('여긴오냐')
         var inputMsgBox = $("#inputMsgBox");
         if (inputMsgBox == null || inputMsgBox.val() == '') {
            console.warn('오면안되~~!')
            return false;
         }

         var chatBoxArea = document.getElementById("chatBoxArea");

         if (Socket == null || Socket.readyState == 3) {
            chatBoxArea.value += "Server is disconne으악!!!cted.\n";
            console.warn('오면안되~~222!')
            return false;
         }

         /* 단순 String데이터가 아닌 obj값으로 값을 세팅하고 
            JSON형태로 발신처리로 변경
              메시지를 보낼땐 type값을 message로 구분하여 발송 */
         var option = {
            type : "message",
            ch_seq : $("#ch_seq").val(),
            user_id : $("#user_id").val(),
            /*             userName : $("#userid").val(), */
            msg : inputMsgBox.val()
         }

         // 서버로 메시지 전송
         Socket.send(JSON.stringify(option));
         inputMsgBox.val("")
         inputMsgBox.focus();

         return true;
      }

      /**
       * Disconnect 버튼 클릭하는 경우 호출
       */
      /* function disconnectButton_onclick() {
         if (Socket != null) {
            Socket.close();
         }
      } */

      /**
       * inputMsgBox 키입력하는 경우 호출
       */
      function inputMsgBox_onkeypress() {
         if (event == null) {
            return false;
         }

         // 엔터키 누를 경우 서버로 메시지 전송
         var keyCode = event.keyCode || event.which;
         if (keyCode == 13) {
            sendButton_onclick();
         }
      }
   </script>

	<script>
   $(function() {
		$('#etc').click(function(){
			//$('.side').css("display","inline-block");
			$('.side').toggle();	
   })
   });
   

   
   </script>

</body>


</html>