<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<div th:replace="/user/includes/bootstrap_link :: bootstrap_link"></div>
<link rel="shortcut icon"
	href="../../../resources/images/img/favicon.ico" type="image/x-icon" />
</head>
<body>
	<div class="wrapper" style="position:relative; height:600px; width:280px;">
		<div class="row"
			style="background-color: rgb(24, 210, 105); height: 55px; magin-top: 10px;">
			<div class="col-12"
				style="text-align: -webkit-center; align-self: center; color: white;">
				<b style="vertical-align: revert;">현재 대화에 참여중인 멤버(3)</b>
						<div style="float: right; margin-right: 20px;">
					<a href="" style="margin-left: 0px;" id="out"><img
						src="../../../../resources/images/img/out.png"
						style="width: 25px; height: 25px;"> </a>
				</div>
			</div>
		</div>

		<div class="row">
			<div class="col-1"></div>
			<div class="col-4" style="color: black; padding: 0px;">
				<h5 style="margin-top: 20px;">멤버리스트</h5>
			</div>
		</div>
		<div class="row" style="height: 600px;">
			<div class="col-1"></div>
			<div class="col-7">
				<img src="../../../../resources/images/img/chatroom.png"
					style="width: 45px; height: 45px; margin-right: 10px; border-radius:20px;"> <b style="vertical-align: revert;">아이디</b>		
			</div>
			<div class="col-3">
			<h5  style="margin-bottom: 0px;">
				<span class="badge badge-success"
					style="background-color: rgb(24, 210, 105); margin-top:10px;">방장</span>
				</h5>
			</div>
			<div class="col-1"></div>
			<hr>
		</div>
	</div>
</body>
</html>