<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>방 리스트</title>

<div th:replace="/user/includes/bootstrap_link :: bootstrap_link"></div>
</head>
<body>
	<div class="warpper">
		<div class="row"
			style="background-color: rgb(24, 210, 105); height: 55px; magin-top: 10px;">
			<div class="col-12"
				style="text-align: -webkit-center; align-self: center; color: white; margin-top: 5px;">
				<b style="margin-left: 30px;">채팅</b>
				<div style="float: right; margin-right: 20px;">
					<a href="" data-toggle="modal" data-target="#chatRoomFormlModal"
						style="margin-left: 0px;"><img
						src="../../../../resources/images/img/plus.png"
						style="width: 20px; height: 20px;"> </a>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-1"></div>
			<div class="col-3" style="color: black; padding: 0px;">
				<h5 style="margin-top: 20px;">채팅방 목록</h5>
			</div>
		</div>

		<div class="row chatList" th:each="list : ${roomList}">
			<div class="col-1"></div>
			<div class="col-8" style="color: black; padding: 0px;">
				<span> <b style="font-size: xx-large;"
					th:text="${list.ch_seq}"></b>
				</span> <img src="../../../../resources/images/img/chatroom.png"
					style="width: 45px; height: 45px; margin-left: 10px;"> <a
					href="#" th:onclick="|javascript:goRoom('${list.ch_seq}')|"> <span
					th:text="|&nbsp;&nbsp;${list.ch_title}|"></span>
				</a>

			</div>

			<!-- 비밀방 일때-->
			<th:block th:switch="${list.ch_pw_check}">
				<!-- th:classappend 로 m_seq로 줘서 그안에 img가 있으면 비밀방, 없으면 공개방  -->
				<div th:case="1" class="col-1"
					th:classappend="|pwStatus${list.ch_seq}|">
					<img src="../../../../resources/images/img/lock.png"
						style="width: 20px; height: 20px; margin-left: 10px; float: light; margin-top: 20px;">
				</div>

				<div th:case="0" class="col-1"
					th:classappend="|pwStatus${list.ch_seq}|"></div>
				<hr style="width: 90%;">
			</th:block>
		</div>



	</div>


</body>
<div th:replace="/user/includes/bootstrap_script :: bootstrap_script"></div>
<div th:replace="/user/includes/chat_Room_Form :: chat_Room_Form"></div>

<script>
$(function() {
	$("#room-btn").click(function(e) {
		$('#chatRoomFormlModal').modal('hide');
	});
});
</script>


<script>
	function onClickHandler() {
		if ($("input:checkbox[id='flag']").is(":checked") === true) {
			console.log('true일떄')
			$('#ch_pw').attr('disabled', false);
		} else {
			console.log('false일떄')
			$('#ch_pw').attr('disabled', true);
		}
	}
</script>


<script>

//방 참여버튼 눌렀을 시 호출
	function goRoom(ch_seq) {
	//<![CDATA[
		console.log('ch_seq : ' + ch_seq)
		
		var pw_room_status = $('.pwStatus'+ch_seq)
		
		console.log(pw_room_status.children('img').length);
		
		
		if(pw_room_status.children('img').length === 1){ //비밀방O
			$.ajax({
				url : "roomPw.ajax",
				data : {
					ch_seq : ch_seq
				},
				type : 'POST',
				success : function(res) {
					console.log('비밀번호 : ' + res.pw)
						
					swal("방 비밀번호를 입력해주세요:", {
					  content: "input",
					})
					.then((value) => {
						if(res.pw === value){
							//링크이동
							
							alert('비번 맞음')
						}else{
							swal(`방 pw가 틀렸습니다.: 입력한 비밀번호 : ${value}`);
						}
					});
						
						/* location.href = "moveChating.htm?roomName=" + name + "&"
						+ "roomNumber=" + number; */
						
						
				},
				error:function(request,status,error){
			        console.log("code:"+request.status+"\n"+"message:"+request.responseText+"\n"+"error:"+error);
			       }
			});
			
			
		}else{
			location.href="/chat/entrance.do?ch_seq="+ch_seq
		}

}


	$(function() {

		$(".chatRoomForm").submit(function(e) {
			
		 	if ($('#ch_title').val() == "") { // 아이디 검사
				alert('방제목을 입력해주세요.');
				$('#ch_title').focus();
				$('#chatRoomFormlModal').modal('show');
				e.stopImmediatePropagation();
			} 
			
			e.preventDefault();
			var formData = new FormData(this);

			console.log("방 제목 : " + formData.get("ch_title"))
			console.log("방 설명 : " + formData.get("ch_description"))
			console.log("방 비밀방 : " + formData.get("ch_pw"))

			let data = {
				"ch_title" : formData.get("ch_title"), //신고유형
				"ch_description" : formData.get("ch_description"), //신고제목
				"ch_pw" : formData.get("ch_pw")
			}

			$.ajax({
				url : '/chat/chatroominsert.do',
				processData : false,
				contentType : "application/json",
				cache : false,
				type : 'POST',
				data : JSON.stringify(data),
				success : function(data) {
					$('.chatList').empty();
					//방목록 비동기로 받아서 뿌려줘야됨
					$('#ch_title').val('');
					$('#ch_description').val('');
					$('#ch_pw').val('');
					console.log('반환받음.. : ' + data)
					
					$.each(data, function(index, item) {
						console.log("data.length:::"+data.length);
						for(var i = 0; i < data.length; i++){
							let html = "";
								
						html +="<div class='row chatList'>"
						html +="<div class='col-1'></div>"
						html +="<div class='col-8' style='color: black; padding: 0px;'>"+data.ch_seq+"<span>"
						html +="<b style='font-size: xx-large;'>"+data.ch_seq+"</b></span> "
						html +="<img src='../../../../resources/images/img/chatroom.png' style='width: 45px; height: 45px; margin-left: 10px;'>"
						html +='<a href="#" onclick="goRoom('+data.ch_seq+')">'
						html +="<span>&nbsp;&nbsp;"+data.ch_title+"</span></a></div>"
							
						if(data.ch_pw_check === 1){
							html+= "<div class='col-1 pwStatus'"+data.ch_seq+">"
							html+= "<img src='../../../../resources/images/img/lock.png' style='width: 20px; height: 20px; margin-left: 10px; float: light; margin-top: 20px;'>"
							html+="</div>"
						}else{
							html +="<div class='col-1 pwStatus'"+data.ch_seq+"></div>"					
						}
						
						}
						html +="<hr style='width: 90%;'></div>"
							$('.chatList').append(html);
					});
							
				},
				error : function(e) {
					console.log("error:", e);
				}
			})
		})

	});
</script>
</html>