<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>방 리스트</title>

<div th:replace="/user/includes/bootstrap_link :: bootstrap_link"></div>
</head>
<body>
	<div class="warpper">
		<div class="row"
			style="background-color: rgb(24, 210, 105); height: 55px; magin-top: 10px;">
			<div class="col-12"
				style="text-align: -webkit-center; align-self: center; color: white; margin-top: 5px;">
				<b style="margin-left: 30px;">채팅</b>
				<div style="float: right; margin-right: 20px;">
					<a href="" data-toggle="modal" data-target="#chatRoomFormlModal"
						style="margin-left: 0px;"><img
						src="../../../../resources/images/img/plus.png"
						style="width: 20px; height: 20px;"> </a>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-1"></div>
			<div class="col-3" style="color: black; padding: 0px;">
				<h5 style="margin-top: 20px;">채팅방 목록</h5>
			</div>
		</div>
		<!-- 1번째 채팅룸 -->
		<div class="row">
			<div class="col-1"></div>
			<div class="col-8" style="color: black; padding: 0px;">
				<span><b style="font-size: xx-large;">1</b></span> <img
					src="../../../../resources/images/img/chatroom.png"
					style="width: 45px; height: 45px; margin-left: 10px;"> <a
					href=""><span>&nbsp;&nbsp;어서오세요어서오세요어서오세요</span></a>
			</div>
			<div class="col-1">
				<img src="../../../../resources/images/img/lock.png"
					style="width: 20px; height: 20px; margin-left: 10px; float: light; margin-top: 20px;">
			</div>

		</div>
		<hr style="width: 90%;">
		<!-- 여기까지 한셋트 -->
		<div class="row">
			<div class="col-1"></div>
			<div class="col-11" style="color: black; padding: 0px;">
				<span><b style="font-size: xx-large;">1</b></span> <span>&nbsp;어서오세요</span>
			</div>
		</div>
		<hr style="width: 90%;">



	</div>


</body>
<div th:replace="/user/includes/bootstrap_script :: bootstrap_script"></div>
<div th:replace="/user/includes/chat_Room_Form :: chat_Room_Form">
	<script>
	$("#room-btn").click(function(e) {

		$('#chatRoomFormlModal').modal('hide');

	});
</script>


	<script>
	function onClickHandler() {
		if ($("input:checkbox[id='flag']").is(":checked") == true) {
			$('#ch_pw').attr('disabled', false);
		} else {
			$('#ch_pw').attr('disabled', true);
		}
	}
</script>


	<script language="JavaScript">
	$(function() {
		$("#room-btn").click(function(e) {
			$('##chatRoomFormlModal').modal('hide');
		});

		$(".chatRoomForm").submit(function(e) {
			e.preventDefault();
			var formData = new FormData(this);

			console.log("방 제목 : " + formData.get("ch_title"))
			console.log("방 설명 : " + formData.get("ch_description"))
			console.log("방 비밀방 : " + formData.get("ch_pw"))

			let data = {
				"ch_title" : formData.get("ch_title"), //신고유형
				"ch_description" : formData.get("ch_description"), //신고제목
				"ch_pw" : formData.get("ch_pw")
			//신고내용
			}

			$.ajax({
				url : '/chat/chatroominsert.do',
				processData : false,
				contentType : "application/json",
				cache : false,
				type : 'POST',
				data : JSON.stringify(data),
				success : function(data) {
					console.log('반환받음.. : ' + data)
					/* if (data == 0) {
						swal({
							title : "이미 신고한 게시글입니다.",
							icon : "warning",
							buttons : true
						})
						100
					} else {
						swal({
							title : "신고 접수가 완료되었습니다.",
							icon : "success"
						})

					} */
				},
				error : function(e) {
					console.log("error:", e);
				}
			})
		})

	});
</script>
</html>