<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<title>방 리스트</title>
	<link rel="shortcut icon" href="../../../resources/images/img/favicon.ico" type="image/x-icon" />
	<style>
		body {
			overflow-y: auto;
			overflow-x: hidden;
		}
		._title {
	display: inline-block;
	width: 100px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: normal;
	line-height: 1.2;
	height: 1.2em;
	text-align: left;
	word-wrap: break-word;
	display: -webkit-box;
	-webkit-line-clamp: 1;
	-webkit-box-orient: vertical;
	inline-size: -webkit-fill-available;
}
	</style>

	<div th:replace="/user/includes/bootstrap_link :: bootstrap_link"></div>
</head>

<body>
	<div class="warpper">
		<div class="row" style="background-color: rgb(24, 210, 105); height: 55px; magin-top: 10px;">
			<div class="col-12" style="text-align: -webkit-center; align-self: center; color: white; margin-top: 5px;">
				<b style="margin-left: 30px;">채팅</b>
				<div style="float: right; margin-right: 20px;">
					<a href="" data-toggle="modal" data-target="#chatRoomFormModal" style="margin-left: 0px;"><img
							src="../../../../resources/images/img/plus.png" style="width: 20px; height: 20px;"> </a>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-1"></div>
			<div class="col-3" style="color: black; padding: 0px;">
				<h5 style="margin-top: 20px;">채팅방 목록</h5>
			</div>
		</div>

		<div class="row chatList" th:each="list : ${roomList}">
			<div class="col-1"></div>
			<div class="col-8" style="color: black; padding: 0px;">
				<span> <b style="font-size: xx-large;" th:text="${list.CH_SEQ}"></b>
				</span> <img src="../../../../resources/images/img/chatroom.png"
					style="width: 45px; height: 45px; margin-left: 10px; border-radius:20px;"> <a href="#"
					th:onclick="|javascript:goRoom('${list.CH_SEQ}')|"> <span th:text="|&nbsp;&nbsp;${list.CH_TITLE}|"
						id="list"></span>
				</a>
			</div>

			<!-- 비밀방 일때-->
			<th:block th:switch="${list.CH_PW_CHECK}">
				<div th:case="1" class="col-1" th:classappend="|pwStatus${list.CH_SEQ}|">
					<img src="../../../../resources/images/img/lock.png"
						style="width: 20px; height: 20px; margin-left: 10px; float: light; margin-top: 20px;">
				</div>

				<div th:case="0" class="col-1" th:classappend="|pwStatus${list.CH_SEQ}|"></div>
				<hr style="width: 90%;">
			</th:block>
		</div>
	</div>

</body>
<div th:replace="/user/includes/bootstrap_script :: bootstrap_script"></div>
<div th:replace="/user/includes/chat_Room_Form :: chat_Room_Form"></div>

<script>
	function onClickHandler() {
		if ($("input:checkbox[id='flag']").is(":checked") === true) {
			$('#ch_pw').attr('disabled', false);
		} else {
			$('#ch_pw').attr('disabled', true);
		}
	}
</script>

<script>

	//방 참여버튼 눌렀을 시 호출
	function goRoom(ch_seq) {
		//<![CDATA[
		var pw_room_status = $('.pwStatus' + ch_seq)

		if (pw_room_status.children('img').length === 1) { //img태그가 있을경우 비밀방
			$.ajax({
				url: "roomPw.ajax",
				data: {
					ch_seq: ch_seq
				},
				type: 'POST',
				success: function (res) {

					swal("방 비밀번호를 입력해주세요:", {
						content: "input",
					})
						.then((value) => {
							if (res.pw === value) {
								location.href = "/chat/entrance.do?ch_seq=" + ch_seq
							} else {
								swal(`비밀번호가 일치하지 않습니다.`);
							}
						});

				},
				error: function (request, status, error) {
					console.log("code:" + request.status + "\n" + "message:" + request.responseText + "\n" + "error:" + error);
				}
			});


		} else {
			location.href = "/chat/entrance.do?ch_seq=" + ch_seq
		}
	}

	//방 생성 form 입력 후 서버로 전송하여 DB에 삽입 후 동기로 roomlist.do 호출
	$(function () {
		$(".chatRoomForm").submit(function (e) {
			if ($('#ch_title').val() == "") {
				alert('방제목을 입력해주세요.');
				$('#ch_title').focus();
				$('#chatRoomFormlModal').modal('show');
				e.stopImmediatePropagation();
				return false;
			}

			var formData = new FormData(this);

			let data = {
				"ch_title": formData.get("ch_title"),
				"ch_description": formData.get("ch_description"),
				"ch_pw": formData.get("ch_pw")
			}

			$.ajax({
				url: '/chat/chatroominsert.do',
				processData: false,
				contentType: "application/json",
				cache: false,
				type: 'POST',
				data: JSON.stringify(data),
				success: function (data) {
					$('#ch_title').val('');
					$('#ch_description').val('');
					$('#ch_pw').val('');
					location.href = "/chat/roomlist.do"
				},
				error: function (request, status, error) {
					console.warn("code:" + request.status + "\n" + "message:" + request.responseText + "\n" + "error:" + error);
				}
			})
		})

	});
</script>

<script>
	//form태그 전송 후 modal 닫음
	$(function () {
		$("#room-btn").click(function (e) {
			$('#chatRoomFormlModal').modal('hide');
		});
	});
</script>

</html>