<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>


<style>
</style>

<body>
    <div>


        <div>
            위스터디 이메일 인증
        </div>
        <div class="container" style="background-color: white; border: 1px solid black;">

            <div>
                <span style="padding-left:30px; font-size: xx-large;" > 이메일 인증을 완료하시려면 인증번호를 입력해주세요</span>
            </div>

            <div>
                <h3 style="padding-left:30px;">인증번호 안내</h3>
            </div>
            <div style="text-align:-webkit-center; text-align-last:start;">
                <div class="grid-container" style="display:grid; border-top: 1px solid black; border-bottom: 1px solid silver; width:95%;margin-bottom:10px;">
                    <div class="item1" style="grid-column: 1 / span 1;   background-color: #F8F8F8; padding: 10px 0 10px 10px;">
                        인증번호</div>
                    <div class="item2"
                        style="grid-column: 2 / span 3;    background-color: rgba(255, 255, 255, 0.8); padding: 10px 0 10px 10px;">
                        <b>${key}</b>
                        </div>
                </div>

                <div>※인증번호를 입력하셔야만 이메일 인증이 완료됩니다.</div>
               
            </div>

        </div>
        <span style="color:#a8a8a8">본 메일은 발신 전용 메일입니다. 문의는 <span style="color:gray">고객센터</span>  를 이용해 주세요.</span>
        <hr style="border-color: ghostwhite"/>
        (주)위스터디 비트캠프 서울시 서초구 3층 301호 강남대로 459 (서초동, 백암빌딩) | 고객센터 nosangcoding@gmail.com / © Copyright NosangCoding All Rights Reserved.
        
    </div>
</body>

</html>