<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<link rel="shortcut icon"
	href="../../../resources/images/img/favicon.ico" type="image/x-icon" />
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<div th:replace="/user/includes/bootstrap_link :: bootstrap_link"></div>
<title>mypage</title>
</head>
<style>
h5 {
	color: #18d26e;
}

._border_box_shadow2 {
	background: #fff;
	margin: auto;
	margin-top: 25px;
	margin-bottom: 25px;
	box-shadow: 1px 2px 10px 1px rgba(0, 0, 0, 0.16), 0 2px 5px 0
		rgba(0, 0, 0, 0.26);
	border-radius: 3px;
	padding: 30px;
	width: 1242px;
}

._border_box_shadow3 {
	background: #fff;
	box-shadow: 1px 2px 10px 1px rgba(0, 0, 0, 0.16), 0 2px 5px 0
		rgba(0, 0, 0, 0.26);
}

body {
	background-color: rgb(230, 244, 232) !important;
}

._message_hover:hover {
	box-shadow: 0 0 6px rgba(35, 173, 255, 1) !important;
}

/* .container::-webkit-scrollbar-thumb {
	background-color:;
} */
.svg {
	fill: #E8336D;
	width: 30px;
}
</style>

<body>
	<!-- 마이페이지 -->
	<div th:replace="/user/includes/header :: header"></div>

	<!--  윗부분 시작 //////////////////////////////////////// -->
	<main id="main">
		<!-- ======= Breadcrumbs Section ======= -->
		<section class="breadcrumbs" style="margin-top: 70px;">
			<div class="container">

				<div class="d-flex justify-content-between align-items-center">
					<h2 style="color: #666666;">
						<b>마이페이지</b>
					</h2>
				</div>

			</div>
		</section>
		<!-- Breadcrumbs Section -->

	</main>

	<!-- th:src="'/studyboard/upload/' + ${studylist.IMAGE}" -->
	<div class="_border_box_shadow2" style="height: 1400px;">
		<div class="container"
			style="margin-top: 25px; padding: 0px; background-color: white;">
			<div class="row" style="height: 200px;">
				<div class="col-md-3"
					style="align-self: center; text-align: center; left: 15px;">
					<p>
						<img th:src="'/userboard/upload/' + ${user.profile_img}" alt=""
							style="height: 130px; border-radius: 50%;">
					</p>
				</div>

				<div class="col-md-4 pl-0" style="align-self: center;">
					<b style="font-size: larger; margin-left: 20px;"
						th:text="${user.nickname}"></b> <a class="_message_hover"
						th:href="@{/mypage/MyPageUserDetail.do}"> <img
						src="https://previews.123rf.com/images/martialred/martialred1507/martialred150700691/42613509-%EC%95%B1-%EB%B0%8F-%EC%9B%B9-%EC%82%AC%EC%9D%B4%ED%8A%B8%EC%9D%98-%EC%84%A4%EC%A0%95-%EC%95%84%EC%9D%B4%EC%BD%98-%EC%95%84%EC%9D%B4%EC%BD%98.jpg"
						class="mb-1 _message_hover" alt="" style="height: 27px;">
					</a> <a th:href="@{/message/mypage_Message_From_Board.do}"
						class="_message_hover"> <img class="_message_hover"
						src="../../../../resources/images/img/message_black.png"
						style="width: 30px; margin-bottom: 5px;" alt=""></a>
					<hr
						style="border: solid 1px; margin-top: 0px; margin-bottom: 5px; width: 99%;" />
					<p style="margin-left: 20px;" th:text="${user.introduce}"></p>
				</div>
				<div class="col-md-5">
					<div class="row" style="height: 10px; margin-bottom: 50px;">
						<div class="col-md-8"></div>
					</div>
					<div class="row">
						<div class="col-md-2" style="text-align: center;">
							<a href="/mypage/mypage_Myboard.do">
								<h5 style="color: cornflowerblue" class="_message_hover"
									th:text="${sb}"></h5>
							</a> <b>게시글</b>
						</div>
						<div class="col-md-2" style="text-align: center;">
							<a href="/mypage/mypage_Myboard.do">
								<h5 style="color: cornflowerblue" class="_message_hover"
									th:text="${cm}"></h5>
							</a> <b>댓글</b>
						</div>
						<div class="col-md-2" style="text-align: center;">
							<h5 style="color: cornflowerblue" th:text="${bk}"></h5>
							<b>북마크</b>
						</div>
						<div class="col-md-2" style="text-align: center;">
							<h5 style="color: cornflowerblue" th:text="${js}"></h5>
							<b>참여중<br />스터디
							</b>
						</div>
						<div class="col-md-2" style="text-align: center;">
							<h5 style="color: cornflowerblue" th:text="${rs}"></h5>
							<b>모집중<br />스터디
							</b>
						</div>

					</div>
				</div>
			</div>
		</div>
		<!--  윗부분 끝 //////////////////////////////////////// -->
		<!--  중간부분 시작  //////////////////////////////////////// -->
		<div class="container" style="height: 500px; padding-top: 15px;">
			<div style="padding: 40px 30px;">
				<div class="row">
					&nbsp; &nbsp; &nbsp;
					<button type="button" class="btn btn-success"
						style="background-color: #18d26e; border-radius: 15px 15px 0px 0px; border: none;"
						id="_study_button1">
						<b>참여중 스터디</b>
					</button>
					<button type="button" class="btn btn-success"
						style="background-color: rgb(134, 240, 180); border-color: rgb(134, 240, 180); border-radius: 15px 15px 0px 0px;"
						id="_study_button2">
						<b>모집중 스터디</b>
					</button>
				</div>


				<input type="hidden" id="user_id" name="user_id"
					th:value="${user.user_id}">
				<!-- <span th:text="${user.USER_ID}"></span> -->

				<div class="_border_box_shadow3"
					style="padding: 9px; overflow-y: auto; border: 3px solid lightskyblue;">
					<div style="overflow-x: hidden; width: 100%; height: 400px;"
						id="recruting_study">
						<div th:each="studylist: ${studylist}">

							<hr style="border: solid 1px; margin-top: 0px;" />
							<!-- 여기부터 참여중 스터디!!!!!!!!!!!!!!!!!!!!!!!! -->

							<div class="row p-4">
								<div class="col-md-1" style="text-align: center;">
									<!-- 스터디 글 번호 -->
									<p style="font-size: xx-large; font-weight: bold;"
										th:text=${studylist.S_SEQ}></p>
								</div>

								<div class="col-md-8">
									<!-- @{/board/board_Support_Status.do} -->
									<span class="badge badge-pill badge-primary"
										th:text="${studylist.STATUS}"></span> <span
										class="badge badge-pill badge-info"
										th:text="${studylist.LEVEL}"></span> <span
										class="badge badge-pill badge-secondary"
										th:text="${studylist.CATE_LANGUAGE}"></span> <span
										class="badge badge-pill badge-warning"
										th:text="|${studylist.PEOPLE}명|" id="recruting_people">모집인원
										4/6</span> <span class="badge badge-pill badge-warning"
										th:text="${studylist.LOC}"></span> <span
										class="badge badge-pill badge-light"
										th:text="${studylist.CONTENT_KIND}"></span> <span
										class="badge badge-pill badge-danger"
										
										
										
										
										th:text="|마감일 : ${#dates.format(studylist.DEADLINE,'yyyy/MM/dd HH:mm')}|"></span> <span
										class="badge badge-pill badge-danger"
										th:text="|${studylist.ACCEPT_STATUS}|"></span> <a
										th:href="@{SupportStatus.do(s_seq=${studylist.S_SEQ})}"> <img
										src="https://previews.123rf.com/images/martialred/martialred1507/martialred150700691/42613509-%EC%95%B1-%EB%B0%8F-%EC%9B%B9-%EC%82%AC%EC%9D%B4%ED%8A%B8%EC%9D%98-%EC%84%A4%EC%A0%95-%EC%95%84%EC%9D%B4%EC%BD%98-%EC%95%84%EC%9D%B4%EC%BD%98.jpg"
										class="mb-1 _message_hover" alt="" style="height: 27px;">

										<br /> <b><span th:text="${studylist.TITLE}"
											style="font-size: xx-large;"></span></b><br />
									</a> <span th:text="${studylist.CONTENT}"></span><br />



								</div>
								<div class="col-md-3" style="text-align: right;">

									<th:block th:switch="${studylist.CONTENT_KIND}">
										<img th:case="온라인강의" th:src="${studylist.IMAGE}"
											alt='이미지가 없습니다' style='height: 140px; width: 140px;'>
										<img th:case="일반"
											th:src="'/studyboard/upload/' + ${studylist.IMAGE}"
											alt='이미지가 없습니다' style='height: 140px; width: 140px;'>
									</th:block>
									<!-- <img th:src="${studylist.IMAGE}" alt=""
									style="height: 140px; width: 140px;"> -->
								</div>
							</div>
						</div>
						<br />
						<!-- 여기까지 참여중 스터디!!!!!!!!!!!!!!!!!!!!! -->
					</div>
				</div>
			</div>
			<!--  중간부분 끝  //////////////////////////////////////// -->
			<!-- 여기부터 마지막 부분 시작/// 북마크 -->
			<div class="container" style="padding: 40px 30px; height: 500px;">
				<div style="margin-bottom: 20px;">

					<!-- <img src="../../../../resources/images/img/bookmark.png" alt=""
					style="height: 40px; margin-bottom: 10px;">  -->

					<div class="row" style="margin-left: 40px;">
						<svg class="svg" xmlns="http://www.w3.org/2000/svg"
							viewBox="0 0 56.69 51.02">
					<path
								d="M27.22,50.73a2.31,2.31,0,0,0,2.25,0C35.36,47.48,62.08,31.43,55.72,11,52.4.38,36.25-5.78,28.68,7.79a.38.38,0,0,1-.67,0C20.44-5.78,4.3.38,1,11-5.39,31.43,21.34,47.48,27.22,50.73Z" />
					</svg>

						&nbsp;&nbsp; <b style="font-size: 30px;">북마크</b>

					</div>
					<div class="_border_box_shadow3"
						style="padding: 9px; border: 3px solid wheat;">

						<div
							style="overflow-y: auto; overflow-x: hidden; width: 100%; height: 400px;">
							<hr style="border: solid 1px; margin-top: 0px; width: 98%;" />
							<div th:each="list: ${list}">
								<!-- 여기부터 데이터 하나 넣기 시작 -->
								<!-- 타임리프 for문 -->
								<div class="row" th:classappend="|bookmark${list.L_SEQ}|"
									style="padding: 24px;">
									<div class="col-md-1" style="text-align: center;">
										<!-- 스터디 글 번호 -->
										<p style="font-size: xx-large; font-weight: bold;"
											th:text="${list.L_SEQ}"></p>
									</div>
									<div class="col-md-2" style="text-align: center;">
										<img th:src="${list.L_IMAGE}" alt=""
											style="height: 140px; width: 140px;">
									</div>
									<div class="col-md-7"
										style="padding-left: 50px; padding-right: 0px; padding-top: 10px;">

										<h4 style="font-weight: bold; color: black;"
											th:text="${list.L_TITLE}"></h4>
										<br /> <br /> <img
											src="https://user-images.githubusercontent.com/35126809/53712500-7de3c980-3e8a-11e9-8358-23cd94011aeb.png"
											alt="" style="height: 40px;">
										<!-- 여기는 별점 /// 이거는 값을 받을수 있게끔 별 하나당 데이터를 받는식으로 수정해야됨 -->
										&nbsp; <span> <b th:text="${list.CATE_PRICE}"></b>
										</span> <br />

									</div>
									<div class="col-md-1" style="padding-right: 0px;">
										<button type="button" class="btn btn-danger"
											th:onclick="|javascript:deleteBookMark('${list.L_SEQ}')|"
											style="background-color: rgb(231, 76, 60); width: 70px; padding: 7px 0px;">
											<b>삭제</b>
										</button>
									</div>
									<hr style="width: -webkit-fill-available; border: solid 1px;" />
								</div>

							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- 여기까지 마지막 부분 끝/// 북마크 -->
		</div>
	</div>
	<div th:replace="/user/includes/footer :: footer"></div>
	<div th:replace="/user/includes/bootstrap_script :: bootstrap_script"></div>
	<script>
		$(function() {

			// 참여중 스터디 버튼 클릭시 색깔 바꾸기 시작
			$('#_study_button1').click(
					function() {
						$('#_study_button1').css('background-color',
								'rgb(19, 204, 97)');
						$('#_study_button1').css('border-color',
								'rgb(19, 204, 97)');

						$('#_study_button2').css('background-color',
								'rgb(134, 240, 180)');
						$('#_study_button2').css('border-color',
								'rgb(134, 240, 180)');

					});

			$('#_study_button2').click(
					function() {
						$('#_study_button1').css('background-color',
								'rgb(134, 240, 180)');
						$('#_study_button1').css('border-color',
								'rgb(134, 240, 180)');

						$('#_study_button2').css('background-color',
								'rgb(19, 204, 97)');
						$('#_study_button2').css('border-color',
								'rgb(19, 204, 97)');
					});
			// 참여중 스터디 버튼 클릭시 색깔 바꾸기 끝

		});
	</script>

	<!-- 참여중, 모집중 스터디 비동기 ajax -->
	<script>
		$(function() {
			let user_id = $('#user_id').val();
			console.log("유저아이디: " + user_id);
			let data = {
				"user_id" : user_id
			}

			//모집중
			$('#_study_button2')
					.on(
							"click",
							function() {
								console.log("유저아이디(모집중): " + user_id);
								$
										.ajax({
											url : '/ajax/recrutingStudy.do',
											processData : false,
											contentType : "application/json",
											cache : false,
											type : 'POST',
											data : JSON.stringify(data),
											success : function(data) {
												
												
												
												
												$('#recruting_study').empty();

												/* 				let recruting_people = data[0].PEOPLE;
																let recruting_num = data[0].S_SEQ;
																console.log("신청자수 " + recruting_people);
																let recruting_deadline = data[0].DEDLINE;
																let recruting_image = data[0].IMAGE;
																let recruting_title = data[0].TITLE;
																let recruting_content = data[0].CONTENT;
												 */

												$
														.each(
																data,
																function(index,
																		item) {
																	console
																			.log(item.S_SEQ);
																	
																	/*  제목이랑 내용 문자열 자르기 시작 */
																	if(data[index].TITLE.length > 18){
																		data[index].TITLE = data[index].TITLE.substr(0,18) + "...";
																	}
																	
																	if(data[index].CONTENT.length > 335){
																		data[index].CONTENT = data[index].CONTENT.substr(0,335) + "...";
																	
																	}
																	/*  제목이랑 내용 문자열 자르기 끝  */
																	
																	let html = "";

																	html += "<div>";
																	html += "<hr style='border: solid 1px; margin-top: 0px; width:99%;' />";
																	html += "<div class='row p-4'>";
																	html += "<div class='col-md-1' style='text-align: center;'>";
																	html += "<p style='font-size: xx-large; font-weight: bold;'>"
																			+ data[index].S_SEQ
																			+ "</p></div>";
																	html += "<div class='col-md-8'>";
																	html += "<span class='badge badge-pill badge-primary'>"
																			+ data[index].STATUS
																			+ "</span>";
																	html += "<span class='badge badge-pill badge-info'>"
																			+ data[index].LEVEL
																			+ "</span>";
																	html += "<span class='badge badge-pill badge-secondary'>"
																			+ data[index].CATE_LANGUAGE
																			+ "</span>";
																	html += "<span class='badge badge-pill badge-warning'>"
																			+ data[index].PEOPLE
																			+ "명</span>";
																	html += "<span class='badge badge-pill badge-warning'>"
																			+ data[index].LOC
																			+ "</span>"
																	html += "<span class='badge badge-pill badge-light'>"
																			+ data[index].CONTENT_KIND
																			+ "</span>";
																	html += "<span class='badge badge-pill badge-light'>"
																			+ data[index].ACCEPT_STATUS
																			+ "</span>";
																	html += "<a class='_message_hover' href='/mypage/SupportStatus.do?s_seq="
																			+ data[index].S_SEQ
																			+ "'>";
																	/* html += "<a href = '/board/board.Support_Status.do'>"; */
																	html += "<img src='https://previews.123rf.com/images/martialred/martialred1507/martialred150700691/42613509-%EC%95%B1-%EB%B0%8F-%EC%9B%B9-%EC%82%AC%EC%9D%B4%ED%8A%B8%EC%9D%98-%EC%84%A4%EC%A0%95-%EC%95%84%EC%9D%B4%EC%BD%98-%EC%95%84%EC%9D%B4%EC%BD%98.jpg' class='mb-1 _message_hover' alt='' style='height: 27px;'></a><br/>";
																	html += '<a href="/board/my_Writing_Common_Study_Detail.do?s_seq='+data[index].S_SEQ+'" style="color: black;">';
																	/* html += "<span class='ml-3 badge badge-pill badge-danger'마감일:>" + data[index].DEADLINE + "</span><br/>"; 날짜이상함*/
																	html += "<b><span style='font-size:xx-large;'>"
																			+ data[index].TITLE
																			+ "</span></b><br/></a>";
																	html += "<span class='_content' >"
																			+ data[index].CONTENT
																			+ "</span><br />";
																	html += "</div>";
																	html += "<div class='col-md-3' style='text-align: right;'>";
																	if (data[index].CONTENT_KIND === '온라인강의') {
																		html += "<img src=" + data[index].IMAGE + " alt='이미지가 없습니다' style= 'height: 140px; width: 140px;'>"
																	} else {
																		html += "<img src=../studyboard/upload/"+ data[index].IMAGE + " alt='이미지가 없습니다' style= 'height: 140px; width: 140px;'>"
																	}

																	/* 	html += "<img src=../studyboard/upload/"+ data[index].IMAGE + " alt='이미지가 없습니다' style= 'height: 140px; width: 140px;'>" */
																	html += "</div>";
																	html += "</div>"
																	html += "</div>";
																	html += "</div>";
																	$(
																			'#recruting_study')
																			.append(
																					html);
																});
											},
											error : function(e) {
												console.log("error:", e);
											}

										});

								
							});

		});
	</script>
	<script>
		$(function() {
			let user_id = $('#user_id').val();
			console.log("유저아이디: " + user_id);
			let data = {
				"user_id" : user_id
			}

			//참여중
			$('#_study_button1')
					.on(
							"click",
							function() {
								console.log("유저아이디: " + user_id);
								$
										.ajax({
											url : '/ajax/inStudy.do',
											processData : false,
											contentType : "application/json",
											cache : false,
											type : 'POST',
											data : JSON.stringify(data),
											success : function(data) {
												console.log("가져오기");
												$('#recruting_study').empty();

												$
														.each(
																data,
																function(index,
																		item) {
																	
																	 var date1 = new Date(data[index].DEADLINE);
																	
																	 
																	 
																	 
																	 
																	let html = "";

																	html += "<div>";
																	html += "<hr style='border: solid 1px; margin-top: 0px;' />";
																	html += "<div class='row p-4'>";
																	html += "<div class='col-md-1' style='text-align: center;'>";
																	html += "<p style='font-size: xx-large; font-weight: bold;'>"
																			+ data[index].S_SEQ
																			+ "</p></div>";
																	html += "<div class='col-md-8'>";
																	html += "<span class='badge badge-pill badge-primary'>"
																			+ data[index].STATUS
																			+ "</span>";
																	html += "<span class='badge badge-pill badge-info'>"
																			+ data[index].LEVEL
																			+ "</span>";
																	html += "<span class='badge badge-pill badge-secondary'>"
																			+ data[index].CATE_LANGUAGE
																			+ "</span>";
																	html += "<span class='badge badge-pill badge-warning'>"
																			+ data[index].PEOPLE
																			+ "명</span>";
																	html += "<span class='badge badge-pill badge-warning'>"
																			+ data[index].LOC
																			+ "</span>"
																	html += "<span class='badge badge-pill badge-light'>"
																			+ data[index].CONTENT_KIND
																			+ "</span>";
																			
																	html += "<span class='badge badge-pill badge-danger'>마감일 : " 
																			+ getDateFormet(date1)
																			+ "</span>";
																			
																	html += "<span class='badge badge-pill badge-light'>"
																			+ data[index].ACCEPT_STATUS
																			+ "</span>";
																	html += "<a class='_message_hover' href='/mypage/SupportStatus.do?s_seq="
																			+ data[index].S_SEQ
																			+ "'>";
																	html += "<img src='https://previews.123rf.com/images/martialred/martialred1507/martialred150700691/42613509-%EC%95%B1-%EB%B0%8F-%EC%9B%B9-%EC%82%AC%EC%9D%B4%ED%8A%B8%EC%9D%98-%EC%84%A4%EC%A0%95-%EC%95%84%EC%9D%B4%EC%BD%98-%EC%95%84%EC%9D%B4%EC%BD%98.jpg' class='mb-1 _message_hover' alt='' style='height: 27px;'></a><br/>";
																	html += "<a href = '/board/board.Support_Status.do'>";
																	/* html += "<span class='ml-3 badge badge-pill badge-danger'마감일:>" + data[index].DEADLINE + "</span><br/>"; 날짜이상함*/
																	html += "<b><span style='font-size:xx-large;' class='_title2'>"
																			+ data[index].TITLE
																			+ "</span></b><br/><a/>";
																	html += "<span class='_content2'>"
																			+ data[index].CONTENT
																			+ "</span><br />";
																	html += "</div>";
																	html += "<div class='col-md-3' style='text-align: right;'>";
																	if (data[index].CONTENT_KIND === '온라인강의') {
																		html += "<img src=" + data[index].IMAGE + " alt='이미지가 없습니다' style= 'height: 140px; width: 140px;'>"
																	} else {
																		html += "<img src=../studyboard/upload/"+ data[index].IMAGE + " alt='이미지가 없습니다' style= 'height: 140px; width: 140px;'>"
																	}

																	html += "</div>";
																	html += "</div>"
																	html += "</div>";
																	html += "</div>";
																	$(
																			'#recruting_study')
																			.append(
																					html);
																});
											},
											error : function(e) {
												console.log("error:", e);
											}

										});

							});
		});
	</script>

	<script>
		function deleteBookMark(l_seq) {
			console.log('우철 : ' + l_seq);

			let data = {
				"l_seq" : l_seq
			}

			$.ajax({
				url : '/ajax/deleteBookMark.do',
				processData : false,
				contentType : "application/json",
				cache : false,
				type : 'POST',
				data : JSON.stringify(data),
				success : function(data) {
					$('.bookmark' + data).remove();
				},
				error : function(e) {
					console.log("error:", e);
				}
			});

		}
	</script>
	
		<script>
	
	$('._content').each(function(index, item){
		
			$('._content').eq(index)[0].innerText = $('._content').eq(index)[0].innerText.replace(/(<([^>]+)>)/ig,"");

		});
	var innertext1 = $('._content').eq(0)[0].innerText;

	</script>
	
</body>


</html>