<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<link rel="shortcut icon"
	href="../../../resources/images/img/favicon.ico" type="image/x-icon" />
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<div th:replace="/user/includes/bootstrap_link :: bootstrap_link"></div>

<title>mypage_message_from_detail_board</title>

<style>
.pager li>a, .pager li>span {
	border: white;
	background-color: #fff;
}

.pager li>a, .pager li>span {
	display: inline-block;
	padding: 5px 14px;
	border-radius: 5px;
}

.page-link {
	color: #18d26e;
}

.page-link {
	position: relative;
	margin-left: -1px;
	line-height: 1.25;
}

a {
	text-decoration: none;
}

a {
	transition: 0.5s;
}

* {
	box-sizing: border-box;
}

a:-webkit-any-link {
	cursor: pointer;
}

li {
	text-align: -webkit-match-parent;
}

.pager {
	padding-left: 0;
	margin: 20px 0;
	list-style: none;
}

body {
	font-size: 14px;
	background-color: rgb(230, 244, 232);
	margin: 0;
}

.page-item.active .page-link {
	z-index: 3;
	color: #fff;
	background-color: #18d26e;
	border-color: #18d26e;
}

._border_box_shadow2 {
	background: #fff;
	margin: auto;
	margin-top: 10px;
	margin-bottom: 10px;
	box-shadow: 1px 2px 10px 1px rgba(0, 0, 0, 0.16), 0 2px 5px 0
		rgba(0, 0, 0, 0.26);
	border-radius: 3px;
	padding: 0px;
	width: 100%;
	height: 100%;
}

._box_shadow_row {
	box-shadow: 0px 1px 3px 2px rgba(0, 0, 0, 0.16), 1px 1px 0px 0
		rgba(0, 0, 0, 0.26);
	background-color: whitesmoke;
}
/* 라디오버튼 */
._form_radio {
	background: #fff;
	/*    width: 509px; */
	margin: auto;
	padding: 30px;
	min-width: 320px;
	max-width: 540px;
	box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.16), 0 1px 5px 0
		rgba(0, 0, 0, 0.26);
	border-radius: 3px;
}

group+group {
	margin-top: 20px;
}

.inline-radio {
	display: flex;
	border-radius: 3px;
	overflow: hidden;
}

._div_radio {
	position: relative;
	flex: 1;
	border-radius: 3px;
}

._input_radio {
	width: 100%;
	opacity: 0;
	height: 100%;
	cursor: pointer;
}

._radio_label {
	position: absolute;
	top: 0;
	left: 0;
	color: #272C33;
	width: 100%;
	height: 100%;
	background: #fff;
	display: flex;
	align-items: center;
	justify-content: center;
	pointer-events: none;
}

._div_radio:last-child label {
	border-right: 0;
}

._input_radio:checked+label {
	background: #00d463;
	font-weight: 500;
	color: #fff;
	border-radius: 5px;
}
</style>


</head>

<body>
	<!-- 받은 쪽지함 상세보기 -->
	<div th:replace="/user/includes/header :: header"></div>
	<!--  윗부분 시작 //////////////////////////////////////// -->
	<main id="main">
		<!-- ======= Breadcrumbs Section ======= -->
		
		<div th:replace="/user/includes/message_header :: message_header"></div>
		
		<!-- <section class="breadcrumbs" style="margin-top: 70px;">
			<div class="container">

				<div class="d-flex justify-content-between align-items-center">
					<h2 style="color: #666666;">
					
						<b><span sec:authentication="principal.username"></span>님의 쪽지함</b>
						
						<b><span th:text="${session.currentUser.user_name} + '님 환영합니다!'"></span></b>
							
					</h2>
				</div>

			</div>
		</section> -->
		<!-- Breadcrumbs Section -->
	</main>


	<div class="container"
		style="margin-top: 25px; margin-bottom: 25px; padding: 0px; background-color: white; height: 610px; width: 900px;">
		<div class="_border_box_shadow2">
			<a href="/message/mypage_Message_From_Board.do">
				<button type="button" class="btn btn-secondary" id="from"
					style="height: 110px; position: relative; left: -70px; border-radius: 15px 0px 0px 15px; background-color: #18d26e; border: none;">
					<b><span>받은<br> 쪽지함
					</span></b>
				</button>
			</a> <a href="/message/mypage_Message_Send_Board.do">
				<button type="button" class="btn btn-secondary" id="send"
					style="height: 110px; position: relative; left: -142px; bottom: -110px; border-radius: 15px 0px 0px 15px; background-color: #86F0B4; border: none;">
					<b><span>보낸<br> 쪽지함
					</span></b>
				</button>
			</a> <br />


			<div class="row"
				style="position: relative; top: -90px; margin-bottom: 15px;">
				<div class="col-md-4"
					style="padding: 30px 30px 0px 30px; margin-left: 30px;">
					<img src="../../../../resources/images/img/message_black.png"
						alt="" style="height: 45px;"> &nbsp; <span
						style="font-size: x-large;"> <b>받은 쪽지함</b>
					</span>
				</div>
				<div class="col-md-7"
					style="text-align: right; padding-right: 28px; padding-top: 8px;">
					<a href="/message/mypage_Message_Send_Send_Message.do">
						<button type="button" class="btn btn-success"
							style="width: 90px; margin-top: 30px; background-color: #18d26e; border: none;font-weight:bold;">쪽지
							쓰기</button>
					</a>
					<button type="button" class="btn btn-danger" id="deletemessage"
						name="deletemessage"
						style="width: 80px; color: white; margin-top: 30px;border:none;font-weight:bold;">삭제
						</button>

				</div>

			</div>

			<div class="row _box_shadow_row"
				style="margin: 0px 20px 10px 20px; position: relative; top: -90px; text-align: center;">
				<div class="col-md-1"
					style="place-self: flex-end; text-align: center;">
					<input type="checkbox" id="_all_check" />
				</div>
				<div class="col-md-2" style="place-self: flex-end;">
					<span style="font-size: medium"> 보낸 사람 </span>
				</div>
				<div class="col-md-6">
					<span style="font-size: medium;"> 내용 </span>
				</div>
				<div class="col-md-3">
					<span style="font-size: medium;"> 받은 시간 </span>
				</div>
			</div>


			<th:block th:each="list : ${messageList}">
			<div class="row"></div>
				<!-- th(부모태그) -->
				<div class="row" id="parent" 
					style="margin: 4px 20px 4px 20px; position: relative; top: -93px; text-align: center; height:30px; align-self:auto;  align-content: space-between;">
					<!-- td(체크박스) -->
					<div class="col-md-1"
						style="place-self: center; text-align: center;">
						<input type="checkbox" class="_input_check" name="_input_check"
							style="transform: translateY(2px);" />
					</div>
					<!-- td2(보낸사람) -->
					<!-- 이게모달이다 ★★★★★★★★★★★★★★★ -->
					<div class="col-md-2"
						style="place-self: center; text-align: center;">
						<!-- @{/ajax/userInfoModal.do=(senderid=${list.senderid})} -->
						<a href="" th:classappend="|InfoModal${list.M_SEQ}|"
							th:onclick="|javascript:InfoModal('${list.M_SEQ}')|"
							data-toggle="modal" data-target="#userInfoModal"> 
							<input type="hidden" th:value="${list.USER_ID}">
							<span
							th:text="${list.NICKNAME}"></span>
						</a>
					</div>

					<!-- opendate가 null이 아닐경우 색깔 회색?  -->
					<!-- td3(내용) -->
					   <div th:if="${#dates.format(list.OPENDATE,'yyyy-MM-dd')} == 9999-12-31" class="col-md-6"
                  style="place-self: center; text-align: center;">
                  
                  <!-- 초록색  -->
                     <a style="color: #00b894;" 
                     th:href="@{/message/mypage_Message_From_Detail_Board.do(m_seq=${list.M_SEQ})}">
                     <span th:text="${list.CONTENT}"></span>
                  </a>
               </div>


               <!-- td3(내용) -->
               <div th:unless="${#dates.format(list.OPENDATE,'yyyy-MM-dd')} == 9999-12-31" class="col-md-6"
                  style="place-self: center; text-align: center;">
                     <a style="color: #636e72;"
                     th:href="@{/message/mypage_Message_From_Detail_Board.do(m_seq=${list.M_SEQ})}">
                     <span th:text="${list.CONTENT}"></span>
                  </a>
               </div>

					<!-- td4(받은시간) -->
					<div class="col-md-3"
						style="place-self: center; text-align: center;">
						<span th:text="${#dates.format(list.SENDDATE,'yyyy/MM/dd HH:mm')}"></span>
					</div>
					
					<input type="hidden" id="m_seq" th:value="${list.M_SEQ}" /> 
					
					<hr
						style="color: #dfe4ea; border: solid 0.5px; margin-bottom: 0px; margin-top: 0px; width: 97%">
				
				</div>
	
			</th:block>




			<!--  윗부분 끝 //////////////////////////////////////// -->

			<div class="row"
				style="place-content: center; transform: translateY(-82px);">
				<!-- 페이징 부트스트랩 버튼 생성하기  -->
				<ul class="pager d-flex" style="place-content: center;">

					<!-- 이전버튼 생성여부 -->
					<li th:if="${pageMakerb.prev} == true"><a
						th:href="@{mypage_Message_From_Board.do(page=${pageMakerb.startPage}-1,perPageNum=${pageMakerb.cri_b.perPageNum})}"
						class="page-link"> Previous </a></li>


					<!-- 페이지의 시작번호와 끝번호를 이용해 페이지 버튼들을 뿌려줄것임 / 현재페이지 어디인지 알기위해 추가 -->
					<li class="page-item"
						th:each="idx,iterStat : ${#numbers.sequence(pageMakerb.startPage,pageMakerb.endPage)}"
						th:classappend="${pageMakerb.cri_b.page} == ${idx} ? active : null">
						<a class="page-link"
						th:href="@{mypage_Message_From_Board.do(page=${idx},perPageNum=${pageMakerb.cri_b.perPageNum})}"
						th:text="${idx}">1 </a>
					</li>


					<!-- 다음버튼 생성여부 -->
					<li th:if="${pageMakerb.next} == true and ${pageMakerb.endPage > 0}">
						<a th:href="@{mypage_Message_From_Board.do(page=${pageMakerb.endPage}+1,perPageNum=${pageMakerb.cri_b.perPageNum})}"
						class="page-link"> Next</a> 
					</li>

				</ul>
				<!-- 페이징 부트스트랩 버튼 생성하기 끝  -->
			</div>

		</div>
	</div>

	<div th:replace="/user/includes/bootstrap_script :: bootstrap_script"></div>
	<div th:replace="/user/includes/footer :: footer"></div>
	<div
		th:replace="/user/includes/declation_Page_Modal :: declation_Page_Modal">
	</div>
	<div th:replace="/user/includes/user_Info_Modal :: user_Info_Modal">
	</div>

	<script>
		$(function() {
			//맨위 체크박스 클릭시 모든 체크박스 체크하기
			$('#_all_check').click(function() {

				var chk = $(this).is(":checked");//.attr('checked');
				if (chk)
					$("._input_check").prop('checked', true);
				else
					$("._input_check").prop('checked', false);

			});

		});
	</script>

	<!-- 메세지 삭제 -->
	<script>
		$(function() {
			$('#deletemessage')
					.click(
							function(e) {					
								//체크된 체크박스의 개수 구하기

								let idList = "";
								let nameList = "";

								//체크된 체크박스를 가져온다.
								var checkbox = $("input:checkbox[name=_input_check]:checked");
								
								
								//체크된 체크박스의 값을 반복해서 불러오기
								checkbox.each(function(i) {
									//let check = checkbox.parent().parent().eq(i);
									let check = checkbox.parent().parent().eq(i);
									let check2 = check.children(); //부모태그의 자식들로 접근
									
									 
									let m_seq1 = check2.eq(4).val(); //쪽지번호


									let data = {
										"m_seq" : m_seq1
									}
														
									$.ajax({
										url : '/ajax/deleteMessage.do',
										processData : false,
										contentType : "application/json",
										cache : false,
										type : 'POST',
										data : JSON.stringify(data),
										success : function(data) {
											$('#parent').remove();
										 $('#hr'+data.M_SEQ) 
										},
										error : function(e) {
											console.log("error:", e);
										}

									});/* ajax */
																
								})/*check each */
							}); /* click+func */
		});/* func */
	</script>

	<script>
		$(function() {
			$(".blameform").submit(function(e) {
				e.preventDefault();
				var formData = new FormData(this);


				let data = {
					"s_seq" : $('#s_seq').val(), //신고당하는 글번호
					"type" : formData.get("blame"), //신고유형
					"place" : "2", //신고장소(게시판)	
					"target" : $('#user_id').text(), //신고당하는 사람
					"bl_title" : formData.get("bl_title"), //신고제목
					"comment" : formData.get("comment")
				//신고내용
				}

				$.ajax({
					url : '/ajax/blameinsert.do',
					processData : false,
					contentType : "application/json",
					cache : false,
					type : 'POST',
					data : JSON.stringify(data),
					success : function(data) {
					},
					error : function(e) {
						console.log("error:", e);
					}
				})
			})

		});
	</script>


	<script>
		function InfoModal(idx) {

			let id = $('.InfoModal' + idx).children(":eq(0)").val();
			//formData.append("user_id" , this.id);

			// let obj = {"user_id" : id}; 

			let data = {
				"user_id" : id
			}

			$.ajax({
				url : '/ajax/userInfoModal.do',
				processData : false,
				contentType : "application/json",
				cache : false,
				type : 'POST',
				data : JSON.stringify(data),
				success : function(data) {
					$('.ModalUserName').text(data[0][0].USER_NAME);
					$('.ModalUserID').text(data[0][0].NICKNAME);
					$('.introduce').text(data[0][0].INTRODUCE)
					'src','/material/images/jQuery/asimo.png'
					$('#profile_img').attr('src', '/userboard/upload/' + data[0][0].PROFILE_IMG);
					$.each(data[0], function (index, item) {
						if (item.SKILL_LEVEL === '입문') {
							$('input[name='+item.SKILL_NAME+']:radio[value="입문"]').prop('checked',true);
						} else if (data[0][index].SKILL_LEVEL === '초급') {
							$('input[name='+item.SKILL_NAME+']:radio[value="초급"]').prop('checked',true);
						} else {
							$('input[name='+item.SKILL_NAME+']:radio[value="중급이상"]').prop('checked',true);
						}
					})
					
// 						<td>1578</td>
// 												<td><a href="">입문자들 다 모여라~~~~~!!</a></td>
					
					$('._user_board_list').empty();
					
					let userBoardList = "";
					$.each(data[1],function(index, item){
						userBoardList += "<tr>";
						userBoardList += "<td>";
						userBoardList += data[1][index].S_SEQ;
						userBoardList += "</td>";
						userBoardList += "<td>";
						userBoardList += "<a href = '/board/my_Writing_Common_Study_Detail.do?s_seq="
									+ data[1][index].S_SEQ
									+ "'>";
						userBoardList += data[1][index].TITLE;
						userBoardList += "</a>"	
						userBoardList += "</td>";
						userBoardList += "</tr>";
					});
					
					
					$('._user_board_list').append(userBoardList);
// 						$('._user_board_list');
				},
				error : function(e) {
					console.log("error:", e);
				}
			});

		}
	</script>
	
	<script>
	/* 페이지 0 뜨는거 없애기 시작 */
	var _page_button0 = $('.page-item').children().last().text();

	if(_page_button0 == 0){
	   $('.page-item').children().last().remove();
	}
	/*  페이지 0 뜨는거 없애기 끝 */
	</script>

</body>


</html>