<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<link rel="shortcut icon" href="../../../resources/images/img/favicon.ico" type="image/x-icon"/>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>mypage_message_send_detail_board</title>
<div th:replace="/user/includes/bootstrap_link :: bootstrap_link"></div>

<style>
body {
	background-color: rgb(230, 244, 232);
}

._border_box_shadow2 {
	background: #fff;
	margin: auto;
	margin-top: 10px;
	margin-bottom: 10px;
	box-shadow: 1px 2px 10px 1px rgba(0, 0, 0, 0.16), 0 2px 5px 0
		rgba(0, 0, 0, 0.26);
	border-radius: 3px;
	padding: 0px;
	width: 100%;
	height: 100%;
}

._box_shadow_row {
	box-shadow: 0px 1px 3px 2px rgba(0, 0, 0, 0.16), 1px 1px 0px 0
		rgba(0, 0, 0, 0.26);
	background-color: whitesmoke;
}
</style>
</head>

<body>
	<!-- 보낸 쪽지함 상세보기 -->
	<div th:replace="/user/includes/header :: header"></div>
	<!--  윗부분 시작 //////////////////////////////////////// -->
	
	<input type="hidden" id="m_seq" th:value="${message.m_seq}"></input>

	<main id="main">
		<!-- ======= Breadcrumbs Section ======= -->
		<section class="breadcrumbs" style="margin-top: 70px;">
			<div class="container">

				<div class="d-flex justify-content-between align-items-center">
					<h2 style="color: #666666;">
						<b><span sec:authentication="principal.username"></span>님의 쪽지함</b>
					</h2>
				</div>

			</div>
		</section>
		<!-- Breadcrumbs Section -->
	</main>

	<div class="container"
		style="margin-top: 25px; margin-bottom: 25px; padding: 0px; background-color: white; height: 610px; width: 900px;">
		<div class="_border_box_shadow2">
			<a href="/message/mypage_Message_From_Board.do">
				<button type="button" class="btn btn-secondary"
					style="height: 110px; position: relative; left: -69px; border-radius: 15px 0px 0px 15px; border:none; background-color: #86F0B4;">
					<b><span>받은<br> 쪽지함
					</span></b>
				</button>
			</a> <a href="/message/mypage_Message_Send_Board.do">
				<button type="button" class="btn btn-secondary"
					style="height: 110px; position: relative; left: -143px; bottom: -110px; border-radius: 15px 0px 0px 15px; border:none;  background-color: #18d26e;">
					<b><span>보낸<br> 쪽지함
					</span></b>
				</button>
			</a> <br />


			<div class="row"
				style="position: relative; top: -90px; margin-bottom: 15px;">
				<div class="col-md-4"
					style="padding: 30px 30px 0px 30px; margin-left: 30px;">
					<img src="../../../../resources/images/img/message_black.png"
						alt="" style="height: 45px;"> &nbsp; <span
						style="font-size: x-large;"> <b>보낸 쪽지</b>
					</span>
					<!-- <hr style="border: solid 0.5px; margin-top: 0px;"> -->
				</div>
				<div class="col-md-7"
					style="text-align: right; padding-right: 28px; padding-top: 8px;">
					<!-- swal로 구현  -->
						<button id="delete" type="button" class="btn btn-warning"
							style="width: 80px; margin-top: 30px; color: white;">삭제</button>
				</div>

			</div>



			<div class="row"
				style="margin: 0px 20px 10px 20px; position: relative; top: -90px;">
				<div class="col-md-2"
					style="place-self: flex-end; text-align: center; padding-right: 0px;">
					<span style="font-size: large;"> <b>받은 사람</b>
					</span>
				</div>
				<div class="col-md-10" style="align-self: center;">
					<span th:text="${message.receptionid}"></span>
				</div>
			</div>
			<div class="row"
				style="margin: 0px 20px 10px 20px; position: relative; top: -90px;">
				<div class="col-md-2"
					style="place-self: flex-end; text-align: center; padding-right: 0px;">

					<span style="font-size: large;"> <b>보낸 시간</b>
					</span>
				</div>
				<div class="col-md-10" style="align-self: center;">
					<span th:text="${#dates.format(message.senddate,'yyyy/MM/dd HH:mm')}">ㅇㅇ</span>
				</div>
			</div>
			<div class="row"
				style="margin: 20px 30px 0px 30px; position: relative; top: -90px;">
				<textarea class="form-control" id="msg" cols="30" rows="10"
					style="width: 100%; margin-left: 32px; margin-right: 32px; resize:none;
					background-color:#f0f0f0" readonly
					placeholder="내용을 입력해주세요" th:text="${message.content}"></textarea>
			</div>
		</div>
	</div>
	<!--  윗부분 끝 //////////////////////////////////////// -->
	<div th:replace="/user/includes/bootstrap_script :: bootstrap_script"></div>
	<div th:replace="/user/includes/footer :: footer"></div>
	
		<script>
	$(function() {
	
	var m_seq = $('#m_seq').val();
		console.log('m_seq : ' + m_seq)
	$('#delete').click(function(){
		swal({
			  title: "쪽지를 삭제 하시겠습니까?",
			  icon: "warning",
			  buttons: true,
			  dangerMode: true,
			})
			.then((willDelete) => {
			  if (willDelete) {
				  location.href="/message/deleteMessageOneSend.do?m_seq="+m_seq
			  } 
			
			});
		})
	});
	
	</script>
</body>
</html>