<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<div th:replace="/user/includes/bootstrap_link :: bootstrap_link"></div>
<title>mypage_message_from_detail_board</title>
<style>
body {
	background-color: rgb(230, 244, 232);
}
</style>
</head>

<body>
	<!-- 받은 쪽지함 상세보기 -->
	<div th:replace="/user/includes/header :: header"></div>
	<!--  윗부분 시작 //////////////////////////////////////// -->
	<main id="main">
		<!-- ======= Breadcrumbs Section ======= -->
		<section class="breadcrumbs" style="margin-top: 70px;">
			<div class="container">

				<div class="d-flex justify-content-between align-items-center">
					<h2 style="color: #666666;">
						<b><span sec:authentication="principal.username"></span>님의 쪽지함</b> 
					</h2>
				</div>

			</div>
		</section>
		<!-- Breadcrumbs Section -->
	</main>
	<div class="container"
		style="margin-top: 25px; margin-bottom: 25px; padding: 0px; background-color: white; height: 800px; width: 900px;">
		<a href="/mypage/mypage_Message_From_Board.do">
			<button type="button" class="btn btn-secondary"
				style="height: 110px; position: relative; left: -68px; border-radius: 15px 0px 0px 15px; background-color: #18d26e;">
				<b><span>받은<br> 쪽지함
				</span></b>
			</button>
		</a> <a href="/mypage/mypage_Message_Send_Board.do">
			<button type="button" class="btn btn-secondary"
				style="height: 110px; position: relative; left: -144px; bottom: -110px; border-radius: 15px 0px 0px 15px; background-color: #18d26e;">
				<b><span>보낸<br> 쪽지함
				</span></b>
			</button>
		</a> <br />
		<div class="row" style="position: relative; top: -90px;">
			<div class="col-md-11"
				style="padding: 30px 30px 0px 30px; margin-left: 30px;">
				<img src="../../../../resources/images/img/message_black.png" alt=""
					style="height: 45px;"> &nbsp; <span
					style="font-size: x-large;"> <b>보낸 쪽지함</b>
				</span>
				<hr style="border: solid 0.5px; margin-top: 0px;">
			</div>
			<div class="col-md-1"></div>

		</div>

		<div class="row"
			style="margin: 0px 20px 10px 20px; position: relative; top: -90px; text-align: center;">
			<div class="col-md-3" style="place-self: flex-end;">
				<span style="font-size: medium"> 받는 사람 </span>

			</div>
			<div class="col-md-5">
				<span style="font-size: medium;"> 내용 </span>

			</div>
			<div class="col-md-3">
				<span style="font-size: medium;"> 보낸 시간 </span>

			</div>
		</div>
		<th:block th:each="list : ${message}">
			<div class="row" style="position: relative; top: -90px;">
				<div class="col-md-11"
					style="padding: 0px 30px 0px 30px; margin-left: 30px;">
					<input type="hidden" id="m_seq" th:value="${list.m_seq}" />
					<hr style="border: solid 0.5px; margin-top: 0px;">


				</div>
			</div>
			<div class="row"
				style="margin: 0px 20px 10px 20px; position: relative; top: -90px; text-align: center;">
				<div class="col-md-3">

					<span th:text="${message.senderid}">변수명확인필요</span>
				</div>
				<div class="col-md-5">
					<span th:text="${message.content}">보낸내용</span>
				</div>
				<div class="col-md-3">
					<span th:text="${message.senddate}">2020.07.06</span>
				</div>
			</div>
			<div class="col-md-6" style="text-align: right;">
				<!--  삭제할 쪽지번호 넘겨주기 -->
				<!--  보낸사람 넘겨주기? -->
				<a
					th:href="@{/mypage/mypage_Message_From_Send_Message.do(senderid=${message.senderid})}">
					<button type="button" class="btn btn-danger">삭제</button>
				</a>
			</div>

			<div th:text="${message.content}" class="row"
				style="margin: 20px 30px 0px 30px; position: relative; top: -90px;">
			</div>
	</div>
	<!--  윗부분 끝 //////////////////////////////////////// -->

	<div
		th:replace="/user/member/declation_Page_Modal :: declation_Page_Modal">
	</div>
	<div th:replace="/user/includes/footer :: footer"></div>


</body>


</html>