<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<link rel="shortcut icon"
	href="../../../resources/images/img/favicon.ico" type="image/x-icon" />
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>board_select</title>
<div th:replace="/user/includes/bootstrap_link :: bootstrap_link"></div>

</head>

<style>
.cover4 {
	background-image:
		url(../../../../resources/images/img/boardsupportstatus.jpg);
	background-position: center center;
	background-size: 2000px;
	background-repeat: no-repeat;
	opacity: 0.7;
}

._border_box_shadow2 {
	background: #fff;
	margin: auto;
	margin-top: 20px;
	margin-bottom: 20px;
	width: 1085px;
	box-shadow: 1px 2px 10px 1px rgba(0, 0, 0, 0.16), 0 2px 5px 0
		rgba(0, 0, 0, 0.26);
	border-radius: 3px;
	padding: 30px;
	box-shadow: 1px 2px 10px 1px rgba(0, 0, 0, 0.16), 0 2px 5px 0
		rgba(0, 0, 0, 0.26);
}

body {
	background: #F9FBFC !important;
}

/* 라디오버튼 */
._form_radio {
	background: #fff;
	/*    width: 509px; */
	margin: auto;
	padding: 30px;
	min-width: 320px;
	max-width: 540px;
	box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.16), 0 1px 5px 0
		rgba(0, 0, 0, 0.26);
	border-radius: 3px;
}

#doing_study_row {
	text-align: center;
	height: 30px;
	width: 100%;
}

#doing_study_col {
	align-self: center;
}

#button_approval {
	line-height: normal;
	background-color: #00d463;
	border-color: #00d463;
}
</style>

<body>

	<div th:replace="/user/includes/header :: header"></div>

	<sec:authorize access="isAuthenticated()">
		<sec:authentication property="principal.username" var="user_id" />
		<!-- 배너 -->
		<main id="main">
			<!-- ======= Breadcrumbs Section ======= -->
			<section class="breadcrumbs cover4"
				style="margin-top: 0px; height: 300px; padding: 1000 0 100 0px;">
				<div class="container d-flex h-100" style="padding: 200px 0;">
					<div class="row justify-content-center align-self-center">
						<h1 style="color: white; font-size: 50px;">
							<b>지원현황</b>
						</h1>
					</div>
				</div>

			</section>
			<!-- Breadcrumbs Section -->
		</main>

		<div class="_border_box_shadow2">
			<div class="row"
				style="align-items: center; margin-top: 50px; margin-bottom: 30px;">
				<div class="col-md-6"
					style="text-align: -webkit-center; padding-left: 13px;">
					<div class="_form_radio" style="padding: 0px; height: 500px;">
						<hr style="margin-bottom: 0;" />
						<!-- 모집완료 첫번째 줄 (여기는 테이블 헤드부분) -->
						<div class="row"
							style="background-color: rgb(213, 235, 217); text-align: center; height: 40px; width: 100%;">
							<div class="col" style="align-self: center;">
								<b>참가중인 스터디원</b>
							</div>

						</div>
						<!-- <div class="col" style="align-self: center;">No.</div> -->
						<div class="row"
							style="background-color: rgb(232, 241, 233); text-align: center; height: 32px; width: 100%">
							<div class="col" id="doing_study_col">
								<b>아이디</b>
							</div>
							<div class="col" id="doing_study_col">
								<b>승인여부</b>
							</div>
						</div>
						<div class="row"
							style="text-align: center; height: 25px; width: 100%"></div>
						
					<div id="success">
						<th:block th:each="list,index : ${status}">
							<th:block th:switch="${index.index}">
								<th:block th:case="0">
									<div class="row"
											style="text-align: center; margin-bottom: 10px; font-size: x-large; width: 100%">
									<div class="col-md-6" id="doing_study_col" >
										<span th:if="${list.ROLE_NAME == '방장'}"> <span
												th:text="${list.USER_ID}"></span> <!-- 방장 아이콘 추가 -->
										</span>
									</div>
									<div class="col-md-6" id="doing_study_col" >
										이미지
									</div>
									</div>
								</th:block>

								<th:block th:case="*">
									<th:block
										th:if="${list.ACCEPT_STATUS} == '승인완료' and ${list.ROLE_NAME} == '회원'">
										<div class="row"
											style="text-align: center; margin-bottom: 10px; width: 100%; font-size: x-large;">
											<div class="col-md-6">
												<span class="row" id="doing_study_row"> <span
													class="col" id="doing_study_col">
														<p style="margin-left: 30px;" th:text="${list.USER_ID}"></p>
												</span>
												</span>
											</div>
											<!-- 현재 로그인한 사용자와 방장의 아아디가 같으면 모든회원마다 버튼이 생겨야됨  -->

											<th:block th:if="${writer} == ${id}">
												<div class="col-md-6">
													<button type="button" class="btn btn-danger btn"
														style="line-height: normal;">
														<span style="font-size: smaller;">취소</span>
													</button>
												</div>
											</th:block>
										</div>
									</th:block>
								</th:block>
							</th:block>
						</th:block>
					</div>
						
							<!-- 회원정보 반복 끝 (더미데이터 끝) -->
					</div>
				</div>

				<div class="col-md-6"
					style="text-align: -webkit-center; padding-left: 0;">
					<div class="_form_radio" style="padding: 0px; height: 500px;">
						<hr style="margin-bottom: 0;" />
						<!-- 모집중 첫번째 줄 (여기는 테이블 헤드부분) -->
						<div class="row"
							style="background-color: rgb(213, 235, 217); text-align: center; height: 40px; width: 100%">
							<div class="col" id="doing_study_col">
								<b>승인 대기중</b>
							</div>
						</div>
						<div class="row"
							style="background-color: rgb(232, 241, 233); text-align: center; height: 32px; width: 100%">
							<div class="col" id="doing_study_col">
								<b>아이디</b>
							</div>
							<div class="col" id="doing_study_col">
								<b>승인여부</b>
							</div>
						</div>
						<div class="row" style="height: 30px;"></div>
						<!-- 	<div class="row"
							style="text-align: center; height: 35px; width: 100%"> -->

						<th:block th:each="list,index : ${status}">

							<th:block th:switch="${index.index}">
								<th:block th:case="0">

								</th:block>

								<th:block th:case="*">
									<th:block
										th:if="${list.ACCEPT_STATUS} == '승인대기중' and ${list.ROLE_NAME} == '회원'">
										<div class="row" th:classappend="${list.USER_ID}"
											style="text-align: center; margin-bottom: 10px; width: 100%">
											<div class="col-md-6">
												<span class="row" id="doing_study_row"> <span
													class="col" id="doing_study_col" style="font-size: x-large">
														<p style="margin-left: 30px;" th:text="${list.USER_ID}"></p>
												</span>
												</span>
											</div>
											<!-- 현재 로그인한 사용자와 방장의 아아디가 같으면 모든회원마다 버튼이 생겨야됨  -->

											<th:block th:if="${writer} == ${id}">
												<div class="col-md-6">
													<button type="button" 
														th:onclick="|javascript:accept('${list.USER_ID}','${list.S_SEQ}')|"
														class="btn btn-success btn"
														id="button_approval">
														<span style="font-size: smaller;">승인</span>
													</button>
													<button type="button" 
														th:onclick="|javascript:reject('${list.USER_ID}')|"
														class="btn btn-danger btn"
														style="line-height: normal;">
														<span style="font-size: smaller;">거절</span>
													</button>
												</div>
											</th:block>
										</div>
									</th:block>
								</th:block>
							</th:block>
						</th:block>
						
					</div>
				</div>
			</div>
				<div class="row">
			<div class="col-md-5"></div>
				<div class="col-md-6" style="margin-left: 30px;">
					<button type="button" class="btn btn-danger btn-lg"
						style="line-height: normal;">
						<span style="font-size: smaller;">제출</span>
					</button>
				</div>
			</div>
		</div>
		<!-- 모집중 첫번째 줄 끝 -->

		<div th:replace="/user/includes/footer :: footer"></div>
		<div th:replace="/user/includes/bootstrap_script :: bootstrap_script"></div>


	<script>
	function accept(user_id, s_seq) {
		
		let data = {
				"user_id" : user_id,
				"s_seq" : s_seq
		}
		
		
		$.ajax({
			url : '/ajax/accept.do',
			processData : false,
			contentType : "application/json",
			cache : false,
			type : 'POST',
			data : JSON.stringify(data),
			success : function(data) {
				console.log(data);
				//승인누른거 지우기
				$('.' + user_id).remove();
				$('#success').empty();
				
				$.each(data, function(index, item) {
					let html = "";
					
					
				/* 	<div id="success">
					<th:block th:each="list,index : ${status}">
						<th:block th:switch="${index.index}">
							<th:block th:case="0">
								<div class="row"
										style="text-align: center; margin-bottom: 10px; font-size: x-large; width: 100%">
								<div class="col-md-6" id="doing_study_col" >
									<span th:if="${list.ROLE_NAME == '방장'}"> <span
											th:text="${list.USER_ID}"></span> <!-- 방장 아이콘 추가 -->
									</span>
								</div>
								<div class="col-md-6" id="doing_study_col" >
									이미지
								</div>
								</div>
							</th:block>

							<th:block th:case="*">
								<th:block
									th:if="${list.ACCEPT_STATUS} == '승인완료' and ${list.ROLE_NAME} == '회원'">
									<div class="row"
										style="text-align: center; margin-bottom: 10px; width: 100%; font-size: x-large;">
										<div class="col-md-6">
											<span class="row" id="doing_study_row"> <span
												class="col" id="doing_study_col">
													<p style="margin-left: 30px;" th:text="${list.USER_ID}"></p>
											</span>
											</span>
										</div>
										<!-- 현재 로그인한 사용자와 방장의 아아디가 같으면 모든회원마다 버튼이 생겨야됨  -->

										<th:block th:if="${writer} == ${id}">
											<div class="col-md-6">
												<button type="button" class="btn btn-danger btn"
													style="line-height: normal;">
													<span style="font-size: smaller;">취소</span>
												</button>
											</div>
										</th:block>
									</div>
								</th:block>
							</th:block>
						</th:block>
					</th:block>
				</div>
					 */
					
					
					
				});
				
				
			},
			error : function(e) {
				console.log("error:", e);
			}
		});
		
		
	}
	
	
	function reject(user_id) {
		console.log('dwwd ' + user_id)
		
		
		
	}
	
	</script>


</body>

</html>