<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<link rel="shortcut icon"
	href="../../../resources/images/img/favicon.ico" type="image/x-icon" />
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title>WeStudy Admin</title>
<meta name="description" content="Sufee Admin - HTML5 Admin Template">
<meta name="viewport" content="width=device-width, initial-scale=1">

<div th:replace="/user/includes/bootstrap_link :: bootstrap_link"></div>

</head>

<style>
.cover4 {
	background-image:
		url(../../../../resources/images/img/boardsupportstatus.jpg);
	background-position: center center;
	background-size: 2000px;
	background-repeat: no-repeat;
	opacity: 0.7;
}

._border_box_shadow2 {
	background: #fff;
	margin: auto;
	margin-top: 20px;
	margin-bottom: 20px;
	width: 1085px;
	box-shadow: 1px 2px 10px 1px rgba(0, 0, 0, 0.16), 0 2px 5px 0
		rgba(0, 0, 0, 0.26);
	border-radius: 3px;
	padding: 30px;
	box-shadow: 1px 2px 10px 1px rgba(0, 0, 0, 0.16), 0 2px 5px 0
		rgba(0, 0, 0, 0.26);
}

body {
	background: #F9FBFC !important;
}

/* 라디오버튼 */
._form_radio {
	background: #fff;
	/*    width: 509px; */
	margin: auto;
	padding: 30px;
	min-width: 320px;
	max-width: 540px;
	box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.16), 0 1px 5px 0
		rgba(0, 0, 0, 0.26);
	border-radius: 3px;
}

group+group {
	margin-top: 20px;
}
.inline-radio {
	display: flex;
	border-radius: 3px;
	overflow: hidden;
}

._div_radio {
	position: relative;
	flex: 1;
	border-radius: 3px;
}

._input_radio {
	width: 100%;
	opacity: 0;
	height: 100%;
	cursor: pointer;
}

._radio_label {
	position: absolute;
	top: 0;
	left: 0;
	color: #272C33;
	width: 100%;
	height: 100%;
	background: #fff;
	display: flex;
	align-items: center;
	justify-content: center;
	pointer-events: none;
}

._div_radio:last-child label {
	border-right: 0;
}

._input_radio:checked+label {
	background: #00d463;
	font-weight: 500;
	color: #fff;
	border-radius: 5px;
}


#doing_study_row {
	text-align: center;
	height: 30px;
	width: 100%;
}

#doing_study_col {
	align-self: center;
}

#button_approval {
	line-height: normal;
	background-color: #00d463;
	border-color: #00d463;
}
</style>

<body>

	<div th:replace="/user/includes/header :: header"></div>

	<sec:authorize access="isAuthenticated()">
		<sec:authentication property="principal.username" var="user_id" />
		<!-- 배너 -->
		<main id="main">
			<!-- ======= Breadcrumbs Section ======= -->
			<section class="breadcrumbs cover4"
				style="margin-top: 0px; height: 300px; padding: 1000 0 100 0px;">
				<div class="container d-flex h-100" style="padding: 200px 0;">
					<div class="row justify-content-center align-self-center">
						<h1 style="color: white; font-size: 50px;">
							<b>지원현황</b>
						</h1>
					</div>
				</div>

			</section>
			<!-- Breadcrumbs Section -->
		</main>

		<div class="_border_box_shadow2">
			<div class="row"
				style="align-items: center; margin-top: 50px; margin-bottom: 30px;">
				<div class="col-md-6"
					style="text-align: -webkit-center; padding-left: 13px;">
					<div class="_form_radio" style="padding: 0px; height: 500px;">
						<hr style="margin-bottom: 0;" />
						<!-- 모집완료 첫번째 줄 (여기는 테이블 헤드부분) -->
						<div class="row"
							style="background-color: rgb(213, 235, 217); text-align: center; height: 40px; width: 100%;">
							<div class="col" style="align-self: center;">
								<b>참가중인 스터디원</b>
							</div>

						</div>
						<!-- <div class="col" style="align-self: center;">No.</div> -->
						<div class="row"
							style="background-color: rgb(232, 241, 233); text-align: center; height: 32px; width: 100%">
							<div class="col" id="doing_study_col">
								<b>아이디</b>
							</div>
							<div class="col" id="doing_study_col">
								<b>승인여부</b>
							</div>
						</div>
						<div class="row"
							style="text-align: center; height: 25px; width: 100%"></div>

						<div id="success">
							<th:block th:each="list,index : ${status}">
								<th:block th:switch="${index.index}">
									<th:block th:case="0">
										<div class="row"
											style="text-align: center; margin-bottom: 10px; font-size: x-large; width: 100%">
											<div class="col-md-6">
											
											<a href=""  th:classappend="|InfoModal${list.user_id}|" 
											th:onclick="|javascript:InfoModal('${list.user_id}')|" 
											data-toggle="modal" data-target="#userInfoModal" >
												<input type="hidden" th:value="${list.user_id}"  />
												<span th:if="${list.role_name == '방장'}"> <span
													th:text="${list.nickname}"></span> <!-- 방장 아이콘 추가 -->
												</span>
											</a>
											
											</div>
										
											<div class="col-md-6" id="doing_study_col">
												<img
													src="https://user-images.githubusercontent.com/61257242/87928038-2534c100-cabf-11ea-8099-c5edf44d6126.jpeg"
													alt="" style="height:32px;" />
											</div>
										</div>
									</th:block>

									<th:block th:case="*">
										<th:block
											th:if="${list.accept_status} == '승인완료' and ${list.role_name} == '회원'">
											<div class="row" th:classappend="|left${list.user_id} |"
												style="text-align: center; margin-bottom: 10px; width: 100%; font-size: x-large;">
												<div class="col-md-6">
												<a href="" th:classappend="|InfoModal${list.user_id}|" th:onclick="|javascript:InfoModal('${list.user_id}')|" 
											data-toggle="modal" data-target="#userInfoModal">
											<input type="hidden" th:value="${list.user_id}" />
													<span class="row" th:classappend="|cancel${list.user_id} |"> 
													<span class="col">	
														<span th:text="${list.nickname}"></span>
													</span>	
													</span>
													</a>
												</div>
												<!-- 현재 로그인한 사용자와 방장의 아아디가 같으면 모든회원마다 버튼이 생겨야됨  -->
					
											<th:block th:if="${s_board_staus} == '모집중'">
												<th:block th:if="${writer.user_id} == ${id}">
													<div class="col-md-6">
														<button type="button" class="btn btn-danger btn"
															th:onclick="|javascript:cancel('${list.user_id}','${list.s_seq}')|"
															th:classappend="|cancel${list.user_id}|"
															style="line-height: normal;">
															<span style="font-size: smaller;">취소</span>
														</button>
													</div>
												</th:block>
											</th:block>
											</div>
										</th:block>
									</th:block>
								</th:block>
							</th:block>
						</div>

						<!-- 회원정보 반복 끝 (더미데이터 끝) -->
					</div>
				</div>
				<div class="col-md-6"
					style="text-align: -webkit-center; padding-left: 0;">
					<div class="_form_radio" style="padding: 0px; height: 500px;">
						<hr style="margin-bottom: 0;" />
						<!-- 모집중 첫번째 줄 (여기는 테이블 헤드부분) -->
						<div class="row"
							style="background-color: rgb(213, 235, 217); text-align: center; height: 40px; width: 100%">
							<div class="col" id="doing_study_col">
								<b>승인 대기중</b>
							</div>
						</div>
						<div class="row"
							style="background-color: rgb(232, 241, 233); text-align: center; height: 32px; width: 100%">
							<div class="col" id="doing_study_col">
								<b>아이디</b>
							</div>
							<div class="col" id="doing_study_col">
								<b>승인여부</b>
							</div>
						</div>
						<div class="row" style="height: 25px;"></div>

						<div id="wait">
							<th:block th:each="list,index : ${status}">

								<th:block th:switch="${index.index}">

									<th:block th:case="0">
										<th:block th:if="${s_board_staus} == '모집완료'">
											모집이 완료 되었습니다.
										</th:block>
										<th:block th:unless="${s_board_staus} == '모집중'">

										</th:block>
									</th:block>

									<th:block th:case="*">
										<th:block
											th:if="${list.accept_status} == '승인대기중' and ${list.role_name} == '회원'">
											
											<div class="row"  th:classappend="|right${list.user_id}|">
												<input type="hidden" th:value="${list.user_id}" id="user_id" />
												<div class="col-md-6">
												<a href="" th:classappend="|InfoModal${list.user_id}|"
											th:onclick = "|javascript:InfoModal('${list.user_id}')|" data-toggle="modal" 
											data-target="#userInfoModal" style="text-align: center; margin-bottom: 10px; width: 100%">
													<span class="row" id="doing_study_row"> <span
														class="col" id="doing_study_col"
														style="font-size: x-large">
															<p style="margin-left: 30px;" th:text="${list.nickname}"></p>
													</span>
													</span>
													</a>
												</div>
							
										
												<!-- 현재 로그인한 사용자와 방장의 아아디가 같으면 모든회원마다 버튼이 생겨야됨  -->

												<th:block th:if="${writer.user_id} == ${id}">
													<div class="col-md-6">
														<button type="button"
															th:onclick="|javascript:accept('${list.user_id}','${list.s_seq}')|"
															class="btn btn-success btn" id="button_approval">
															<span style="font-size: smaller;">승인</span>
														</button>
														<button type="button"
															th:onclick="|javascript:reject('${list.user_id}','${list.s_seq}')|"
															class="btn btn-danger btn" style="line-height: normal;">
															<span style="font-size: smaller;">거절</span>
														</button>
													</div>
												</th:block>
												</div>	
												
											</div>

										</th:block>
									</th:block>
								</th:block>
							</th:block>
						</div>
						
					</div>
					
				</div>
					<th:block th:if="${writer.user_id} == ${id}">
				<th:block th:if="${s_board_staus} == '모집중'">
					<div class="row finishCheck"
						style="align-items: center; margin-top: 50px; margin-bottom: 30px; place-content: center;">
						<button type="button" th:onclick="|javascript:finishh('${s_seq}')|"
							class="btn btn-secondary btn finishh" id="finishh">
							<span style="font-size: smaller;font-weight:bold;">모집 마감</span>
						</button>
					</div>
				</th:block>
			</th:block> 
			</div>
		</div>

		<!-- 모집중 첫번째 줄 끝 -->

		<div th:replace="/user/includes/footer :: footer"></div>
		<div th:replace="/user/includes/bootstrap_script :: bootstrap_script"></div>
		<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
		<div th:replace="/user/includes/user_Info_Modal :: user_Info_Modal"></div>

		<script>
			//모집마감
			function finishh(s_seq) {

				let data = {
					"s_seq" : s_seq
				}

				$.ajax({
					url : '/ajax/finishRecruit.do',
					processData : false,
					contentType : "application/json",
					cache : false,
					type : 'POST',
					data : JSON.stringify(data),
					success : function(data) {
						if(data != 0){
							
						$('#wait').empty();
						swal({
							  title: "완료되었습니다",
							  icon: "success",
							  buttons: true,
							})
							.then((willDelete) => {
							  if (willDelete) {
								  $('#wait').text('모집이 마감 되었습니다.');
									location.href="/mypage/SupportStatus.do?s_seq="+s_seq;
							  } 
							
							});
						
				
						}else{
						
							 swal({
	                              title: "승인인원이 모집정원을 초과합니다.",
	                                icon: "warning",
	                                buttons: true
	                              })
						}


					},
					error : function(e) {
						console.log("error:", e);
					}
				});
			}
		</script>

		<script>
		//지원현황에서 승인버튼 클릭 시 회원 아이디를 넘겨 승인 상태를 승인완료로 업데이트 해준 뒤 비동기로 화면 출력
			function accept(user_id, s_seq) {
				let data = {
					"user_id" : user_id,
					"s_seq" : s_seq
				}

				$
						.ajax({
							url : '/ajax/accept.do',
							processData : false,
							contentType : "application/json",
							cache : false,
							type : 'POST',
							data : JSON.stringify(data),
							success : function(data) {
								//승인누른거 지우기
								$('.right' + $.escapeSelector(user_id)).remove();
								$('#success').empty();

								$
										.each(
												data,
												function(index, item) {
													var host = data[0].USER_ID;
													var id = data[data.length - 1].user_id

													let html = "";

													if (data[index].ACCEPT_STATUS === '승인완료') {

														if (data[index].ROLE_NAME === '방장') { //0번째 인덱스
															html += "<div class='row' style='text-align: center; margin-bottom: 10px; font-size: x-large; width: 100%'>";
															html += "<div class='col-md-6'>";
															html += '<a href=""  class="InfoModal'
																	+data[index].USER_ID
																	+'" onclick = InfoModal("'
																	+data[index].USER_ID
																	+ '") data-toggle="modal" data-target="#userInfoModal">'
															html += "<input type='hidden' value="+data[index].USER_ID+">"
						
															html += '<span>'
																	+ data[0].NICKNAME
																	+ "</span></a></div>";
															html += "<div class='col-md-6' id='doing_study_col'>";
															html += "<img src='https://user-images.githubusercontent.com/61257242/87928038-2534c100-cabf-11ea-8099-c5edf44d6126.jpeg' alt='' style='height:32px;' />";
															html += "</div></div>";
														} else {
															html += "<div class='row left"
																	+ data[index].USER_ID
																	+ "' id='cancel"
																	+ data[index].USER_ID
																	+ "' style='text-align: center; margin-bottom: 10px; width: 100%; font-size: x-large;'>"
															html += "<div class='col-md-6'>"
																
															
																html += '<a href="" class="InfoModal'
																	+data[index].USER_ID
																	+'" onclick = InfoModal("'
																	+data[index].USER_ID
																	+ '") data-toggle="modal" data-target="#userInfoModal">'
															html += "<input type='hidden' value='"+data[index].USER_ID+"' />"
															html += "<span style='margin-left: 30px;'>"
																	+ data[index].NICKNAME
																	+ "</span></a></div>";
														}
														if (host === id
																&& index !== 0) {
															html += "<div class='col-md-6'>"
															
															html += '<button type="button" onclick=cancel("'
																	+ data[index].USER_ID
																	+ '","'
																	+ data[index].S_SEQ
																	+ '") id="cancel'
																	+ data[index].USER_ID
																	+ '" class="btn btn-danger btn" style="line-height: normal;">'
															html += "<span style='font-size: smaller;'>취소</span>"
															html += "</button></div></div></div>"
														}
													}
													$('#success').append(html);
												});
							},
							error : function(e) {
								console.log("error:", e);
							}
						});

			}
		
			//지원현황에서 거절버튼 클릭 시 회원 아이디를 넘겨 승인 상태를 승인거절로 업데이트  해준 뒤 비동기로 화면 출력
			function reject(user_id, s_seq) {
				let data = {
					"user_id" : user_id,
					"s_seq" : s_seq
				}

				$.ajax({
					url : '/ajax/reject.do',
					processData : false,
					contentType : "application/json",
					cache : false,
					type : 'POST',
					data : JSON.stringify(data),
					success : function(data) {
						//승인누른거 지우기
						$('.right' + user_id).remove();

					},
					error : function(e) {
						console.log("error:", e);
					}
				});

			}

			//승인취소
			function cancel(user_id, s_seq) {


				let data = {
					"user_id" : user_id,
					"s_seq" : s_seq
				}

				$
						.ajax({
							url : '/ajax/cancel.do',
							processData : false,
							contentType : "application/json",
							cache : false,
							type : 'POST',
							data : JSON.stringify(data),
							success : function(data) {

								//승인누른거 지우기
								$('.left' + $.escapeSelector(user_id)).remove();
								$('#wait').empty();

								$
										.each(
												data,
												function(index, item) {
													var host = data[0].USER_ID;
													console.warn("datatatatata" + data[0].USER_ID);
													console.warn("datatatatata" + data[0].NICKNAME);
													var id = data[data.length - 1].user_id

													let html = "";
													if (data[index].ACCEPT_STATUS === '승인대기중'
															&& data[index].ROLE_NAME === '회원') {

														html += "<div class='row right"
																+ data[index].USER_ID
																+ "' style='text-align: center; margin-bottom: 10px; width: 100%'>";
														html += "<div class='col-md-6'>";
														html += '<a href="" class="InfoModal'
															+data[index].USER_ID
															+'" onclick = InfoModal("'
															+data[index].USER_ID
															+ '") data-toggle="modal" data-target="#userInfoModal">'
													html += "<input type='hidden' value="+data[index].USER_ID+">"
														
														
														html += "<span class='row' id='doing_study_row'>";
														html += "<span class='col' id='doing_study_col' style='font-size: x-large'>";
														html += "<p style='margin-left: 30px;'>"
																+ data[index].NICKNAME
																+ "</p></span></span>";
														html += "</a></div>"

														html += "<div class='col-md-6'>";

														html += '<button type="button" style="margin-right:4px;" onclick=accept("'
																+ data[index].USER_ID
																+ '","'
																+ data[index].S_SEQ
																+ '") "id="approval" class="btn btn-success btn" id="button_approval">';
														html += "<span style='font-size: smaller;'>승인</span></button>";
														html += '<button type="button" onclick=reject("'
																+ data[index].USER_ID
																+ '","'
																+ data[index].S_SEQ
																+ '") "id="reject" class="btn btn-danger btn" style="line-height: normal;">';
														html += "<span style='font-size: smaller;'>거절</span></button></div>";
														html += "</div>";

													}
													if (host === id) {
													}

													$('#wait').append(html);
												});

							},
							error : function(e) {
								console.log("error:", e);
							}
						});

			}
			//유저정보 모달 연결
					    function InfoModal(idx) {
				    		console.log('idx : ' + $.escapeSelector(idx));
				    		

				    	  let id = $('.InfoModal' + $.escapeSelector(idx)).children(":eq(0)").val();
				    	  console.log('id : ' + id);

				         let data = {
				            "user_id" : id
				         }

				         $.ajax({
				            url : '/ajax/userInfoModal.do',
				            processData : false,
				            contentType : "application/json",
				            cache : false,
				            type : 'POST',
				            data : JSON.stringify(data),
				            success : function(data) {
				               $('.ModalUserName').text(data[0][0].USER_ID);
				               $('.ModalUserID').text(data[0][0].NICKNAME);
				               $('.introduce').text(data[0][0].INTRODUCE)
				               'src','/material/images/jQuery/asimo.png'
				               $('#profile_img').attr('src', '/userboard/upload/' + data[0][0].PROFILE_IMG);
				               $.each(data[0], function (index, item) {
				                  if (item.SKILL_LEVEL === '입문') {
				                     $('input[name='+item.SKILL_NAME+']:radio[value="입문"]').prop('checked',true);
				                  } else if (data[0][index].SKILL_LEVEL === '초급') {
				                     $('input[name='+item.SKILL_NAME+']:radio[value="초급"]').prop('checked',true);
				                  } else {
				                     $('input[name='+item.SKILL_NAME+']:radio[value="중급이상"]').prop('checked',true);
				                  }
				               })
				               $('._user_board_list').empty();
				               
				               let userBoardList = "";
				               $.each(data[1],function(index, item){
				                  userBoardList += "<tr>";
				                  userBoardList += "<td>";
				                  userBoardList += data[1][index].S_SEQ;
				                  userBoardList += "</td>";
				                  userBoardList += "<td>";
				                  userBoardList += "<a href = '/board/my_Writing_Common_Study_Detail.do?s_seq="
				                           + data[1][index].S_SEQ
				                           + "'>";
				                  userBoardList += data[1][index].TITLE;
				                  userBoardList += "</a>"   
				                  userBoardList += "</td>";
				                  userBoardList += "</tr>";
				               });
				               
				               
				               $('._user_board_list').append(userBoardList);
				            },
				            error : function(e) {
				               console.log("error:", e);
				            }
				         });

				      }
															
		</script>
</body>

</html>