<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>mypage_user_edit</title>
<link href="login.css" type="text/css" rel="stylesheet" />
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
	integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk"
	crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
	integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
	crossorigin="anonymous"></script>
<script
	src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
	integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
	crossorigin="anonymous"></script>
<script
	src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
	integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
	crossorigin="anonymous"></script>

<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<style>
body {
	background-color: rgb(224, 224, 224);
}
</style>
</head>

<body>
	<!-- 회원 수정 페이지 -->
	<div th:replace="/user/includes/header :: header"></div>
	<!--  윗부분 시작 //////////////////////////////////////// -->

	<div class="container"
		style="margin-top: 25px; padding: 0px; background-color: white;">
		<div class="row" style="height: 200px;">
			<div class="col-md-2" style="align-self: center; text-align: center;">
				<img id="preview" src="/userboard/upload/member.png"
					style="height: 100px; border-radius: 50%; margin-bottom: 10px;">
				<input type="file" class="form-control" name="file" id="file">
				<br />
			</div>
			<div class="col-md-4" style="align-self: center;">
				<span th:text="${member.nickname}" style="font-size: xx-large;"></span>

			</div>
			<div class="col-md-6">
				<div class="row" style="margin-top: 20px;">
					<h5>
						<b>자기소개</b>
					</h5>

				</div>
				<div class="row">
					<textarea name="introduce" id="" th:field="*{member.introduce}"
						cols="30" rows="10"
						style="border-color: LightGray; background-color: rgba(211, 211, 211, 0.2); width: 100%; height: 130px; margin-right: 30px;"></textarea>

				</div>
			</div>
		</div>


		<!--  윗부분 끝 //////////////////////////////////////// -->
		<br />
		<!--  마지막 시작  ////////////////////////////////////////  회원정보수정-->
		<!-- 		<a th:href="@{/mypage/MyPageUserEdit.do}"><button type="button" class="btn btn-danger">회원정보수정하기</button></a> -->
		<div class="container"
			style="width: 900px; margin-top: 0px; margin-bottom: 25px; padding: 0px; background-color: white; height: 820px;">
			<div class="row" style="place-content: center; padding-top: 25px;">

				<h3>
					<b>회원 정보 수정</b>
				</h3>
			</div>
			<hr
				style="border: solid 1px rgb(224, 224, 224); margin-top: 10px; margin-bottom: 5px; width: 80%" />

			<div class="row" style="place-content: center; padding-top: 15px;">
				<div class="col-md-5" style="text-align: right;">
					<br>
					<p style="font-size: x-large;">아이디 :</p>

					<p style="font-size: x-large;">비밀번호 :</p>

					<p style="font-size: x-large;">비밀번호 확인 :</p>

					<p style="font-size: x-large;">닉네임 :</p>

					<p style="font-size: x-large;">이메일 :</p>

					<p style="font-size: x-large;">이름 :</p>

				</div>
				<div class="col-md-7">

					<!-- 폼태그 제대로 된건지 모르겟음 할때 확인해봐야함 -->
					<br /> <input type="text" id="user_id"
						th:value="${member.user_id}" name="user_id" readonly
						style="margin-top: 7px; margin-bottom: 22px; background-color: rgb(224, 224, 224);" />
					<!-- readonly 안먹힐 수도 잇음 -->
					<!-- 여긴 아이디 -->
					<br /> <br /> <input type="password" name="user_pwd"
						th:value="${member.user_pwd}" style="margin-bottom: 22px;" />
					<!-- 여긴 비밀번호 -->
					<br /> <br /> <input type="password" name="re-password"
						th:value="${member.user_pwd}" style="margin-bottom: 22px;" />
					<!-- 여긴 비밀번호 확인-->
					<br /> <br /> <input type="text" th:value="${member.nickname}"
						name="nickname" />
					<!-- 여긴 닉네임-->
					<br /> <br /> <input type="text" th:value="${member.user_email}"
						name="user_email" />
					<!-- 이메일 -->
					<br /> <br /> <input type="text" th:value="${member.user_name}"
						name="user_name" />
					<!-- 이름 -->
				</div>
			</div>

			<div class="row" style="font-size: x-large;">
				<div class="col-md-2"></div>
				<div class="col-md-2" style="text-align: center">
					<b> 실력</b>
				</div>
				<div class="col-md-2" style="text-align: center">입문</div>
				<div class="col-md-2" style="text-align: center">초급</div>
				<div class="col-md-2" style="text-align: center">중급이상</div>
				<div class="col-md-2"></div>
			</div>

			<hr
				style="border: solid 2px rgb(224, 224, 224); margin-top: 10px; margin-bottom: 2px; width: 68%" />

			<div class="row" style="font-size: x-large;">
				<div class="col-md-2"></div>
				<div class="col-md-2" style="text-align: center">
					<span>Java</span>
				</div>
				<!-- 	<div class="col-md-2" style="text-align: center">
				<label><input type="radio" name="java" value="입문"
						th:if="${skill[0].skill_level == '입문'}" checked /></label>
				</div> -->
				<div class="col-md-2" style="text-align: center">
					<label><input type="radio" name="java" value="입문"
						th:attr="checked=${skill[0].skill_level == '입문' ? 'true' : 'false'}" /></label>
				</div>
				<div class="col-md-2" style="text-align: center">
					<label><input type="radio" name="java" value="초급"
						th:attr="checked=${skill[0].skill_level == '초급' ? 'true' : 'false'}" /></label>
				</div>
				<div class="col-md-2" style="text-align: center">
					<label><input type="radio" name="java" value="중급이상"
						th:attr="checked=${skill[0].skill_level == '중급이상' ? 'true' : 'false'}" /></label>
				</div>
				<div class="col-md-2" style="text-align: center"></div>
				<!-- 					</div> -->
			</div>

			<hr
				style="border: solid 1px rgb(224, 224, 224); margin-top: 2px; margin-bottom: 2px; width: 68%" />

			<div class="row" style="font-size: x-large;">
				<div class="col-md-2"></div>
				<div class="col-md-2" style="text-align: center">
					<span>Python</span>
				</div>
				<div class="col-md-2" style="text-align: center">
					<input type="radio" name="python" value="입문"
						th:attr="checked=${skill[1].skill_level == '입문' ? 'true' : 'false'}" />
				</div>
				<div class="col-md-2" style="text-align: center">
					<input type="radio" name="python" value="초급"
						th:attr="checked=${skill[1].skill_level == '초급' ? 'true' : 'false'}" />
				</div>
				<div class="col-md-2" style="text-align: center">
					<input type="radio" name="python" value="중급이상"
						th:attr="checked=${skill[1].skill_level == '중급이상' ? 'true' : 'false'}" />
				</div>
				<div class="col-md-2" style="text-align: center"></div>
			</div>

			<hr
				style="border: solid 1px rgb(224, 224, 224); margin-top: 2px; margin-bottom: 2px; width: 68%" />

			<div class="row" style="font-size: x-large;">
				<div class="col-md-2"></div>
				<div class="col-md-2" style="text-align: center">
					<span>HTML/CSS</span>
				</div>
				<div class="col-md-2" style="text-align: center">
					<input type="radio" name="html_css" value="입문"
						th:attr="checked=${skill[2].skill_level == '입문' ? 'true' : 'false'}" />
				</div>
				<div class="col-md-2" style="text-align: center">
					<input type="radio" name="html_css" value="초급"
						th:attr="checked=${skill[2].skill_level == '초급' ? 'true' : 'false'}" />
				</div>
				<div class="col-md-2" style="text-align: center">
					<input type="radio" name="html_css" value="중급이상"
						th:attr="checked=${skill[2].skill_level == '중급이상' ? 'true' : 'false'}" />
				</div>
				<div class="col-md-2" style="text-align: center"></div>
			</div>

			<hr
				style="border: solid 1px rgb(224, 224, 224); margin-top: 2px; margin-bottom: 2px; width: 68%" />

			<div class="row" style="font-size: x-large;">
				<div class="col-md-2"></div>
				<div class="col-md-2" style="text-align: center">
					<span>JavaScript</span>
				</div>
				<div class="col-md-2" style="text-align: center">
					<input type="radio" name="javascript" value="입문"
						th:attr="checked=${skill[3].skill_level == '입문' ? 'true' : 'false'}" />
				</div>
				<div class="col-md-2" style="text-align: center">
					<input type="radio" name="javascript" value="초급"
						th:attr="checked=${skill[3].skill_level == '초급' ? 'true' : 'false'}" />
				</div>
				<div class="col-md-2" style="text-align: center">
					<input type="radio" name="javascript" value="중급이상"
						th:attr="checked=${skill[3].skill_level == '중급이상' ? 'true' : 'false'}" />
				</div>
				<div class="col-md-2" style="text-align: center"></div>
			</div>

			<hr
				style="border: solid 1px rgb(224, 224, 224); margin-top: 2px; margin-bottom: 2px; width: 68%" />

			<div class="row" style="font-size: x-large;">
				<div class="col-md-2"></div>
				<div class="col-md-2" style="text-align: center">
					<span>SQL</span>
				</div>
				<div class="col-md-2" style="text-align: center">
					<input type="radio" name="sql" value="입문"
						th:attr="checked=${skill[4].skill_level == '입문' ? 'true' : 'false'}" />
				</div>
				<div class="col-md-2" style="text-align: center">
					<input type="radio" name="sql" value="초급"
						th:attr="checked=${skill[4].skill_level == '초급' ? 'true' : 'false'}" />
				</div>
				<div class="col-md-2" style="text-align: center">
					<input type="radio" name="sql" value="중급이상"
						th:attr="checked=${skill[4].skill_level == '중급이상' ? 'true' : 'false'}" />
				</div>
				<div class="col-md-2" style="text-align: center"></div>
			</div>

			<div class="row" style="place-content: center;">
				<!-- 				<div class="col-md-2"></div> -->
				<div class="col-md-8" style="text-align: center;">
					<input type="submit" value="수정" class="btn-save button" />
				</div>
				<div class="col-md-2">
					&nbsp; &nbsp; &nbsp; <a th:href="@{/mypage/MyPageUserEdit.do}"><button
							type="button" class="btn btn-danger">회원정보수정</button></a>
				</div>
			</div>
		</div>
	</div>

	<!-- 여기까지 마지막 부분 끝/// 회원정보수정 -->
	<div th:replace="/user/includes/footer :: footer"></div>


</body>


</html>