<!doctype html>

<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<!--<![endif]-->
<link rel="shortcut icon"
	href="../../../resources/images/img/favicon.ico" type="image/x-icon" />
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title>WeStudy Admin</title>
<meta name="description" content="Sufee Admin - HTML5 Admin Template">
<meta name="viewport" content="width=device-width, initial-scale=1">


<div th:replace="/manager/includes/head :: head"></div>

</head>

<body>


	<div th:replace="/manager/includes/nav_side :: nav_side"></div>
	<!-- 이거하면 깨짐...  -->


	<!-- Right Panel -->

	<div id="right-panel" class="right-panel">

		<div th:replace="/manager/includes/nav_top :: nav_top"></div>


		<div class="breadcrumbs">
			<div class="col-sm-4">
				<div class="page-header float-left">
					<div class="page-title">
						<h1>메인페이지 입니다.</h1>
					</div>
				</div>
			</div>
		</div>

		<div class="content mt-3">

			<div class="col-lg-3 col-md-6">

				<div class="card">

					<div class="card-body">
						<p style="align-self: center; height: 30px;">
							<b>우리 사이트의 총 회원 수</b>
						</p>
						<img src="/resources/admin_assets/images/member.png"
							style="width: 50px;"> <span th:text="${membercount}"
							style="font-size: xx-large; margin-left: 35px; padding-left: 65px; font-weight: bolder;"></span>
						<b> 명 </b>
						<div id="chart2" class="stat-digit"></div>
					</div>
				</div>
			</div>

			<div class="col-lg-3 col-md-6">
				<div class="card">

					<div class="card-body">
						<p style="align-self: center; margin-left: 5px; height: 30px;">
							<b>스터디 최다 개설 지역</b>
						</p>
						<img src="/resources/admin_assets/images/map.png"
							style="width: 50px;"> <span th:text="${bestLocation}"
							style="font-size: xx-large; padding-left: 65px; font-weight: bolder;"></span>
						<div id="chart2" class="stat-digit"></div>
					</div>
				</div>
			</div>

			<div class="col-lg-3 col-md-6">
				<div class="card">

					<div class="card-body">
						<p style="align-self: center; margin-left: 5px; height: 30px;">
							<b>가장 많이 선택받은 언어</b>
						</p>
						<img src="/resources/admin_assets/images/language.png"
							style="width: 50px;"> <span th:text="${bestLanguage}"
							style="font-size: xx-large; padding-left: 65px; font-weight: bolder;"></span>
						<div id="chart3" class="stat-digit"></div>
					</div>
				</div>
			</div>

			<div class="col-lg-3 col-md-6">
				<div class="card">
					<div class="card-body">
						<p style="align-self: center; margin-left: 5px; height: 30px;">
							<b>처리해야 할 신고 건수</b>
						</p>
						<img src="/resources/admin_assets/images/bookmark.png"
							style="width: 50px;"> <span th:text="${blameCount}"
							style="font-size: xx-large; margin-left: 35px; padding-left: 65px; font-weight: bolder;"></span>
						<b> 건 </b>
					</div>
					<div id="chart4" class="stat-digit"></div>
				</div>
			</div>

			<!-- 차트 시작 -->
			<div class="col-xl-12">
				<div class="card">
					<div class="card-body" style="height: 600px;">
						<div class="chart-wrapper mt-4">
							<canvas id="myChart" height="100"></canvas>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- .content -->
	<!-- /#right-panel -->

	<!-- Right Panel -->

	<div th:replace="/manager/includes/script :: script"></div>
	<script src="http://ajax.aspnetcdn.com/ajax/jQuery/jquery-1.8.0.min.js"></script>
	<!-- 차트JS -->
	<script type="text/javascript"
		src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.1.6/Chart.bundle.min.js"></script>
</body>
<script>
	$(function() {
		$
				.ajax({
					type : "post",
					url : "/ajax/mainChart.do",
					dataType : "json", //POINT
					success : function(data) {
						console.log(data);
						console.log(data[0].l_title);
						console.log(data[0].count);
						let frameworks = [ "1위", "2위", "3위", "4위", "5위", "6위",
								"7위", "8위", "9위", "10위" ];
						var barChartData = {
							labels : [ data[0].l_title, data[1].l_title,
									data[2].l_title, data[3].l_title,
									data[4].l_title, data[5].l_title,
									data[6].l_title, data[7].l_title,
									data[8].l_title, data[9].l_title ],
							//type: 'bar',
							datasets : [ {
								data : [ data[0].count, data[1].count,
										data[2].count, data[3].count,
										data[4].count, data[5].count,
										data[6].count, data[7].count,
										data[8].count, data[9].count ],
								backgroundColor : [ 'rgba(244,99,132,0.2)',
										'rgba(54,162,235,0.2)',
										'rgba(255,206,86,0.2)',
										'rgba(75,192,192,0.2)',
										'rgba(244,99,132,0.2)',
										'rgba(153,102,255,0.2)',
										'rgba(54,162,235,0.2)',
										'rgba(255,206,86,0.2)',
										'rgba(75,192,192,0.2)',
										'rgba(244,99,132,0.2)' ],
								label : '총 북마크 개수'

							} ]
						};

						var ctx = $('#myChart').get(0).getContext("2d");
						window.theChart = new Chart(ctx, {
							type : 'bar',
							data : barChartData,
							options : {
								title : {
									display : true,
									text : "북마크 순위 TOP 10",
									position : 'top',
									fontSize : 20,
									lineHeight : 1.2,
									padding : 0,
								},
								legend : {
									display : true,
									labels : {
										fontSize : 13,
									},
								},
								scales : {
									xAxes : [ {
										ticks : {
											fontColor : 'rgba(12, 13, 13, 1)',
											fontSize : 13
										},
										barPercentage : 0.9,
										categoryPercentage : 0.9,
									} ],
									yAxes : [ {
										ticks : {
											min : 0,
											max : 10,
											stepSize : 2
										},
									} ],
								}

							}
						});

					},
					error : function(request, status, error) {
						console.log("code:" + request.status + "\n"
								+ "message:" + request.responseText + "\n"
								+ "error:" + error);
					}

				});
	});
</script>

</body>

</html>