<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>join</title>
<link href="login.css" type="text/css" rel="stylesheet" />

<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
	integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk"
	crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
	integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
	crossorigin="anonymous"></script>
<script
	src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
	integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
	crossorigin="anonymous"></script>
<script
	src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
	integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
	crossorigin="anonymous"></script>
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>

<body>
	<div th:replace="/user/includes/header :: header"></div>

	<div class="container"
		style="width: 37%; margin-top: 30px; margin-top: 25px; margin-bottom: 25px;">
		<h2>회원가입</h2>
		<br />
		<form action="" method="post" class="needs-validation" name="joinform" id="joinform"
			novalidate>
			<div id="kwc">
				<div class="form-group">
					<label for="user_id">아이디</label>
					<div class="row" style="place-content: center;">
						<input type="text" class="form-control" id="user_id"
							placeholder="아이디를 입력해주세요." name="user_id" style="width: 80%;"
							required> &nbsp;
						<button type="button" class="btn btn-warning" style="width: 15%;">인증</button>
					</div>
				<div class="form-group">
					<label for="pwd">비밀번호</label> <input type="password"
						class="form-control" id="user_pwd" placeholder="비밀번호를 입력해주세요."
						name="user_pwd" required>
				</div>

				<div class="form-group">
					<label for="pwd">비밀번호 확인</label> <input type="password"
						class="form-control" id="re-password" placeholder="비밀번호를 입력해주세요. "
						name="re-password" required>
					<div id="message"></div>
				</div>

				<div class="form-group">
					<label for="pwd">이름</label> <input type="text" class="form-control"
						id="user_name" placeholder="이름을 입력해주세요." name="user_name" required>
				</div>

				<div class="form-group">
					<label for="pwd">닉네임</label> <input type="text"
						class="form-control" id="nickname" placeholder="닉네임을 입력해주세요"
						name="nickname" required>
				</div>

				<div class="form-group">
					<label for="pwd">이메일 주소</label> <input type="email"
						class="form-control" id="user_email" placeholder="이메일을 입력해주세요"
						name="user_email" required>
				</div>

				<!-- <div class="form-group form-check">
				<label class="form-check-label">
					<input class="form-check-input" type="checkbox" name="remember" required> I agree on blabla.
					<div class="valid-feedback">ok.</div>
					<div class="invalid-feedback">Check this checkbox to continue.</div>
				</label>
			</div> -->
				<!-- </div> -->

			</div>
			<br /> <br /> <br />

			<!-- <div class="container"> -->
			<div class="row">
				<div class="col-md-2"></div>
				<div class="col">
					<b style="margin-left: 10px; font-size: larger;">내 실력 체크</b>
				</div>
			</div>
			<br />

			<div class="row" style="font-size: x-large;">
				<div class="col-md-2"></div>
				<div class="col-md-2" style="text-align: center">
					<b> 실력</b>
				</div>
				<div class="col-md-2" style="text-align: center">입문</div>
				<div class="col-md-2" style="text-align: center">초급</div>
				<div class="col-md-2" style="text-align: center">중급이상</div>
				<div class="col-md-2"></div>
			</div>

			<hr
				style="border: solid 2px rgb(224, 224, 224); margin-top: 10px; margin-bottom: 2px; width: 68%" />
			<div class="row" style="font-size: x-large;">
				<div class="col-md-2"></div>
				<div class="col-md-2"style="text-align: center" name="skill_name" value="skill_name" id="java">자바
				<input type="hidden" name="skill_name" value="java">
				</div>
				<div class="col-md-2" style="text-align: center">
					<input type="radio" name="skill_level" value="입문" id="입문" checked="" />
				</div>
				<div class="col-md-2" style="text-align: center">
					<input type="radio" name="skill_level" value="초급" id="초급" />
				</div>
				<div class="col-md-2" style="text-align: center">
					<input type="radio" name="skill_level" value="중급이상" id="중급이상" />
				</div>
				<div class="col-md-2" style="text-align: center"></div>
			</div>
			<hr
				style="border: solid 1px rgb(224, 224, 224); margin-top: 2px; margin-bottom: 2px; width: 68%" />
			<div class="row" style="font-size: x-large;">
				<div class="col-md-2"></div>
				<div class="col-md-2" style="text-align: center">파이썬
				<input type="hidden" name="skill_name" value="python">
				</div>
				<div class="col-md-2" style="text-align: center">
					<input type="radio" name="skill_level" value="입문" id="입문" checked="" />
				</div>
				<div class="col-md-2" style="text-align: center">
					<input type="radio" name="skill_level"  value="초급"  id="초급"  />
				</div>
				<div class="col-md-2" style="text-align: center">
					<input type="radio" name="skill_level" value="중급이상" id="중급이상" />
				</div>
				<div class="col-md-2" style="text-align: center"></div>
			</div>
			<hr
				style="border: solid 1px rgb(224, 224, 224); margin-top: 2px; margin-bottom: 2px; width: 68%" />
			<div class="row" style="font-size: x-large;">
				<div class="col-md-2"></div>
				<div class="col-md-2" style="text-align: center">HTML/CSS
				<input type="hidden" name="skill_name" value="HTML/CSS">
				</div>
				<div class="col-md-2" style="text-align: center">
					<input type="radio" name="skill_level" value="입문" id="입문" checked="" />
				</div>
				<div class="col-md-2" style="text-align: center">
					<input type="radio" name="skill_level" value="초급"  id="초급" />
				</div>
				<div class="col-md-2" style="text-align: center">
					<input type="radio" name="skill_level"  value="중급이상" id="중급이상" />
				</div>
				<div class="col-md-2" style="text-align: center"></div>
			</div>
			<hr
				style="border: solid 1px rgb(224, 224, 224); margin-top: 2px; margin-bottom: 2px; width: 68%" />


			<div class="row" style="font-size: x-large;">
				<div class="col-md-2"></div>
				<div class="col-md-2" style="text-align: center">javascript
				<input type="hidden" name="skill_name" value="javascript">
				</div>
				<div class="col-md-2" style="text-align: center">
					<input type="radio" name="skill_level" value="입문" id="입문" checked="" />
				</div>
				<div class="col-md-2" style="text-align: center">
					<input type="radio" name="skill_level" value="초급"  id="초급" />
				</div>
				<div class="col-md-2" style="text-align: center">
					<input type="radio" name="skill_level" value="중급이상" id="중급이상" />
				</div>
				<div class="col-md-2" style="text-align: center"></div>
			</div>

			<hr
				style="border: solid 1px rgb(224, 224, 224); margin-top: 2px; margin-bottom: 2px; width: 68%" />

			<div class="row" style="font-size: x-large;">
				<div class="col-md-2"></div>
				<div class="col-md-2" style="text-align: center">SQL
				<input type="hidden" name="skill_name" value="SQL">
				</div>
				<div class="col-md-2" style="text-align: center">
					<input type="radio" name="skill_level" value="입문" id="입문"  checked="" />
				</div>
				<div class="col-md-2" style="text-align: center">
					<input type="radio" name="skill_level"  value="초급" id="초급"/>
				</div>
				<div class="col-md-2" style="text-align: center">
					<input type="radio" name="skill_level"  value="중급이상" id="중급이상" />
				</div>
				<div class="col-md-2" style="text-align: center"></div>
			</div>
			<hr
				style="border: solid 1px rgb(224, 224, 224); margin-top: 2px; margin-bottom: 2px; width: 68%" />

			<br /> <br />

			<div class="row">
				<div class="col-md-2"></div>
				<div class="col-md-8">
					<b style="font-size: larger;">저는 이런것도 할줄 알아요~</b>
					<p></p>
					<textarea name="introduce" id="introduce" rows="5" required></textarea>
				</div>
				<div class="col-md-2"></div>
			</div>


			<br />
			<div class="row" style="font-size: x-large; place-content: center;">
				<div class="col-md-4"></div>
				<div class="col-md-4">
					<button type="submit" class="btn btn-primary"
						style="width: 100%; height: 60px;">
						<h4 style="margin: 0">회원가입</h4>
					</button>
				</div>
				<div class="col-md-4"></div>

			</div>

			<!-- 	</div> -->

		<!-- </div>
	</div> -->
	</div>
	</form>
		</div>

	<br />
	<br />
	<br />
	<br />
	<br />
	<div th:replace="/user/includes/footer :: footer"></div>

	<!-- <script>
		// Disable form submissions if there are invalid fields
		(function() {
			'use strict';
			window.addEventListener('load',
					function() {
						// Get the forms we want to add validation styles to
						var forms = document
								.getElementsByClassName('needs-validation');
						// Loop over them and prevent submission
						var validation = Array.prototype.filter.call(forms,
								function(form) {
									form.addEventListener('submit', function(
											event) {
										if (form.checkValidity() === false) {
											event.preventDefault();
											event.stopPropagation();
										}
										form.classList.add('was-validated');
									}, false);
								});
					}, false);
		})();
	</script> -->

	<!-- <script>
		//내용입력 이랑 입력 강제 
		$(function() {

			var toggle = false;
			var pwCheck = false;

			$('#joinform')
					.submit(
							function() {
								//alert("가입");
								if ($('#userid').val() == "") { // 아이디 검사
									alert('ID를 입력해 주세요.');
									$('#userid').focus();
									return false;
								} else if ($('#password').val() == "") { // 비밀번호 검사
									alert('비밀번호를 입력해 주세요.');
									$('#password').focus();
									return false;
								} else if ($('#re-password').val() == "") { // 비밀번호 검사
									alert('비밀번호 확인을 입력해 주세요.');
									$('#re-password').focus();
									return false;
								} else if ($('#username').val() == "") { // 이름 검사
									alert('name를 입력해 주세요.');
									$('#username').focus();
									return false;
								} else if ($('#email').val() == "") { // 나이 검사
									alert('email를 입력해 주세요.');
									$('#email').focus();
									return false;

								} else if (regFlag[0] === false
										|| regFlag[1] === false
										|| regFlag[2] === false
										|| regFlag[3] === false) {
									alert('정규표현식을 맞춰주세요.')
									return false;
								} else if (toggle === false) {
									alert('아이디 중복체크를 해주세요.')
									return false;
								} else if (pwCheck === false) {
									alert('입력하신 비밀번호가 일치하지 않습니다.')
									return false;
								} else {
									return true;
								}

							});

			//유효성 검사
			// 목표 : 이름은 2글자 이상 10글자 이하로 정한다
			// 숫자나 특수문자가 입력되면 안된다.

			// 1. input창에 값을 받아서 확인한다.
			// 2. 값이 올바르게 입력되면 "GOOD"을 프린트한다.
			// 3. 값이 올바르지 않으면 "글자나 영어를 2~5개까지 입력하셔야 합니다."라는 경고창이 뜬다.

			var regFlag = [ false, false, false, false ];

			let check_num = /[0-9]/; // 숫자
			let check_eng = /[a-zA-Z]/; // 문자
			let check_spc = /[~!@#$%^&*()_+|<>?:{}]/; // 특수문자
			let check_kor = /[ㄱ-ㅎ|ㅏ-ㅣ|가-힣]/; // 한글체크

			let nameInput = document.querySelector("#username");
			let nameResult = document.querySelector(".name");

			function nameCheck() {
				if (nameInput.value.length > 1 && nameInput.value.length < 10) {
					if (check_kor.test(nameInput.value)
							&& !check_num.test(nameInput.value)
							&& !check_eng.test(nameInput.value)
							&& !check_spc.test(nameInput.value)) {
						nameResult.innerHTML = "GOOD";
						regFlag[0] = true;
					} else {
						nameResult.innerHTML = "한글만 입력이 가능합니다.(2~10개)";
						regFlag[0] = false;
					}
				} else if (nameInput.value.length === 0) {
					nameResult.innerHTML = "이름을 입력해주세요.(2~10개)";
					regFlag[0] = false;
				} else {
					nameResult.innerHTML = "한글만 입력이 가능합니다.(2~10개)";
					regFlag[0] = false;
				}
			}

			nameInput.addEventListener("blur", nameCheck);

			// 목표 : 이메일문법확인하기

			let emailInput = document.querySelector("#email");
			let emailResult = document.querySelector(".email");
			let reg_email = /^([0-9a-zA-Z_\.-]+)@([0-9a-zA-Z_-]+)(\.[0-9a-zA-Z_-]+){1,2}$/;

			function emailCheck() {
				if (reg_email.test(emailInput.value)) {
					emailResult.innerHTML = "GOOD";
					regFlag[1] = true;
				} else {
					emailResult.innerHTML = "이메일을 입력하세요.";
					regFlag[1] = false;
				}
			}

			emailInput.addEventListener("blur", emailCheck);

			// 목표 : 비밀번호를 입력하세요.

			let passwordInput = document.querySelector("#password");
			let passwordResult = document.querySelector(".password");
			let reg_password = /^(?=.*?[a-z])(?=.*?[0-9])(?=.*?[#?!@$%^&*-]).{8,}$/;

			function passwordCkeck() {
				if (reg_password.test(passwordInput.value)) {
					passwordResult.innerHTML = "GOOD";
					regFlag[2] = true;
				} else {
					passwordResult.innerHTML = "비밀번호는 8자 이상이어야 하며, 숫자/소문자/특수문자를 모두 포함해야 합니다.";
					regFlag[2] = false;
				}
			}

			passwordInput.addEventListener("blur", passwordCkeck);

			phoneInput.addEventListener("blur", phoneCkeck);

			$('#re-password').keyup(function() {
				if ($('#password').val() != $('#re-password').val()) {
					$('#message').text('암호가 일치하지 않습니다');
					pwCheck = false;
				} else {
					$('#message').text('암호가 일치합니다.');
					pwCheck = true;
				}
			});

			/* 아이디 중복체크
			$('#IdCheck').click(
								function(e) {
									e.preventDefault();
									var value = $('#id').val();
									$.ajax({
										url : "idcheck.ump",
										type : 'POST',
										dataType : 'json',
										data:{
											id: $('#id').val()
										},
										success : function(data) {
											//아이디 중복시 아이디 인풋값 제거
											
											if($('#id').val() === ''){
												$('.idcheck').html("아이디를 입력해주세요.")
												toggle = false;
											}
											else if(data.checkResult === 1){ //아이디 존재
												$('.idcheck').html("아이디가 존재합니다.")
												$('#id').val("");
												$('#id').focus();
												toggle = false;
											}else{
												$('.idcheck').html("사용하셔도 됩니다.")
												toggle = true;
											}
										},
										error : function(request, status, error) {
											console.log("code:" + request.status + "\n"
													+ "error:" + error);
			
										}
									})
			
								}); */

		});
	</script> -->

</body>


</html>