<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<title>join</title>
	<link href="login.css" type="text/css" rel="stylesheet" />

	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
		integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
	<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
		integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
		crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
		integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
		crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
		integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
		crossorigin="anonymous"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>

<body>
	<div th:replace="/user/includes/header :: header"> </div>
	<div class="container" style="width:37%;margin-top:30px;margin-top: 25px;margin-bottom: 25px;">
		<h2>회원가입</h2>
		<br />
		<form action="" class="needs-validation" novalidate>
			<div class="form-group">
				<label for="userid">아이디</label>
				<div class="row" style="place-content: center;">
					<input type="text" class="form-control" id="userid" placeholder="Enter userid" name="uname"
						style="width: 80%;" required>
					&nbsp;
					<button type="button" class="btn btn-warning" style="width:15%;">인증</button>
					<div class="valid-feedback">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;ok.</div>
					<div class="invalid-feedback">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;아이디를 입력해주세요.</div>
				</div>
			</div>

			<div class="form-group">
				<label for="pwd">비밀번호</label>
				<input type="password" class="form-control" id="password" placeholder="Enter password" name="pswd"
					required>
				<div class="valid-feedback">ok.</div>
				<div class="invalid-feedback">비밀번호를 입력해주세요.</div>
			</div>

			<div class="form-group">
				<label for="pwd">비밀번호 확인</label>
				<input type="password" class="form-control" id="re-password" placeholder="Enter re-password "
					name="pswd" required>
				<div class="valid-feedback">ok.</div>
				<div class="invalid-feedback">비밀번호 확인.</div>
			</div>

			<div class="form-group">
				<label for="pwd">이름</label>
				<input type="text" class="form-control" id="username" placeholder="Enter username" name="pswd" required>
				<div class="valid-feedback">ok.</div>
				<div class="invalid-feedback">이름을 입력해주세요.</div>
			</div>

			<div class="form-group">
				<label for="pwd">닉네임</label>
				<input type="text" class="form-control" id="nickname" placeholder="Enter nickname" name="pswd" required>
				<div class="valid-feedback">ok.</div>
				<div class="invalid-feedback">닉네임을 입력해주세요.</div>
			</div>

			<div class="form-group">
				<label for="pwd">이메일 주소</label>
				<input type="email" class="form-control" id="email" placeholder="Enter email" name="pswd" required>
				<div class="valid-feedback">ok.</div>
				<div class="invalid-feedback">이메일을 입력해주세요.</div>
			</div>

			<!-- <div class="form-group form-check">
				<label class="form-check-label">
					<input class="form-check-input" type="checkbox" name="remember" required> I agree on blabla.
					<div class="valid-feedback">ok.</div>
					<div class="invalid-feedback">Check this checkbox to continue.</div>
				</label>
			</div> -->





		</div>


	<br />
	<br />
	<br />



	<div class="container">
		<div class="row">


			<div class="col-md-2">

			</div>
			<div class="col">
				<b style="margin-left: 10px;font-size: larger;">내 실력 체크</b>
			</div>
		</div>
		<br />


		<div class="row" style="font-size:x-large;">
			<div class="col-md-2">
			</div>
			<div class="col-md-2" style="text-align:center">
				<b> 실력</b>
			</div>
			<div class="col-md-2" style="text-align:center">
				입문
			</div>
			<div class="col-md-2" style="text-align:center">
				초급
			</div>
			<div class="col-md-2" style="text-align:center">
				중급이상
			</div>
			<div class="col-md-2">
			</div>
		</div>

		<hr style="border: solid 2px rgb(224, 224, 224); margin-top: 10px; margin-bottom:2px; width:68%" />

		<div class="row" style="font-size:x-large;">
			<div class="col-md-2">
			</div>
			<div class="col-md-2" style="text-align:center">
				<span>Java</span>
			</div>
			<div class="col-md-2" style="text-align:center">
				<input type="radio" name="_java" checked="" />
			</div>
			<div class="col-md-2" style="text-align:center">
				<input type="radio" name="_java" />
			</div>
			<div class="col-md-2" style="text-align:center">
				<input type="radio" name="_java" />
			</div>
			<div class="col-md-2" style="text-align:center">
			</div>
		</div>

		<hr style="border: solid 1px rgb(224, 224, 224); margin-top: 2px; margin-bottom:2px; width:68%" />

		<div class="row" style="font-size:x-large;">
			<div class="col-md-2">
			</div>
			<div class="col-md-2" style="text-align:center">
				<span>Python</span>
			</div>
			<div class="col-md-2" style="text-align:center">
				<input type="radio" name="_python" checked="" />
			</div>
			<div class="col-md-2" style="text-align:center">
				<input type="radio" name="_python" />
			</div>
			<div class="col-md-2" style="text-align:center">
				<input type="radio" name="_python" />
			</div>
			<div class="col-md-2" style="text-align:center">
			</div>
		</div>

		<hr style="border: solid 1px rgb(224, 224, 224); margin-top: 2px; margin-bottom:2px; width:68%" />

		<div class="row" style="font-size:x-large;">
			<div class="col-md-2">
			</div>
			<div class="col-md-2" style="text-align:center">
				<span>HTML/CSS</span>
			</div>
			<div class="col-md-2" style="text-align:center">
				<input type="radio" name="_html_css" checked="" />
			</div>
			<div class="col-md-2" style="text-align:center">
				<input type="radio" name="_html_css" />
			</div>
			<div class="col-md-2" style="text-align:center">
				<input type="radio" name="_html_css" />
			</div>
			<div class="col-md-2" style="text-align:center">
			</div>
		</div>

		<hr style="border: solid 1px rgb(224, 224, 224); margin-top: 2px; margin-bottom:2px; width:68%" />

		<div class="row" style="font-size:x-large;">
			<div class="col-md-2">
			</div>
			<div class="col-md-2" style="text-align:center">
				<span>JavaScript</span>
			</div>
			<div class="col-md-2" style="text-align:center">
				<input type="radio" name="_javascript" checked="" />
			</div>
			<div class="col-md-2" style="text-align:center">
				<input type="radio" name="_javascript" />
			</div>
			<div class="col-md-2" style="text-align:center">
				<input type="radio" name="_javascript" />
			</div>
			<div class="col-md-2" style="text-align:center">
			</div>
		</div>

		<hr style="border: solid 1px rgb(224, 224, 224); margin-top: 2px; margin-bottom:2px; width:68%" />

		<div class="row" style="font-size:x-large;">
			<div class="col-md-2">
			</div>
			<div class="col-md-2" style="text-align:center">
				<span>SQL</span>
			</div>
			<div class="col-md-2" style="text-align:center">
				<input type="radio" name="_sql" checked="" />
			</div>
			<div class="col-md-2" style="text-align:center">
				<input type="radio" name="_sql" />
			</div>
			<div class="col-md-2" style="text-align:center">
				<input type="radio" name="_sql" />
			</div>
			<div class="col-md-2" style="text-align:center">
			</div>
		</div>
		<hr style="border: solid 1px rgb(224, 224, 224); margin-top: 2px; margin-bottom:2px; width:68%" />

		<br /><br />





		<div class="row">
			<div class="col-md-2">

			</div>
			<div class="col-md-8">

				<b style="font-size: larger;">저는 이런것도 할줄 알아요~</b>
				<p></p>
				<textarea name="" id="" cols="100%" rows="5"></textarea>
			</div>
			<div class="col-md-2">

			</div>
		</div>

		<br />


		<div class="row" style="font-size:x-large;place-content: center;">
			<div class="col-md-4">

			</div>
			<div class="col-md-4">
				<button type="submit" class="btn btn-primary" style="width:100%;height:60px;">
					<h4 style="margin:0">회원가입</h4>
				</button>
			</div>
			<div class="col-md-4">

			</div>

		</div>

		</form>
	</div>

	<br />
	<br />
	<br />
	<br />
	<br />
	<div th:replace="/user/includes/footer :: footer"> </div>

	<script>
		// Disable form submissions if there are invalid fields
		(function () {
			'use strict';
			window.addEventListener('load', function () {
				// Get the forms we want to add validation styles to
				var forms = document.getElementsByClassName('needs-validation');
				// Loop over them and prevent submission
				var validation = Array.prototype.filter.call(forms, function (form) {
					form.addEventListener('submit', function (event) {
						if (form.checkValidity() === false) {
							event.preventDefault();
							event.stopPropagation();
						}
						form.classList.add('was-validated');
					}, false);
				});
			}, false);
		})();
	</script>


</body>


</html>