<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>신고페이지</title>
<div th:replace="/user/includes/bootstrap_link :: bootstrap_link"></div>

<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>


<body>

	<!--여기서부터 화면코드-->
	<!-- Button trigger modal -->
	<div th:fragment="chat_Room_Form">
		<!-- Modal -->
		<div class="modal fade" id="chatRoomFormlModal" tabindex="-1"
			role="dialog" aria-labelledby="exampleModalCenterTitle"
			aria-hidden="true">

			<form action="" method="post" class="chatRoomForm"
				name="chatRoomForm" id="blameform">
				<div class="modal-dialog modal-dialog-centered" role="document">
					<div class="modal-content">
						<div class="modal-header">
							<img src="../../../../resources/images/img/chatroom.png"
								style="width: 40px; height: 40px;">
							<h5 class="modal-title" id="exampleModalCenterTitle"
								style="padding-left: 10px;">공개 채팅방 만들기</h5>
							<button type="button" class="close" data-dismiss="modal"
								aria-label="Close">
								<span aria-hidden="true">&times;</span>
							</button>
						</div>
						<div class="modal-body container"
							style="padding: 30px; padding-bottom: 0px;">
							<div class="row">
								<div class="col-md-2">채팅방 제목 :</div>
								<div class="col-md-9" style="padding-left: 0px;">
									<input type="text" name="ch_title"
										class="form-control form-control-sm">
								</div>
							</div>
							<div class="row">
								<div class="col-md-2">채팅방 설명 :</div>
								<div class="col-md-9" style="padding-left: 0px;">
									<input type="text" name="ch_description"
										class="form-control form-control-sm">
								</div>
							</div>
							<div class="row">
								<div class="col-md-2">채팅방 비번 :</div>
								<div class="col-md-9" style="padding-left: 0px;">
									<input placeholder="방비번" type="text" name="ch_pw" id="ch_pw"
										style="width: 200px;" disabled="true" /> <input
										type="checkbox" onclick="onClickHandler()" id="flag"
										name="flag" value="HTML" style="width: 80px;" />
								</div>
							</div>
							<br />
							<div class="row" style="text-align: center; margin: 0 auto;">
								<div class="col-4" style="padding: 0px;"></div>
								<div class="col-4"
									style="padding: 0px; margin-left: 8px; text-align: left;">
									<button type="submit" id="room-btn"
										class="btn btn-outline-danger" value="방 생성">방 생성</button>
								</div>
								<div class="col-4" style="padding: 0px;"></div>
							</div>
						</div>
					</div>
				</div>
			</form>
		</div>
	</div>
	<div th:replace="/user/includes/bootstrap_script :: bootstrap_script"></div>

</body>

</html>