
<div th:fragment="footer">
	<footer>
		<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
			<div class="col-md-4">
				<li class="nav-item" style="list-style: none;"><span
					style="font-size: x-large; background-color: aliceblue; font-style: italic; text-decoration: underline; border-radius: 100px/50px;">&nbsp;
						<b>RC</b> &nbsp;
				</span></li> <br />
				<li class="nav-item" style="list-style: none;"><span
					style="color: lightgray; font-style: italic;"> 만약 여러분이 코딩을 할
						수 있게 된다면 <br /> 앉은 자리에서 무언가를 만들어 낼 수 있고,<br /> 아무도 당신을 막을 수 없을
						것입니다. <br /> <br /> - 마크 저커버그-
				</span></li>

			</div>
			<div class="col-md-2">
				<li class="nav-item" style="list-style: none;"><a
					class="nav-link disabled" href="#">노상코딩</a></li>
				<li class="nav-item" style="list-style: none;"><a
					class="nav-link" style="color: aliceblue;" href="#">공지사항</a></li>
				<li class="nav-item" style="list-style: none;"><a
					class="nav-link" style="color: aliceblue;" href="#">노상코딩 소개</a></li>
				<li class="nav-item" style="list-style: none;"><a
					class="nav-link" style="color: aliceblue;" href="#">채용 안내</a></li>
			</div>
			<div class="col-md-2">
				<li class="nav-item" style="list-style: none;"><a
					class="nav-link disabled" href="#">인터넷 강의</a></li>
				<li class="nav-item" style="list-style: none;"><a
					class="nav-link" style="color: aliceblue;" href="#">공지사항</a></li>
				<li class="nav-item" style="list-style: none;"><a
					class="nav-link" style="color: aliceblue;" href="#">노상코딩 소개</a></li>
				<li class="nav-item" style="list-style: none;"><a
					class="nav-link" style="color: aliceblue;" href="#">채용 안내</a></li>
			</div>
			<div class="col-md-2">
				<li class="nav-item" style="list-style: none;"><a
					class="nav-link disabled" href="#">스터디</a></li>
				<li class="nav-item" style="list-style: none;"><a
					class="nav-link" style="color: aliceblue;" href="#">공지사항</a></li>
				<li class="nav-item" style="list-style: none;"><a
					class="nav-link" style="color: aliceblue;" href="#">노상코딩 소개</a></li>
				<li class="nav-item" style="list-style: none;"><a
					class="nav-link" style="color: aliceblue;" href="#">채용 안내</a></li>
			</div>
			<div class="col-md-2"></div>
		</nav>
	</footer>
</div>
