
<!-- 헤더 -->
<div th:fragment="header">
	<header>
		<nav class="navbar navbar-expand-sm navbar-light"
			style="background-color: rgba(18, 214, 103, 0.79);">
			<!-- Brand -->
			<div class="col-md-3"></div>
			<div class="col-md-6" style="text-align: center;">
				<a class="navbar-brand" href="/user/main.do">
					<h1 style="font-family: inherit; font-size: xxx-large; margin: 0;">
						<img src="img/logo.png" style="height: 100px;" alt=""> Road
						Coding
					</h1>
				</a>
			</div>
			<div class="col-md-1">
				<a href="/member/login.do" id="" class="btn btn-warning"
					role="button" style="float: right;">LOGIN</a>
			</div>
			<div class="col-md-1">
				<a href="/member/join.do" id="" class="btn btn-danger" role="button"
					style="float: right;">JOIN</a>
			</div>
			<div class="col-md-1">
				<ul class="navbar-nav" style="place-content: center;">
					<!-- Dropdown -->
					<li class="nav-item dropdown"><a
						class="nav-link dropdown-toggle" href="#" id="navbardrop"
						data-toggle="dropdown"> <img
							src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcSSBGjSeYimOBFkTRv3VK3T8aZZ8a1GWsSFzA&usqp=CAU"
							alt="" style="height: 50px; border-radius: 50%;">
					</a>
						<div class="dropdown-menu" style="transform: translateX(-55px);">
							<a class="dropdown-item" href="/mypage/mypage.do">마이페이지</a> <a
								class="dropdown-item" href="/mypage/mypage_Myboard.do">내가 쓴
								게시글</a> <a class="dropdown-item"
								href="/mypage/mypage_Message_From_Board.do">쪽지함</a>
						</div></li>
				</ul>
			</div>


		</nav>


		<nav class="navbar navbar-expand-sm bg-light navbar-light"
			style="border-top: solid 5px #E5E5E5; border-bottom: solid 1px #E5E5E5;">
			<!-- Brand -->
			<div class="col-md-2"></div>

			<div class="col-md-8">
				<ul class="navbar-nav" style="place-content: center;">
					<li class="nav-item"><a class="nav-link" href="/user/main.do">
							<h5>HOME</h5>
					</a></li> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
					<li class="nav-item"><a class="nav-link"
						href="/board/course_List.do">
							<h5>
								<b>온라인 강의</b>
							</h5>
					</a></li> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
					<li class="nav-item"><a class="nav-link"
						href="/board/study_List.do">
							<h5>
								<b>스터디 모임</b>
							</h5>
					</a></li>
				</ul>
			</div>
			<div class="col-md-2"></div>
		</nav>
	</header>


</div>
