
<div th:fragment="header2">
    <!-- ======= Header ======= -->
    <header id="header" class="fixed-top header-transparent">
        <div class="container-fluid">

            <div class="row justify-content-center">
                <div class="col-xl-9 d-flex align-items-center">
                    <h1 class="logo mr-auto"><a href="main.do">WeStudy</a></h1>
                    <!-- Uncomment below if you prefer to use an image logo -->
                    <!-- <a href="index.html" class="logo mr-auto"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->


                    <nav class="nav-menu d-none d-lg-block">
                        <ul>
                            <li class="active"><a href="main.do">Home</a></li>
                            <li><a href="/board/course_List.do">온라인 강의</a></li>
                            <li><a href="/board/study_List.do">스터디 모임</a></li>
                            <li style="color:white; font-size: 30px; padding:0px; padding-left:20px; margin-top:5px;">|</li>
                            <li><a href="/member/login.do">로그인</a></li>
                              <li class="drop-down" style="padding-left:0px;"><a href=""></a>
                                <ul>
                                    <li><a href="#">마이페이지</a></li>
                                    <li><a href="#">내가 쓴 게시글</a></li>
                                    <li><a href="#">쪽지함</a></li>
                                    <li><a href="#">로그아웃</a></li>
                                </ul>
                            </li>
                              <li><a href="/member/join.do">회원가입</a></li>
                          

                        </ul>
                    </nav><!-- .nav-menu -->
                </div>
            </div>

        </div>
    </header><!-- End Header -->

  

    

</div>