<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<link rel="shortcut icon"
	href="../../../resources/images/img/favicon.ico" type="image/x-icon" />
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>신고페이지</title>

<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
	integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk"
	crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
	integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
	crossorigin="anonymous"></script>
<script
	src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
	integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
	crossorigin="anonymous"></script>
<script
	src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
	integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
	crossorigin="anonymous"></script>
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>


<body>

	<!--여기서부터 화면코드-->
	<!-- Button trigger modal -->
	<button type="button" class="btn btn-outline-warning"
		data-toggle="modal" data-target="#declationPageModal">신고합니다</button>
	<div th:fragment="declation_Page_Modal">
		<!-- Modal -->
		<div class="modal fade" id="declationPageModal" tabindex="-1"
			role="dialog" aria-labelledby="exampleModalCenterTitle"
			aria-hidden="true">
			<form>
				<div class="modal-dialog modal-dialog-centered" role="document">
					<div class="modal-content">
						<div class="modal-header">
							<img src="../../../../resources/images/img/siren.png"
								style="width: 30px; height: 30px;">
							<h5 class="modal-title" id="exampleModalCenterTitle"
								style="padding-left: 10px;">신고상세 내용</h5>
							<button type="button" class="close" data-dismiss="modal"
								aria-label="Close">
								<span aria-hidden="true">&times;</span>
							</button>
						</div>
						<div class="modal-body container"
							style="padding: 30px; padding-bottom: 0px;">
							<div class="row">
								<div style="padding-bottom: 10px;" class="col-md-3">신고일자</div>
								<div class="col-md-9" style="padding-left: 0px;">
									<span id="write_date"></span>
								</div>
							</div>
							<div class="row">
								<div class="col-md-2">제목 :</div>
								<div class="col-md-9" style="padding-left: 0px;">
									<input id="bl_title" readonly type="text"
										class="form-control form-control-sm">
								</div>
							</div>
							<hr>
						</div>
						<div class="modal-body container"
							style="padding: 30px; padding-top: 0px;">
							<h5>
								<b>[사유]</b>
							</h5>
							<div style="padding-left: 30px;">
								<label id="type" for="1"></label><br>
								<div class="form-group">
									<textarea class="form-control" rows="3" id="bl_content"
										readonly name="comment" placeholder="추가 내용" style="resize:none;"></textarea>
								</div>
							</div>
							
							<input type="hidden" id="bl_seq" value="" />
							<input type="hidden" id="target" value="" />
							<input type="hidden" id="m_seq"  value="" />
							
							
							<div id="message">
								<div class='col-4' id="declareMessageButtons" style='padding: 0px; text-align: center;'>
									<button id='message' th:onclick="|javascript:messageCheck()|" type='button'
										class='btn btn-outline-success' >쪽지내용</button>
								</div>

								<div class='col-4' id="messageOk"
									style='padding: 0px; text-align: center; margin: 0 auto;'>
									<button th:onclick="|javascript:declareYes()|" type='button'
										class='btn btn-outline-danger'>신고정상</button>
								</div>

								<div class='col-4' id="messageNo"
									style='padding: 0px; text-align: center; margin: 0 auto;'>
									<button th:onclick="|javascript:declareNo()|" type='button'
										class='btn btn-outline-danger'>신고비정상</button>
								</div>

							</div>


							<div id="study">
								<div class="col-4" id="declareButtons"
									style='padding: 0px; text-align: center; margin: 0 auto;'>

								</div>

								<div class='col-4' id="studyOk"
									style='padding: 0px; text-align: center; margin: 0 auto;'>
									<button th:onclick="|javascript:declareYes()|" type='button'
										class='btn btn-outline-danger'>신고정상</button>
								</div>

								<div class='col-4' id="studyNo"
									style='padding: 0px; text-align: center; margin: 0 auto;'>
									<button th:onclick="|javascript:declareNo()|" type='button'
										class='btn btn-outline-danger'>신고비정상</button>
								</div>
							</div>
						</div>

					</div>
			</form>
		</div>
	</div>
</body>

</html>