<div th:fragment="head">
	<link rel="apple-touch-icon" href="apple-icon.png">
	<link rel="shortcut icon" href="favicon.ico">

	<link rel="stylesheet"
		href="../../../../resources/admin_assets/vendors/bootstrap/dist/css/bootstrap.min.css">
	<link rel="stylesheet"
		href="../../../../resources/admin_assets/vendors/font-awesome/css/font-awesome.min.css">
	<link rel="stylesheet"
		href="../../../../resources/admin_assets/vendors/themify-icons/css/themify-icons.css">
	<link rel="stylesheet"
		href="../../../../resources/admin_assets/vendors/flag-icon-css/css/flag-icon.min.css">

	<link rel="stylesheet"
		href="../../../../resources/admin_assets/assets/css/style.css">

	<link
		href='https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800'
		rel='stylesheet' type='text/css'>
</div>