<div th:fragment="script">
   <script
      src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
   <script
      src="../../../../resources/admin_assets/vendors/jquery/dist/jquery.min.js"></script>
   <script
      src="../../../../resources/admin_assets/vendors/popper.js/dist/umd/popper.min.js"></script>
   <script
      src="../../../../resources/admin_assets/vendors/bootstrap/dist/js/bootstrap.min.js"></script>
   <script
      src="../../../../resources/admin_assets/assets/js/main.js"></script>
</div>