<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<link rel="shortcut icon" href="../../../resources/images/img/favicon.ico" type="image/x-icon"/>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<title>board_select</title>
	<div th:replace="/user/includes/bootstrap_link :: bootstrap_link"></div>
</head>
<style>

	#portfolio .portfolio-item figure .link-preview{
		position: absolute;
		display: inline-block;
		opacity: 0;
		line-height: 1;
		text-align: center;
		width: 70px;
		height: 36px;
		background: #fff;
		border-radius: 15%;
		transition: 0.3s linear;
	}
</style>

<body>

	<div th:replace="user/includes/header :: header"></div>


	<!-- 여기서부터 본론 -->


	<main id="main">

		<!-- ======= Breadcrumbs Section ======= -->
		<section class="breadcrumbs" style="margin-top: 70px;">
			<div class="container">

				<div class="d-flex justify-content-between align-items-center">
					<h2>원하는 스터디 유형을 선택 해주세요.</h2>
				</div>

			</div>
		</section><!-- Breadcrumbs Section -->

	</main><!-- End #main -->



	<!-- ======= Portfolio Section ======= -->
	<section id="portfolio" class="section">
		<div class="container" data-aos="fade-up">

			<header class="section-header">
				<h3 class="section-title">당신이 원하는 스터디 유형은~~? 두구두구</h3>
			</header>
			<br />
			<br />
			<br />
			<div class="row" data-aos="fade-up" data-aos-delay="100">
				<div class=" col-lg-12">
					<ul id="portfolio-flters">
						<li data-filter="*" style="display:none;">All</li>
					</ul>
				</div>
			</div>

			<div class="row portfolio-container" data-aos="fade-up" data-aos-delay="200">
				<div class="col-lg-1 col-md-2 portfolio-item filter-app">
				</div>
				<div class="col-lg-4 col-md-6 portfolio-item filter-app">
					<div class="portfolio-wrap">
						<figure>
							<img src="../../../../resources/assets/img/portfolio/juststart.jpg" class="img-fluid"
								alt="">
							<a href="/lecture/board_Select_Online_Bookmark.do" data-lightbox="portfolio" data-title="App 1"
								class="link-preview"><i class="ion ion-university"></i></a>
						</figure>

						<div class="portfolio-info">
							<h4><a href="/lecture/board_Select_Online_Bookmark.do">온라인 강의</a></h4>
							<p>온라인 강의를 이용하여 스터디 모임 구성</p>
						</div>
					</div>
				</div>
				<div class="col-lg-2 col-md-2 portfolio-item filter-app">
				</div>
				<div class="col-lg-4 col-md-6 portfolio-item filter-app">
					<div class="portfolio-wrap">
						<figure>
							<img src="../../../../resources/assets/img/portfolio/study.jpg" class="img-fluid" alt="">
							<a href="/board/writing_Normal_Study.do" data-lightbox="portfolio" data-title="App 1"
								class="link-preview"><i class="ion ion-university"></i></a>
						</figure>

						<div class="portfolio-info">
							<h4><a href="/board/writing_Normal_Study.do">일반</a></h4>
							<p>프리한 스터디 모임 구성</p>
						</div>
					</div>
				</div>
				<div class="col-lg-1 col-md-2 portfolio-item filter-app">
				</div>
			</div>

		</div>

		<!-- 북마크 필요성에 대한 설명 -->
		<div class="container" style="margin-top: 25px;margin-bottom: 25px;">
			<div class="row" style="text-align: -webkit-center;">
				<div class="col-md-1">
				</div>
				<div class="col-md-4">
					<p style="color:gray">온라인 강의를 이용한 스터디 선택을 위해서는 <br />
						<span style="color:indianred;"><b>1개 이상</b></span>의 북마크가 필요합니다.</style>
				</div>
				<div class="col-md-7">
				</div>
			</div>
		</div>
	</section><!-- End Portfolio Section -->



	<!--여기까지 본론-->



	<div th:replace="/user/includes/footer :: footer"> </div>
	<div th:replace="/user/includes/bootstrap_script :: bootstrap_script"></div>

</body>


</html>