<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>board_select_online</title>
<div th:replace="/user/includes/bootstrap_link :: bootstrap_link"></div>

<link rel="stylesheet"
	href="https://fonts.googleapis.com/icon?family=Material+Icons">

<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">

<style>
hover-css>div {
	box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px
		rgba(0, 0, 0, 0.22);
}

/* .kwc:hover{
	box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
} */

.page-link {
	color: #18d26e;
}

.page-item.active .page-link {
	background-color: #18d26e;
	border-color: white;
	color: white;
	z-index: 3;
}

.pager li>a, .pager li>span {
	border: white;
	background-color: #fff;
}
</style>


</head>

<body>
	<div th:replace="/user/includes/header :: header"></div>

	<main id="main">

		<!-- ======= Breadcrumbs Section ======= -->
		<section class="breadcrumbs" style="margin-top: 70px;">
			<div class="container">

				<div class="d-flex justify-content-between align-items-center">
					<h2 style="margin-top: 0px;">북마크한 강의중 원하는 온라인 강의를 선택해주세요.</h2>
				</div>

			</div>
		</section>
		<!-- Breadcrumbs Section -->

		<section id="portfolio" class="section-bg"
			style="background-color: white;">
			<div class="container aos-init aos-animate" data-aos="fade-up">

				<div style="float: right;">
					<a href="#" title="More Details"><i
						class="ion ion-android-open"></i></a>
				</div>
				<br />

				<div class="row aos-init aos-animate" data-aos="fade-up"
					data-aos-delay="100">
					<div class=" col-lg-12">
						<ul id="portfolio-flters" style="display: none">
							<li data-filter="*" class="filter-active">All</li>
						</ul>
					</div>
				</div>

				<div class="row portfolio-container aos-init aos-animate hover-css"
					data-aos="fade-up" data-aos-delay="200"
					style="position: relative; height: 3240px;">

					<a href="">
						<div class="col-lg-4 col-md-6 portfolio-item filter-app kwc"
							style="position: absolute; left: 0px; top: 0px;">
							<div class="portfolio-wrap">
								<figure>
									<img src="assets/img/portfolio/app1.jpg" class="img-fluid"
										alt="">
								</figure>

								<div class="portfolio-info">
									<h4>
										<a href="portfolio-details.html">App 1</a>
									</h4>
									<p>App</p>
								</div>
							</div>
						</div>
					</a>

					<div class="col-lg-4 col-md-6 portfolio-item filter-web"
						style="position: absolute; left: 0px; top: 360px;">
						<div class="portfolio-wrap">
							<figure>
								<img src="assets/img/portfolio/web3.jpg" class="img-fluid"
									alt="">
							</figure>

							<div class="portfolio-info">
								<h4>
									<a href="portfolio-details.html">Web 3</a>
								</h4>
								<p>Web</p>
							</div>
						</div>
					</div>

					<div class="col-lg-4 col-md-6 portfolio-item filter-app"
						style="position: absolute; left: 0px; top: 720px;">
						<div class="portfolio-wrap">
							<figure>
								<img src="assets/img/portfolio/app2.jpg" class="img-fluid"
									alt="">
							</figure>

							<div class="portfolio-info">
								<h4>
									<a href="portfolio-details.html">App 2</a>
								</h4>
								<p>App</p>
							</div>
						</div>
					</div>

					<div class="col-lg-4 col-md-6 portfolio-item filter-card"
						style="position: absolute; left: 0px; top: 1080px;">
						<div class="portfolio-wrap">
							<figure>
								<img src="assets/img/portfolio/card2.jpg" class="img-fluid"
									alt="">
							</figure>

							<div class="portfolio-info">
								<h4>
									<a href="portfolio-details.html">Card 2</a>
								</h4>
								<p>Card</p>
							</div>
						</div>
					</div>

					<div class="col-lg-4 col-md-6 portfolio-item filter-web"
						style="position: absolute; left: 0px; top: 1440px;">
						<div class="portfolio-wrap">
							<figure>
								<img src="assets/img/portfolio/web2.jpg" class="img-fluid"
									alt="">
							</figure>

							<div class="portfolio-info">
								<h4>
									<a href="portfolio-details.html">Web 2</a>
								</h4>
								<p>Web</p>
							</div>
						</div>
					</div>

					<div class="col-lg-4 col-md-6 portfolio-item filter-app"
						style="position: absolute; left: 0px; top: 1800px;">
						<div class="portfolio-wrap">
							<figure>
								<img src="assets/img/portfolio/app3.jpg" class="img-fluid"
									alt="">
							</figure>

							<div class="portfolio-info">
								<h4>
									<a href="portfolio-details.html">App 3</a>
								</h4>
								<p>App</p>
							</div>
						</div>
					</div>

					<div class="col-lg-4 col-md-6 portfolio-item filter-card"
						style="position: absolute; left: 0px; top: 2160px;">
						<div class="portfolio-wrap">
							<figure>
								<img src="assets/img/portfolio/card1.jpg" class="img-fluid"
									alt="">
							</figure>

							<div class="portfolio-info">
								<h4>
									<a href="portfolio-details.html">Card 1</a>
								</h4>
								<p>Card</p>
							</div>
						</div>
					</div>

					<div class="col-lg-4 col-md-6 portfolio-item filter-card"
						style="position: absolute; left: 0px; top: 2520px;">
						<div class="portfolio-wrap">
							<figure>
								<img src="assets/img/portfolio/card3.jpg" class="img-fluid"
									alt="">
							</figure>

							<div class="portfolio-info">
								<h4>
									<a href="portfolio-details.html">Card 3</a>
								</h4>
								<p>Card</p>
							</div>
						</div>
					</div>

					<div class="col-lg-4 col-md-6 portfolio-item filter-web"
						style="position: absolute; left: 0px; top: 2880px;">
						<div class="portfolio-wrap">
							<figure>
								<img src="assets/img/portfolio/web1.jpg" class="img-fluid"
									alt="">
							</figure>

							<div class="portfolio-info">
								<h4>
									<a href="portfolio-details.html">Web 1</a>
								</h4>
								<p>Web</p>
							</div>
						</div>
					</div>

				</div>

			</div>
		</section>

	</main>
	<!-- End #main -->

	<div class="row" style="place-content: center;">
		<ul class="pager">
			<li><a class="page-link" href="#">PREV</a></li>
			<li class="page-item"><a class="page-link" href="#">1</a></li>
			<li class="page-item active"><a class="page-link" href="#">2</a></li>
			<li class="page-item"><a class="page-link" href="#">3</a></li>
			<li><a class="page-link" href="#">NEXT</a></li>
		</ul>
	</div>

	<div th:replace="/user/includes/footer :: footer"></div>
	<div th:replace="/user/includes/bootstrap_script :: bootstrap_script"></div>


</body>


</html>