<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<title>course_list</title>
	<link href="login.css" type="text/css" rel="stylesheet" />

	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
		integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
	<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
		integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
		crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
		integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
		crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
		integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
		crossorigin="anonymous"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
	<link href="../../../../resources/assets/img/favicon.png" rel="icon">
	<link href="../../../../resources/assets/img/apple-touch-icon.png" rel="apple-touch-icon">
	<link href="../../../../resources/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
	<link href="../../../../resources/assets/vendor/icofont/icofont.min.css" rel="stylesheet">
	<link href="../../../../resources/assets/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet">
	<link href="../../../../resources/assets/vendor/ionicons/css/ionicons.min.css" rel="stylesheet">
	<link href="../../../../resources/assets/vendor/animate.css/animate.min.css" rel="stylesheet">
	<link href="../../../../resources/assets/vendor/venobox/venobox.css" rel="stylesheet">
	<link href="../../../../resources/assets/vendor/owl.carousel/assets/owl.carousel.min.css" rel="stylesheet">
	<link href="../../../../resources/assets/vendor/aos/aos.css" rel="stylesheet">

	<!-- Template Main CSS File -->
	<link href="../../../../resources/assets/css/style.css" rel="stylesheet">
	<style>
		._category {
			text-align: center;
			align-self: center;
		}

		._category_button {
			place-self: center;
		}

		._button_color {
			background-color: #BCF1D3;
			color: black;
			border-color: darkseagreen;
		}

		._margin_0 {
			margin: 0;
		}

		.verticalLine {
			border-left: solid 0.5px #979696;

		}

		@media (min-width : 992px) {
			.col-md-15 {
				width: 20%;
				float: left;
			}
		}

		.pager li>a,
		.pager li>span {
			border: white;
			background-color: #fff;
		}

		.pager li>a,
		.pager li>span {
			display: inline-block;
			padding: 5px 14px;
			border-radius: 15px;
			border:white;
			background-color: #fff;
		}

		.page-link {
			color: #18d26e;
		}

		.page-link {
			position: relative;
			margin-left: -1px;
			line-height: 1.25;
		}

		a {
			text-decoration: none;
		}

		a {
			transition: 0.5s;
		}

		* {
			box-sizing: border-box;
		}

		a:-webkit-any-link {
			cursor: pointer;
		}

		li {
			text-align: -webkit-match-parent;
		}

		.pager {
			padding-left: 0;
			margin: 20px 0;
			list-style: none;
			text-align: center;
		}

		ul {
			display: block;
			margin-block-start: 1em;
			margin-block-end: 1em;
			margin-inline-start: 0px;
			margin-inline-end: 0px;
			padding-inline-start: 40px;
		}


		body {
			font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
			font-size: 14px;
			background-color: #fff;
			background: #fff;
			margin: 0;
		}

		.page-item.active .page-link {
         background-color: #18d26e;
         border-color: white;
         color: white;
         z-index: 3;
      }
	</style>


</head>


<body>
	<div th:replace="/user/includes/header :: header"></div>


	<main id="main">

		<!-- ======= Breadcrumbs Section ======= -->
		<section class="breadcrumbs" style="margin-top: 70px;">
			<div class="container">

				<div class="d-flex justify-content-between align-items-center">
					<h2>찾고 싶은 <b style="color:#18d26e">키워드</b>를 선택해 주세요.</h2>
				</div>

			</div>
		</section><!-- Breadcrumbs Section -->

	</main><!-- End #main -->



	<!--포트폴리오 section 으로 감싸줘야 css가 입혀짐-->
	<section id="portfolio" class="section-bg">

		<!-- course란 강좌라는 뜻이에염~ -->
		<!--class="filter-active"  주면 선택된상태로 만들수 있음-->
		<div class="container">
			<div class="row">
				<div class="row" style="width: 100%; margin-bottom: 0px; ">
					<div class="col-md-3 _category box aos-init aos-animate" data-aos="fade-up" data-aos-delay="300">
						<span class="title _category_list">난이도</span>
					</div>
					<div class="col-md-9 _category_button verticalLine">
						<ul id="portfolio-flters">
							&nbsp;
							<li data-filter=".filter-level">입문</li>
							&nbsp;&nbsp;&nbsp;
							<li data-filter=".filter-level">초급</li>
							&nbsp;&nbsp;&nbsp;
							<li data-filter=".filter-level">중급 이상</li>
						</ul>
					</div>
				</div>
				<div class="row" style="width: 100%; margin-bottom: 0px;">
					<div class="col-md-3 _category box aos-init aos-animate" data-aos="fade-up" data-aos-delay="300">
						<span class="title _category_list">가격</span>
					</div>
					<div class="col-md-9 _category_button verticalLine">
						<ul id="portfolio-flters">
							&nbsp;
							<li data-filter=".filter-price">무료</li>
							&nbsp;
							<li data-filter=".filter-price">3만원 이하</li>
							&nbsp;
							<li data-filter=".filter-price">3-5 만원</li>
							&nbsp;
							<li data-filter=".filter-price">5-10 만원</li>
							&nbsp;
							<li data-filter=".filter-price">10만원 이상</li>
						</ul>
					</div>
				</div>

				<div class="row" style="width: 100%; margin-bottom: 0px;">
					<div class="col-md-3 _category box aos-init aos-animate" data-aos="fade-up" data-aos-delay="300">
						<div>
							<span class="title _category_list  ">언어</span>
						</div>
					</div>
					<div class="col-md-9 _category_button verticalLine">
						<ul id="portfolio-flters">
							&nbsp;
							<li data-filter=".filter-lan">JAVA</li>
							&nbsp;
							<li data-filter=".filter-lan">Javascript</li>
							&nbsp;
							<li data-filter=".filter-lan">HTML/CSS</li>
							&nbsp;
							<li data-filter=".filter-lan">Spring</li>
							&nbsp;
							<li data-filter=".filter-lan">DataBase</li>
							&nbsp;
							<li data-filter=".filter-lan">Python</li>
							&nbsp;
							<li data-filter=".filter-lan">Vue.js</li>
							&nbsp;
							<li data-filter=".filter-lan">React</li>
						</ul>
						<ul id="portfolio-flters">
							&nbsp;
							<li data-filter=".filter-lan">JSP</li>
							&nbsp;
							<li data-filter=".filter-lan">query</li>
							&nbsp;
							<li data-filter=".filter-lan">BootStrap</li>
							&nbsp;
							<li data-filter=".filter-lan">JPA</li>
						</ul>
					</div>
				</div>
				<div class="row" style="width: 100%; margin-bottom: 0px;">
					<div class="col-md-3 _category box aos-init aos-animate" data-aos="fade-up" data-aos-delay="300">
						<span class="title _category_list">사이트</span>
					</div>
					<div class="col-md-9 _category_button verticalLine">
						<ul id="portfolio-flters">
							&nbsp;
							<li data-filter=".filter-site">인프런</li>
							&nbsp;
							<li data-filter=".filter-site">구름EDU</li>
							&nbsp;
							<li data-filter=".filter-site">Udemy</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</section>



	<!-- ddddddddd -->

	<!-- 여기부터 강의 목록 -->
	<!-- 	th:each="idx,iterStat : ${#numbers.sequence(pageMaker.startPage,pageMaker.endPage)}" -->
	<div class="container" style="margin-top: 50px;">



		<!--<div class="row" style="width:100%;margin: auto;margin-bottom: 20px;"> -->

		<th:block th:each="list,index : ${list}">
			<th:block th:if="${index.index%4==0}"
				th:utext="|&lt;div class=&quot;row&quot; style=&quot;width:100%;margin: auto;margin-bottom: 20px;&quot;&gt;|" />
			<div class="col-md-3">
				<div class="card" style="width: 100%">
					<img class="card-img-top" src="https://cdn.inflearn.com/wp-content/uploads/doit_node.jpg"
						alt="Card image" style="width: 100%">
					<div class="card-body">
						<h6 class="card-title _margin_0" th:text="${list.L_TITLE}">Do
							it! Node.js 프로그래밍(개정판)</h6>
						<p class="card-text _margin_0" style="color: gray; font-size: small;">이지스 퍼블리싱</p>
						<a href="" class="stretched-link"></a> <img
							src="https://user-images.githubusercontent.com/35126809/53712500-7de3c980-3e8a-11e9-8358-23cd94011aeb.png"
							alt="" style="height: 40px;"> <span>(6)</span> <span style="color: rgb(23, 92, 190)">
							<b th:text="${list.P_SEQ}">₩44,000</b>
						</span>
					</div>
				</div>
			</div>
			<th:block th:if="${index.index%4==3}" th:utext="'&lt;/div&gt;'" />

		</th:block>

		<!-- 여기까지 카드 하나 끝 -->

		<th:block th:unless="${#lists.size(list)%4==0}"
			th:utext="'&lt;/div&gt;'" />
<!-- 여기서 문제가 터질지 몰라 감안하세요 -->




		<!-- 		<div class="row" -->
		<!-- 			style="width: 100%; margin: auto; margin-bottom: 20px;"> -->
		<!-- 			<div class="col"> -->
		<!-- 				<div class="card" style="width: 100%"> -->
		<!-- 					<img class="card-img-top" -->
		<!-- 						src="https://cdn.inflearn.com/wp-content/uploads/doit_node.jpg -->
		<!-- 				" -->
		<!-- 						alt="Card image" style="width: 100%"> -->
		<!-- 					<div class="card-body"> -->
		<!-- 						<h6 class="card-title _margin_0">Do it! Node.js 프로그래밍(개정판)</h6> -->
		<!-- 						<p class="card-text _margin_0" -->
		<!-- 							style="color: gray; font-size: small;">이지스 퍼블리싱</p> -->
		<!-- 						<a href="#" class="stretched-link"></a> <img -->
		<!-- 							src="https://user-images.githubusercontent.com/35126809/53712500-7de3c980-3e8a-11e9-8358-23cd94011aeb.png" -->
		<!-- 							alt="" style="height: 40px;"> <span>(6)</span> <span -->
		<!-- 							style="color: rgb(23, 92, 190)"> <b>₩44,000</b> -->
		<!-- 						</span> -->
		<!-- 					</div> -->
		<!-- 				</div> -->
		<!-- 			</div> -->
		<!-- 			<!-- 여기까지 카드 하나 끝 -->

		<!-- 			<div class="col"> -->
		<!-- 				<div class="card" style="width: 100%"> -->
		<!-- 					<img class="card-img-top" -->
		<!-- 						src="https://cdn.inflearn.com/wp-content/uploads/doit_node.jpg -->
		<!-- 				" -->
		<!-- 						alt="Card image" style="width: 100%"> -->
		<!-- 					<div class="card-body"> -->
		<!-- 						<h6 class="card-title _margin_0">Do it! Node.js 프로그래밍(개정판)</h6> -->
		<!-- 						<p class="card-text _margin_0" -->
		<!-- 							style="color: gray; font-size: small;">이지스 퍼블리싱</p> -->
		<!-- 						<a href="#" class="stretched-link"></a> <img -->
		<!-- 							src="https://user-images.githubusercontent.com/35126809/53712500-7de3c980-3e8a-11e9-8358-23cd94011aeb.png" -->
		<!-- 							alt="" style="height: 40px;"> <span>(6)</span> <span -->
		<!-- 							style="color: rgb(23, 92, 190)"> <b>₩44,000</b> -->
		<!-- 						</span> -->
		<!-- 					</div> -->
		<!-- 				</div> -->
		<!-- 			</div> -->
		<!-- 			<div class="col"> -->
		<!-- 				<div class="card" style="width: 100%"> -->
		<!-- 					<img class="card-img-top" -->
		<!-- 						src="https://cdn.inflearn.com/wp-content/uploads/doit_node.jpg -->
		<!-- 				" -->
		<!-- 						alt="Card image" style="width: 100%"> -->
		<!-- 					<div class="card-body"> -->
		<!-- 						<h6 class="card-title _margin_0">Do it! Node.js 프로그래밍(개정판)</h6> -->
		<!-- 						<p class="card-text _margin_0" -->
		<!-- 							style="color: gray; font-size: small;">이지스 퍼블리싱</p> -->
		<!-- 						<a href="#" class="stretched-link"></a> <img -->
		<!-- 							src="https://user-images.githubusercontent.com/35126809/53712500-7de3c980-3e8a-11e9-8358-23cd94011aeb.png" -->
		<!-- 							alt="" style="height: 40px;"> <span>(6)</span> <span -->
		<!-- 							style="color: rgb(23, 92, 190)"> <b>₩44,000</b> -->
		<!-- 						</span> -->
		<!-- 					</div> -->
		<!-- 				</div> -->
		<!-- 			</div> -->
		<!-- 			<div class="col"> -->
		<!-- 				<div class="card" style="width: 100%"> -->
		<!-- 					<img class="card-img-top" -->
		<!-- 						src="https://cdn.inflearn.com/wp-content/uploads/doit_node.jpg -->
		<!-- 				" -->
		<!-- 						alt="Card image" style="width: 100%"> -->
		<!-- 					<div class="card-body"> -->
		<!-- 						<h6 class="card-title _margin_0">Do it! Node.js 프로그래밍(개정판)</h6> -->
		<!-- 						<p class="card-text _margin_0" -->
		<!-- 							style="color: gray; font-size: small;">이지스 퍼블리싱</p> -->
		<!-- 						<a href="#" class="stretched-link"></a> <img -->
		<!-- 							src="https://user-images.githubusercontent.com/35126809/53712500-7de3c980-3e8a-11e9-8358-23cd94011aeb.png" -->
		<!-- 							alt="" style="height: 40px;"> <span>(6)</span> <span -->
		<!-- 							style="color: rgb(23, 92, 190)"> <b>₩44,000</b> -->
		<!-- 						</span> -->
		<!-- 					</div> -->
		<!-- 				</div> -->
		<!-- 			</div> -->
		<!-- 			<div class="col"> -->
		<!-- 				<div class="card" style="width: 100%"> -->
		<!-- 					<img class="card-img-top" -->
		<!-- 						src="https://cdn.inflearn.com/wp-content/uploads/doit_node.jpg -->
		<!-- 				" -->
		<!-- 						alt="Card image" style="width: 100%"> -->
		<!-- 					<div class="card-body"> -->
		<!-- 						<h6 class="card-title _margin_0">Do it! Node.js 프로그래밍(개정판)</h6> -->
		<!-- 						<p class="card-text _margin_0" -->
		<!-- 							style="color: gray; font-size: small;">이지스 퍼블리싱</p> -->
		<!-- 						<a href="#" class="stretched-link"></a> <img -->
		<!-- 							src="https://user-images.githubusercontent.com/35126809/53712500-7de3c980-3e8a-11e9-8358-23cd94011aeb.png" -->
		<!-- 							alt="" style="height: 40px;"> <span>(6)</span> <span -->
		<!-- 							style="color: rgb(23, 92, 190)"> <b>₩44,000</b> -->
		<!-- 						</span> -->
		<!-- 					</div> -->
		<!-- 				</div> -->
		<!-- 			</div> -->
		<!-- 		</div> -->
		<!-- 페이징 버튼 시작-->
		
		<!-- 페이징 버튼 끝 -->


		<br />
			<!--//////////////////////////////-->

		<div class="row" style="place-content: center;">
			<ul class="pager">
				<li><a class="page-link" href="#">PREV</a></li>
				<li class="page-item"><a class="page-link" href="#">1</a></li>
				<li class="page-item active"><a class="page-link" href="#">2</a></li>
				<li class="page-item"><a class="page-link" href="#">3</a></li>
				<li><a class="page-link" href="#">NEXT</a></li>
			</ul>
		</div>
			<!--//////////////////////////////-->

		<!-- 페이징 부트스트랩 버튼 생성하기  -->
		<ul class="pagination" style="place-content: center;">
		
			<!-- 이전버튼 생성여부-->
			<li th:if="${pageMaker.prev} == true">
				<a th:href="@{course_List.do(page=${pageMaker.startPage}-1,perPageNum=${pageMaker.cri.perPageNum})}" class="page-link">
				Previous
				</a>
			</li>


	<!-- 페이지의 시작번호와 끝번호를 이용해 페이지 버튼들을 뿌려줄것임 / 현재페이지 어디인지 알기위해 추가-->
			<li class="page-item"th:each="idx,iterStat : ${#numbers.sequence(pageMaker.startPage,pageMaker.endPage)}"
						th:classappend="${pageMaker.cri.page} == ${idx} ? active : null">
				<a class="page-link"th:href="@{course_List.do(page=${idx},perPageNum=${pageMaker.cri.perPageNum})}"
						th:text="${idx}">1
				</a>
			</li>
			
			
			<!-- 다음버튼 생성여부 -->
			<li th:if="${pageMaker.next} == true and ${pageMaker.endPage > 0}" class="page-item">
				<a
				th:href="@{course_List.do(page=${pageMaker.endPage}+1,perPageNum=${pageMaker.cri.perPageNum})}" class="page-link">
				Next</a>
				<!-- 						              	<a th:href="@{user/board/study_List.do(page=${pageMaker.endPage}+1,perPageNum=${pageMaker.cri.perPageNum})}">&raquo;</a> -->
			</li>


		</ul>
		<!-- 페이징 부트스트랩 버튼 생성하기 끝  -->

	</div>


	<div th:replace="/user/includes/footer :: footer"></div>
	<!-- Vendor JS Files -->
	<script src="../../../../resources/assets/vendor/jquery/jquery.min.js"></script>
	<script src="../../../../resources/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
	<script src="../../../../resources/assets/vendor/jquery.easing/jquery.easing.min.js"></script>
	<script src="../../../../resources/assets/vendor/php-email-form/validate.js"></script>
	<script src="../../../../resources/assets/vendor/waypoints/jquery.waypoints.min.js"></script>
	<script src="../../../../resources/assets/vendor/counterup/counterup.min.js"></script>
	<script src="../../../../resources/assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
	<script src="../../../../resources/assets/vendor/venobox/venobox.min.js"></script>
	<script src="../../../../resources/assets/vendor/owl.carousel/owl.carousel.min.js"></script>
	<script src="../../../../resources/assets/vendor/aos/aos.js"></script>

	<!-- Template Main JS File -->
	<script src="../../../../resources/assets/js/main.js"></script>

</body>


</html>