
<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<link rel="shortcut icon"
	href="../../../resources/images/img/favicon.ico" type="image/x-icon" />
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>stydy_list</title>
<div th:replace="/user/includes/bootstrap_link :: bootstrap_link"></div>

<!-- 폰트어썸 -->
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">


</head>

<style>
._category {
	text-align: center;
	align-self: center;
}

._category_button {
	place-self: center;
}

._button_color {
	background-color: #BCF1D3;
	color: black;
	border-color: darkseagreen;
}

._margin_0 {
	margin: 0;
}

.verticalLine {
	border-left: solid 0.5px #979696;
}

#portfolio #portfolio-flters-lan li, #portfolio #portfolio-flters-level li,
	#portfolio #portfolio-flters-ingOrDone li, #portfolio #portfolio-flters-local li,
	#portfolio #portfolio-flters-studyContent li {
	cursor: pointer;
	margin: 0;
	display: inline-block;
	padding: 10px 20px;
	font-size: 12px;
	line-height: 20px;
	color: #666666;
	border-radius: 4px;
	text-transform: uppercase;
	background: #fff;
	margin-bottom: 5px;
	transition: all 0.3s ease-in-out;
}

#portfolio #portfolio-flters-lan li:hover, #portfolio #portfolio-flters-lan li.filter-active,
	#portfolio #portfolio-flters-level li:hover, #portfolio #portfolio-flters-level li.filter-active,
	#portfolio #portfolio-flters-ingOrDone li:hover, #portfolio #portfolio-flters-ingOrDone li.filter-active,
	#portfolio #portfolio-flters-local li:hover, #portfolio #portfolio-flters-local li.filter-active,
	#portfolio #portfolio-flters-studyContent li:hover, #portfolio #portfolio-flters-studyContent li.filter-active
	{
	background: #18d26e;
	color: #fff;
}

#portfolio #portfolio-flters-lan, #portfolio #portfolio-flters-level,
	#portfolio #portfolio-flters-ingOrDone, #portfolio #portfolio-flters-local,
	#portfolio #portfolio-flters-studyContent {
	padding: 0;
	margin: 5px 0 0 0;
	list-style: none;
	text-align: left;
}

#portfolio #portfolio-flters-lan li {
	background: rgb(240, 238, 238);
}

.pager li>a, .pager li>span {
	border: white;
	background-color: #fff;
}

.pager li>a, .pager li>span {
	display: inline-block;
	padding: 5px 14px;
	border-radius: 5px;
}

.page-link {
	color: #18d26e;
}

.page-link {
	position: relative;
	margin-left: -1px;
	line-height: 1.25;
}

a {
	text-decoration: none;
}

a {
	transition: 0.5s;
}

* {
	box-sizing: border-box;
}

a:-webkit-any-link {
	cursor: pointer;
}

li {
	text-align: -webkit-match-parent;
}

.pager {
	padding-left: 0;
	margin: 20px 0;
	list-style: none;
}

body {
	font-size: 14px;
	background-color: #fff;
	background: #fff;
	margin: 0;
}

.page-item.active .page-link {
	z-index: 3;
	color: #fff;
	background-color: #18d26e;
	border-color: #18d26e;
}
/* 라디오버튼 css*/
._form_radio {
	background: #fff;
	/*    width: 509px; */
	margin: auto;
	padding: 30px;
	min-width: 320px;
	max-width: 540px;
	box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.16), 0 1px 5px 0
		rgba(0, 0, 0, 0.26);
	border-radius: 3px;
}

group+group {
	margin-top: 20px;
}

.inline-radio {
	display: flex;
	border-radius: 3px;
	overflow: hidden;
}

._div_radio {
	position: relative;
	flex: 1;
	border-radius: 3px;
}

._input_radio {
	width: 100%;
	opacity: 0;
	height: 100%;
	cursor: pointer;
}

._radio_label {
	position: absolute;
	top: 0;
	left: 0;
	color: #272C33;
	width: 100%;
	height: 100%;
	background: #fff;
	display: flex;
	align-items: center;
	justify-content: center;
	pointer-events: none;
}

._div_radio:last-child label {
	border-right: 0;
}

._input_radio:checked+label {
	background: #00d463;
	font-weight: 500;
	color: #fff;
	border-radius: 5px;
}

._border_box_shadow2 {
	background: #fff;
	margin: auto;
	margin-top: 10px;
	margin-bottom: 10px;
	box-shadow: 1px 2px 10px 1px rgba(0, 0, 0, 0.16), 0 2px 5px 0
		rgba(0, 0, 0, 0.26);
	border-radius: 3px;
	padding: 0px;
	width: 100%;
	height: 100%;
}

._content {
	display: inline-block;
	width: 800px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: normal;
	line-height: 1.2;
	height: 10.8em;
	text-align: left;
	word-wrap: break-word;
	display: -webkit-box;
	-webkit-line-clamp: 9;
	-webkit-box-orient: vertical;
	max-inline-size: fit-content;
}

._title {
	display: inline-block;
	width: 800px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: normal;
	line-height: 1.2;
	height: 1.2em;
	text-align: left;
	word-wrap: break-word;
	display: -webkit-box;
	-webkit-line-clamp: 1;
	-webkit-box-orient: vertical;
	inline-size: -webkit-fill-available;
}

.custom-select-sm {
	height: calc(1.5em + .5rem + 8px);
	padding-top: .25rem;
	padding-bottom: .25rem;
	padding-left: .5rem;
	font-size: .875rem;
}
</style>


<body>
	<div th:replace="user/includes/header :: header"></div>

	<input type="hidden" id="language" th:value="${language}" />

	<main id="main">

		<!-- ======= Breadcrumbs Section ======= -->
		<section class="breadcrumbs" style="margin-top: 70px;">
			<div class="container">

				<div class="d-flex justify-content-between align-items-center">
					<h2>
						찾고 싶은 <b style="color: #18d26e">키워드</b>를 선택해 주세요.
					</h2>
					<div>
						<div class="text-center" style="text-align-last: end;">
							<a href="/board/board_Select.do" class="btn btn-outline-danger"
								style="border: 3px solid; font-weight: bold;">스터디 모집하기</a>
						</div>
					</div>
				</div>
			</div>
		</section>
		<!-- Breadcrumbs Section -->
	</main>
	<!-- End #main -->


	<!--포트폴리오 section 으로 감싸줘야 css가 입혀짐-->
	<section id="portfolio" class="section-bg"
		style="margin-bottom: 0px; padding: 20px 0px 20px 0px;">

		<!--class="filter-active"  주면 선택된상태로 만들수 있음-->
		<div class="container">

			<div class="row filterRow">
				<div class="row " style="width: 100%; margin-bottom: 0px;">
					<div class="col-md-3 _category box aos-init aos-animate"
						data-aos="fade-up" data-aos-delay="300">
						<span class="title _category_list">모집 상태</span>
					</div>
					<div class="col-md-9 _category_button verticalLine">
						<ul id="portfolio-flters-ingOrDone">
							&nbsp;
							<li data-filter="모집중"
								th:classappend="${ingOrDone} == '모집중' ? filter-active : null">모집중</li>
							&nbsp;
							<li data-filter="모집완료"
								th:classappend="${ingOrDone} == '모집완료' ? filter-active : null">모집
								완료</li>
						</ul>
					</div>

				</div>
				<div class="row" style="width: 100%; margin-bottom: 0px;">
					<div class="col-md-3 _category box aos-init aos-animate"
						data-aos="fade-up" data-aos-delay="300">
						<span class="title _category_list">난이도</span>
					</div>
					<div class="col-md-9 _category_button verticalLine">
						<ul id="portfolio-flters-level">
							&nbsp;
							<li data-filter="입문"
								th:classappend="${level} == '입문' ? filter-active : null">입문</li>
							&nbsp;&nbsp;&nbsp;
							<li data-filter="초급"
								th:classappend="${level} == '초급' ? filter-active : null">초급</li>
							&nbsp;&nbsp;&nbsp;
							<li data-filter="중급이상"
								th:classappend="${level} == '중급이상' ? filter-active : null">중급
								이상</li>
						</ul>
					</div>
				</div>

				<div class="row" style="width: 100%; margin-bottom: 0px;">
					<div class="col-md-3 _category box aos-init aos-animate"
						data-aos="fade-up" data-aos-delay="300">
						<div>
							<span class="title_category_list">언어</span>
						</div>
					</div>
					<div class="col-md-9 _category_button verticalLine">
						<th:block th:if="${language != null}">
							<ul id="portfolio-flters-lan">
								&nbsp;
								<li data-filter="1" class="lan1">JAVA</li> &nbsp;
								<li data-filter="2" class="lan2">Javascript</li> &nbsp;
								<li data-filter="3" class="lan3">HTML/CSS</li> &nbsp;
								<li data-filter="4" class="lan4">Spring</li> &nbsp;
								<li data-filter="5" class="lan5">Python</li> &nbsp;
								<li data-filter="6" class="lan6">Vue.js</li> &nbsp;
								<li data-filter="7" class="lan7">React</li>&nbsp;
								<li data-filter="8" class="lan8">Jquery</li> &nbsp;
								<li data-filter="9" class="lan9">JSP</li> &nbsp;
								<li data-filter="10" class="lan10">BootStrap</li> &nbsp;
								<li data-filter="11" class="lan11">JPA</li>
							</ul>
						</th:block>
						</th:block>

						<!-- 동기식  -->
						<th:block th:if="${language == null}">
							<ul id="portfolio-flters-lan">
								&nbsp;
								<li data-filter="1">JAVA</li> &nbsp;
								<li data-filter="2">Javascript</li> &nbsp;
								<li data-filter="3">HTML/CSS</li> &nbsp;
								<li data-filter="4">Spring</li> &nbsp;
								<li data-filter="5">Python</li> &nbsp;
								<li data-filter="6">Vue.js</li> &nbsp;
								<li data-filter="7">React</li>&nbsp;
								<li data-filter="8">Jquery</li> &nbsp;
								<li data-filter="9" style="margin-left: 7px;">JSP</li> &nbsp;
								<li data-filter="10">BootStrap</li> &nbsp;
								<li data-filter="11">JPA</li>
							</ul>
						</th:block>

					</div>
				</div>
				<div class="row" style="width: 100%; margin-bottom: 0px;">
					<div class="col-md-3 _category box aos-init aos-animate"
						data-aos="fade-up" data-aos-delay="300">
						<span class="title _category_list">지역</span>
					</div>
					<div class="col-md-9 _category_button verticalLine">
						<ul id="portfolio-flters-local">
							&nbsp;
							<li data-filter="1"
								th:classappend="${local} == '1' ? filter-active : null">충청북도</li>
							&nbsp;
							<li data-filter="2"
								th:classappend="${local} == '2' ? filter-active : null">충청남도</li>
							&nbsp;
							<li data-filter="3"
								th:classappend="${local} == '3' ? filter-active : null">경기도</li>
							<li data-filter="4"
								th:classappend="${local} == '4' ? filter-active : null">전라북도</li>
							<li data-filter="5"
								th:classappend="${local} == '5' ? filter-active : null">전라남도</li>
							<li data-filter="6"
								th:classappend="${local} == '6' ? filter-active : null">경상남도</li>
							<li data-filter="7"
								th:classappend="${local} == '7' ? filter-active : null">경상북도</li>
							<li data-filter="8"
								th:classappend="${local} == '8' ? filter-active : null">강원도</li>
							<li data-filter="9"
								th:classappend="${local} == '9' ? filter-active : null">세종특별시</li>
							<li data-filter="10"
								th:classappend="${local} == '10' ? filter-active : null"
								style="margin-left: 7px;">서울특별시</li>
							<li data-filter="11"
								th:classappend="${local} == '11' ? filter-active : null">인천광역시</li>
							<li data-filter="12"
								th:classappend="${local} == '12' ? filter-active : null">제주특별시</li>
							<li data-filter="13"
								th:classappend="${local} == '13' ? filter-active : null">온라인</li>
						</ul>
					</div>
				</div>
				<div class="row" style="width: 100%; margin-bottom: 0px;">
					<div class="col-md-3 _category box aos-init aos-animate"
						data-aos="fade-up" data-aos-delay="300">
						<span class="title _category_list">스터디 콘텐츠</span>
					</div>
					<div class="col-md-9 _category_button verticalLine">
						<ul id="portfolio-flters-studyContent">
							&nbsp;
							<li data-filter="1"
								th:classappend="${studyContent} == '1' ? filter-active : null">온라인
								강의</li> &nbsp;
							<li data-filter="2"
								th:classappend="${studyContent} == '2' ? filter-active : null"
								style="margin-right: 200px;">일반</li>



							<!-- 검색 form -->




						</ul>
					</div>
				</div>
			</div>

		</div>
	</section>





	<!-- 여기부터 스터디 목록 -->
	<div class="container"
		style="margin-top: 50px; margin-bottom: 25px; padding: 0px 0px 15px 0px;">

		<!--  버튼-->
		<div class="row">
			<div class="col-5" style="margin-left: 730px;">
				<div class="form-inline" style="display: inline-flex;">
					<select class="custom-select-sm" id="searchTypeSel"
						name="searchType">
						<option value="">검색조건</option>
						<option value="t">제목</option>
						<option value="c">내용</option>
						<option value="w">작성자</option>
						<option value="tc">제목+내용</option>
						<option value="all">전체조건</option>

					</select> <input class="form-control" type="text" id="keyword"
						name="keyword" th:value="${pageMakerb.cri_b.keyword}"
						placeholder="검색어를 입력하세요" style="width: 228px;" />

					<button type="button" id="searchBtn"
						class="btn btn-outline-success">Search</button>
				</div>
			</div>

		</div>
		<div class="_border_box_shadow2 studyFilter _main_board_box"
			style="border: 4px solid gainsboro; padding: 30px 30px 0px 30px;">
			<!-- 타임리프 반복시작 -->
			<th:block th:if="${list} != null">
				<div th:each="list : ${list}">
					<div class="row">
						<div class="col-md-3"></div>
						<div class="col-md-4">
							<!-- 여기에 뱃지 -->
							<span class="badge badge-pill badge-primary"
								th:text="${list.STATUS}"></span> <span
								class="badge badge-pill badge-info" th:text="${list.LEVEL}"></span>
							<span class="badge badge-pill badge-secondary"
								th:text="${list.CATE_LANGUAGE}"></span> <span
								class="badge badge-pill badge-success"
								th:text="|${list.PEOPLE}명|"></span> <span
								class="badge badge-pill badge-warning" th:text="${list.LOC}"></span>
							<span class="badge badge-pill badge-light"
								th:text="${list.CONTENT_KIND}"></span>
						</div>

					</div>
					<div class="row">

						<th:block th:switch="${list.C_SEQ}">
							<div th:case="2" class="col-md-3 align-self-center">
								<div class="card" style="width: 100%">
									<img class="card-img-top"
										th:src="'/studyboard/upload/' + ${list.IMAGE}"
										alt="Card image" style="width: 100%;">
								</div>
							</div>

							<div th:case="1" class="col-md-3">
								<th:block th:each="list2 : ${onlineInfo}">
									<th:block th:switch="${list2.S_SEQ}">
										<div th:case="${list.S_SEQ}" class="card" style="width: 100%">
											<img class="card-img-top" th:src="${list.IMAGE}"
												alt="Card image" style="width: 100%;">
											<div class="card-body">
												<h6 th:text="${list2.L_TITLE}" class="card-title _margin_0"></h6>
												<p class="card-text _margin_0" th:text="${list2.L_WRITER}"
													style="color: gray; font-size: small;"></p>
												<a th:href="${list2.L_ADDRESS}" class="stretched-link"></a>
												<div
													style="CLEAR: both; PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BACKGROUND: url('https://user-images.githubusercontent.com/61257242/87853568-33ab9d00-c946-11ea-9123-21c2ec016b03.gif') 0px 0px; FLOAT: left; PADDING-BOTTOM: 0px; MARGIN: 0px; WIDTH: 90px; PADDING-TOP: 0px; HEIGHT: 18px;">
													<p class="_star"
														th:style="|WIDTH:| +${list2.L_STAR}*20+|%; PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BACKGROUND: url('https://user-images.githubusercontent.com/61257242/87853576-40c88c00-c946-11ea-8b70-98a4d286ef1c.gif') 0px 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; HEIGHT: 18px;|">
													</p>
												</div>
												<span th:text="|(${list2.L_REVIEW})|">(6)</span> <b
													th:text="|₩${list2.L_PRICE}|">₩44,000</b>
											</div>
										</div>
									</th:block>
								</th:block>
							</div>
						</th:block>


						<div class="col-md-9" style="padding: 3px 30px 30px 30px;">
							<div class="row" style="margin-top: 10px;">
								<!-- <div class="col-md-2">
							<b th:text="${list.USER_ID}">
								여기에 닉네임
								미네미네
							</b>
						</div> -->
								<!-- <b style="margin-left: 35px;">작성자:</b> -->
								<div class="col-md-4"
									style="padding-right: 0px; font-size: medium;">
									<b style="color: black; margin-right: 10px;"> 작성자 : </b> <a
										href="" th:classappend="|InfoModal${list.S_SEQ}|"
										th:onclick="|javascript:InfoModal('${list.S_SEQ}')|"
										data-toggle="modal" data-target="#userInfoModal"> <b
										th:text="${list.USER_ID}"
										style="color: black; margin-right: 10px;"> </b>
									</a>

								</div>
								<div class="col-md-4"
									style="text-align: center; padding-right: 0px; text-align: right">
									<b
										th:text="|등록일 : ${#dates.format(list.WRITE_DATE, 'yyyy/MM/dd HH:mm')}|"></b>
								</div>
								<div class="col-md-4"
									style="text-align: center; padding-left: 0px;">
									<b
										th:text="|마감일 : ${#dates.format(list.DEADLINE, 'yyyy/MM/dd HH:mm')}|"></b>
								</div>

							</div>

							<div class="row">
								<a
									th:href="@{/board/writing_Common_Study_Detail.do(s_seq=${list.S_SEQ},page=${pageMakerb.cri_b.page},perPageNum=${pageMakerb.cri_b.perPageNum} )}">
									<h2 th:text="${list.TITLE}" class="_title"
										style="margin-top: 20px; padding-left: 34px;"></h2>
								</a>
							</div>
							<div class="row _content"
								style="margin: 0px 5px 0px 28px; height: 145px;">
								<span th:text="${list.CONTENT}"></span>
								<p></p>
							</div>
						</div>
					</div>
				
					
					
					<hr style="border: solid 1px rgb(224, 224, 224); margin-top: 10px; margin-bottom: 10px" />
				</div>

			</th:block>
			<th:block th:if="${#lists.isEmpty(list)}">
				<!-- 연규야 채워라 동기 -->
				<div style='text-align: center; margin-top: 20px;margin-bottom:20px;'>
					<img style="width: 150px;"
						src="https://user-images.githubusercontent.com/61257242/88354108-cf9c3500-cd9a-11ea-9226-2e1526df8db9.png"
						alt="" />
				</div>
				<div style='text-align: center;'>
					<b style='font-size: x-large'>등록된 게시물이 없습니다</b>
				</div>
				<div style='height: 65px;'></div>
			</th:block>
		</div>
		<!-- 반복끝 -->
		<!-- 데이터 한개 넣기 끝~ -->
	</div>
	</div>
	<!-- 경계끝 -->


	<!-- 타임리프로 바꾸자 -->
	<!-- 페이징 버튼 시작-->
	<div id="pager-wrapper" class="margin-small">
		<div class="pager clear">
			<!-- 경계 -->
			<!-- 			<ul class="btn-group pagination" style="place-content: center;"> -->

			<!-- 페이징 부트스트랩 버튼 생성하기  -->
			<ul class="pager d-flex studyPaging"
				style="place-content: center; margin-top: 35px; margin-bottom: 140px;">



				<!-- 이전버튼 생성여부 -->
				<li th:if="${pageMakerb.prev} == true"><th:block
						th:if="${type == 'FS'}">
						<a
							th:href="@{study_List.do(page=${pageMakerb.startPage}-1,perPageNum=${pageMakerb.cri_b.perPageNum},searchType=${searchType},keyword=${keyword})}"
							class="page-link" th:text="Previous">&laquo; </a>
					</th:block> <th:block th:if="${type == 'Search'}">
						<a
							th:href="@{study_List.do(page=${pageMakerb.startPage}-1,perPageNum=${pageMakerb.cri_b.perPageNum},root=search,searchType=${searchType},keyword=${keyword})}"
							class="page-link" th:text="Previous">&laquo; </a>
					</th:block> <th:block th:if="${type == null}">
						<a
							th:href="@{study_List.do(page=${pageMakerb.startPage}-1,perPageNum=${pageMakerb.cri_b.perPageNum},root=header)}"
							class="page-link" th:text="Previous">&laquo; </a>
					</th:block> <th:block th:if="${type == 'filter'}">
						<a
							th:href="@{study_FilterList.do(page=${pageMakerb.startPage}-1,perPageNum=${pageMakerb.cri_b.perPageNum})}"
							class="page-link" th:text="Previous">&laquo; </a>
					</th:block></li>
				<!-- 									<a th:href="@{user/board/study_List.do(page=${pageMaker.startPage}-1,perPageNum=${pageMaker.cri.perPageNum})}">&laquo;</a> -->



				<!-- 페이지의 시작번호와 끝번호를 이용해 페이지 버튼들을 뿌려줄것임 / 현재페이지 어디인지 알기위해 추가-->
				<li class="page-item"
					th:each="idx,iterStat : ${#numbers.sequence(pageMakerb.startPage,pageMakerb.endPage)}"
					th:classappend="${pageMakerb.cri_b.page} == ${idx} ? active : null">

					<th:block th:if="${type == 'FS'}">
						<a class="page-link"
							th:href="@{study_List.do(page=${idx},perPageNum=${pageMakerb.cri_b.perPageNum},searchType=${searchType},keyword=${keyword})}"
							th:text="${idx}"></a>
					</th:block> <th:block th:if="${type == 'Search'}">
						<a class="page-link"
							th:href="@{study_List.do(page=${idx},perPageNum=${pageMakerb.cri_b.perPageNum},root=search,searchType=${searchType},keyword=${keyword})}"
							th:text="${idx}"></a>
					</th:block> <th:block th:if="${type == null}">
						<a class="page-link"
							th:href="@{study_List.do(page=${idx},perPageNum=${pageMakerb.cri_b.perPageNum},root=header)}"
							th:text="${idx}"></a>
					</th:block> <th:block th:if="${type == 'filter'}">
						<a class="page-link"
							th:href="@{study_FilterList.do(page=${idx},perPageNum=${pageMakerb.cri_b.perPageNum})}"
							th:text="${idx}"></a>
					</th:block> <!-- <a th:href="@{user/board/study_List.do(page=${idx},perPageNum=${pageMaker.cri.perPageNum})}" th:text="${idx}"></a> -->
				</li>

				<!-- 다음버튼 생성여부 -->
				<!-- 				<th:block th:if="${pageMaker.next && pageMaker.endPage > 0 }"> -->
				<li th:if="${pageMakerb.next} == true and ${pageMakerb.endPage > 0}">

					<th:block th:if="${type == 'FS'}">
						<a
							th:href="@{study_List.do(page=${pageMakerb.endPage}+1,perPageNum=${pageMakerb.cri_b.perPageNum},searchType=${searchType},keyword=${keyword})}"
							class="page-link" th:text="Next">&raquo;</a>
					</th:block> <th:block th:if="${type == 'Search'}">
						<a
							th:href="@{study_List.do(page=${pageMakerb.endPage}+1,perPageNum=${pageMakerb.cri_b.perPageNum},root=search,searchType=${searchType},keyword=${keyword})}"
							class="page-link" th:text="Next">&raquo;</a>
					</th:block> <th:block th:if="${type == null}">
						<a
							th:href="@{study_List.do(page=${pageMakerb.endPage}+1,perPageNum=${pageMakerb.cri_b.perPageNum},root=header)}"
							class="page-link" th:text="Next">&raquo;</a>
					</th:block> <th:block th:if="${type == 'filter'}">
						<a
							th:href="@{study_FilterList.do(page=${pageMakerb.endPage}+1,perPageNum=${pageMakerb.cri_b.perPageNum})}"
							class="page-link" th:text="Next">&raquo;</a>
					</th:block>

				</li>
			</ul>

			<!-- 경계끝 -->
		</div>
	</div>
	<!-- 페이징 버튼 끝 -->
	<!-- 페이징 버튼 끝 -->

	<button onclick="topFunction()" id="myBtn" title="Go to top">Top</button>
	<!-- 	<div th:replace="user/includes/user_Info_Modal :: user_Info_Modal"></div> -->
	<div th:replace="user/includes/footer :: footer"></div>
	<div th:replace="/user/includes/bootstrap_script :: bootstrap_script"></div>
	<div th:replace="/user/includes/user_Info_Modal :: user_Info_Modal">
	</div>

	<script>
		//내용에 이미지 뜨는거 막기 시작
		$(function() {
			$('p > img').remove();
			$('iframe').remove();
		});
		//내용에 이미지 뜨는거 막기 끝
	</script>

	<script>
		$(function() {

			/* 페이지 0 뜨는거 없애기 시작 */

			var _page_button0 = $('.page-item').children().last().text();

			if (_page_button0 == 0) {
				$('.page-item').children().last().remove();
			}
			/*  페이지 0 뜨는거 없애기 끝 */

		});

		function InfoModal(idx) {

			let id = $('.InfoModal' + idx).children().text();
			//formData.append("user_id" , this.id);

			console.log("아이디 : " + id);
			// let obj = {"user_id" : id}; 

			let data = {
				"user_id" : id
			}

			$.ajax({
				url : '/ajax/userInfoModal.do',
				processData : false,
				contentType : "application/json",
				cache : false,
				type : 'POST',
				data : JSON.stringify(data),
				success : function(data) {
					console.warn('aaaaaaaaaaaaa');
					console.warn(data[0].USER_NAME);
					console.warn(data[0][0].USER_NAME);
					console.warn(data[0][1].USER_NAME);
					$('.ModalUserName').text(data[0][0].USER_NAME);
					$('.introduce').text(data[0][0].INTRODUCE)
					'src','/material/images/jQuery/asimo.png'
					$('#profile_img').attr('src', '/userboard/upload/' + data[0][0].PROFILE_IMG);
					console.log(data[0][0].INTRODUCE);
					$.each(data, function (index, item) {
						if (item.SKILL_LEVEL === '입문') {
							$('input[name='+item.SKILL_NAME+']:radio[value="입문"]').prop('checked',true);
						} else if (item.SKILL_LEVEL === '초급') {
							$('input[name='+item.SKILL_NAME+']:radio[value="초급"]').prop('checked',true);
						} else {
							$('input[name='+item.SKILL_NAME+']:radio[value="중급이상"]').prop('checked',true);
						}
					})
					
// 						<td>1578</td>
// 												<td><a href="">입문자들 다 모여라~~~~~!!</a></td>
					
					$('._user_board_list').empty();
					
					let userBoardList = "";
					$.each(data[1],function(index, item){
						userBoardList += "<tr>";
						userBoardList += "<td>";
						userBoardList += data[1][index].S_SEQ;
						userBoardList += "</td>";
						userBoardList += "<td>";
						userBoardList += "<a href = '/board/my_Writing_Common_Study_Detail.do?s_seq="
									+ data[1][index].S_SEQ
									+ "'>";
						userBoardList += data[1][index].TITLE;
						userBoardList += "</a>"	
						userBoardList += "</td>";
						userBoardList += "</tr>";
					});
					
					
					$('._user_board_list').append(userBoardList);
// 						$('._user_board_list');
				},
				error : function(e) {
					console.log("error:", e);
				}
			});

		}
	</script>

	<script th:inline="javascript">
	$(function(){
		
		//searchType select 박스 설정
		setSearchTypeSelect();
		
	function setSearchTypeSelect(){
		var $searchTypeSel = $('#searchTypeSel');
		var $keyword = $('#keyword');
		
    /* <![CDATA[ */
  		var pcs = /*[[${pageMakerb.cri_b.searchType}]]*/;
    /* ]]> */
		
		$searchTypeSel.val(pcs).prop("selected",true);
		
		//검색 버튼이 눌리면
		$('#searchBtn').on('click',function(){
			searchTypeVal = $searchTypeSel.val();
			keywordVal = $keyword.val().replace(/ /g,"+");
			
			//검색 조건 입력 안했으면 경고창 
			if(!searchTypeVal){
				alert("검색 조건을 선택해주세요");
				$searchTypeSel.focus();
				return;
				
			//검색어 입력 안했으면 검색창
			}else if(!keywordVal){
				alert("검색어를 입력해주세요");
				$('#keyword').focus();
				return;
			}
			
			if($('.filterRow li').hasClass("filter-active")){ //필터중 하나라도 선택했을때
				var url = "study_List.do?searchType=" + searchTypeVal
				+ "&keyword=" + encodeURIComponent(keywordVal);
			window.location.href = url;
			}else{
				var url = "study_List.do?root=search&searchType=" + searchTypeVal
				+ "&keyword=" + encodeURIComponent(keywordVal);
			window.location.href = url;
			}
		})
		
	} //searchType
	
	
	})//func
	</script>




	<script>
		$('.filterRow li')
				.on(
						"click",
						function() {
							var ingOrDone = $('#portfolio-flters-ingOrDone')
									.children('.filter-active').attr(
											'data-filter');
							var level = $('#portfolio-flters-level').children(
									'.filter-active').attr('data-filter');
							var language = new Array();
							$.each($('#portfolio-flters-lan').find(
									'.filter-active'), function(index, item) {
								language[index] = item
										.getAttribute('data-filter');
								console.log(item.getAttribute('data-filter'))
							});
							
							console.log('배열 사이즈 :' + language.length)

							var local = $('#portfolio-flters-local').children(
									'.filter-active').attr('data-filter');
							var studyContent = $(
									'#portfolio-flters-studyContent').children(
									'.filter-active').attr('data-filter');

							let data = {
								"ingOrDone" : ingOrDone,
								"level" : level,
								"language" : language,
								"local" : local,
								"studyContent" : studyContent
							}

							$
									.ajax({
										url : '/ajax/studyBoardFilter.do',
										processData : false,
										contentType : "application/json",
										cache : false,
										type : 'POST',
										data : JSON.stringify(data),
										success : function(data) {

											
											$('.studyFilter').empty();
											$('.studyPaging').empty();
											
											var perPageNum = data[2].cri_b.perPageNum;
											var page = data[2].cri_b.page;
												
											
											$
													.each(
															data,
															function(index,
																	item) {
																console
																		.log('ss'
																				+ index)
																var list_length = data[0].length;
																var onlineInfo_length = data[1].length;
																console.log('onlineInfo_length : '  + onlineInfo_length)
															
																console.warn('데이터 개수 : ' + list_length)
															
																if (index === 0) {
																	if(list_length != 0){
																	console
																			.log('한ㅂ넘나타라')
																	console
																			.log('천재 데이터 개수 : '
																					+ list_length)
																	for (var i = 0; i < list_length; i++) {
																		let html = "";
																		console
																				.log('두번나와야됨')
																		var write_date = new Date(
																				data[0][i].WRITE_DATE);
																		var deadline = new Date(
																				data[0][i].DEADLINE);
																		html += "<div>"
																		html += "<div class='row'>"
																		html += "<div class='col-md-3'></div>"
																		html += "<div class='col-md-4'>"
																		html += "<span class='badge badge-pill badge-primary' style='margin-right:4px;'>"
																				+ data[0][i].STATUS
																				+ "</span>"
																		html += "<span class='badge badge-pill badge-info' style='margin-right:4px;'>"
																				+ data[0][i].LEVEL
																				+ "</span>"
																		html += "<span class='badge badge-pill badge-secondary' style='margin-right:4px;'>"
																				+ data[0][i].CATE_LANGUAGE
																				+ "</span>"
																		html += "<span class='badge badge-pill badge-success' style='margin-right:4px;'>"
																				+ data[0][i].PEOPLE
																				+ "명</span>"
																		html += "<span class='badge badge-pill badge-warning' style='margin-right:4px;'>"
																				+ data[0][i].LOC
																				+ "</span>"
																		html += "<span class='badge badge-pill badge-light' style='margin-right:4px;'>"
																				+ data[0][i].CONTENT_KIND
																				+ "</span></div></div>"
																		html += "<div class='row'>"
																		if (data[0][i].CONTENT_KIND == "일반") {
																			html += "<div class='col-md-3 align-self-center'>"
																			html += "<div class='card' style='width: 100%'>"
																			html += "<img class='card-img-top' src='/studyboard/upload/"
																					+ data[0][i].IMAGE
																					+ "' alt='Card image' style='width: 100%;'>"
																			html += "</div></div>"
																		} else { //온라인
																			console.log('온라인')
																			console
																					.log('호호'
																							+ data[0][i].S_SEQ)
																			console
																					.log('히히'
																							+ onlineInfo_length)
																			for (var j = 0; j < onlineInfo_length; j++) {
																				console
																						.log('하하 '
																								+ data[1][j].S_SEQ)
																				if (data[1][j].S_SEQ === data[0][i].S_SEQ) {
																					console
																							.log('크크'
																									+ data[1][j].S_SEQ)
																					html += "<div class='col-md-3'>"
																					html += "<div class='card' style='width: 100%'>"
																					html += "<img class='card-img-top' src='"
																							+ data[1][j].L_IMAGE
																							+ "' alt='Card image'style='width:100%;'>"
																					html += "<div class='card-body'>"
																					html += "<h6 class='card-title _margin_0'>"
																							+ data[1][j].L_TITLE
																							+ "</h6>"
																					html += "<p class='card-text _margin_0' style='color: gray; font-size: small;'>"
																							+ data[1][j].L_WRITER
																							+ "</p>"//여기원래 L_WRITER였음
																					html += "<a href='"+data[1][j].L_ADDRESS+"' class='stretched-link'></a>"
																					html += '<div style="CLEAR: both; PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BACKGROUND: url(\'https://user-images.githubusercontent.com/61257242/87853568-33ab9d00-c946-11ea-9123-21c2ec016b03.gif\') 0px 0px; FLOAT: left; PADDING-BOTTOM: 0px; MARGIN: 0px; WIDTH: 90px; PADDING-TOP: 0px; HEIGHT: 18px;">'
																						
																					html += '<p class="_star"style="WIDTH: '+data[1][j].L_STAR*20+'%; PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BACKGROUND: url(\'https://user-images.githubusercontent.com/61257242/87853576-40c88c00-c946-11ea-8b70-98a4d286ef1c.gif\') 0px 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; HEIGHT: 18px;">'
																					html += "</p></div>"	
																					html += "<span>("+data[1][j].L_REVIEW+")</span>" //여기에 수강평 개수?
																					html += "<b>₩"+data[1][j].L_PRICE+"</b></div></div></div>" //여기에 가격 데이터
																				}
																			}

																		} //else 끝
																		html += "<div class='col-md-9' style='padding: 3px 30px 30px 30px;'>"
																		html += "<div class='row' style='margin-top: 10px;'>"
																		//html += "<b style='margin-left: 35px;'>작성자:</b>" 
																		html += "<div class='col-md-4' style='padding-right: 0px; font-size: medium;'>"
																		html += "<b style='color: black; margin-right: 15px;'>작성자 :</b>"
																		html += '<a href="" class="InfoModal'
																				+ data[0][i].S_SEQ
																				+ '" onclick=InfoModal("'
																				+ data[0][i].S_SEQ
																				+ '") data-toggle="modal" data-target="#userInfoModal">'
																		html += "<b style='color: black; margin-right: 10px;'>"+data[0][i].USER_ID +"</b></a></div>"
																		html += "<div class='col-md-4' style='text-align: center; padding-right: 0px;text-align:right;'>"

																		html += "<b>등록일 : "
																				+ getDateFormet(write_date)
																				+ "</b></div>"

																		html += "<div class='col-md-4' style='text-align: center; padding-left: 0px;'>"

																		html += "<b>마감일 : "
																				+ getDateFormet(deadline)
																				+ "</b></div></div>";

																		html += "<div class='row'>"
																		html +="<a href='/board/writing_Common_Study_Detail.do?s_seq="+data[0][index].S_SEQ+"&page="+page+"&perPageNum="+perPageNum+"'>"
																		html += "<h2 class='_title' style='margin-top: 20px; padding-left: 34px;'>"
																				+ data[0][i].TITLE
																				+ "</h2></a></div>"
																		html += "<div class='row _content' style='margin: 0px 5px 0px 28px; height: 145px;'>"
																		html += "<xmp-line class='_xmp'>"
																				+ data[0][i].CONTENT
																				+ "</xmp-line></div></div></div>"
																		html += "<hr style='border: solid 1px rgb(224, 224, 224); margin-top: 10px; margin-bottom: 10px'/>"

																		$(
																				'.studyFilter')
																				.append(
																						html);
																	/* 문자열 태그 그대로 출력하게 하는 함수== */	
																	$('._xmp').eq(i)[0].innerText= $('._xmp').eq(
																			index)[0].innerText.replace(/(<([^>]+)>)/ig, "");
																	/*== 문자열 태그 그대로 출력하게 하는 함수 */
																	/* 문자열 자르는 함수 */
// 																		if ($('._xmp').eq(i)[0].innerText.length > 350) {
// 																			$('._xmp').eq(i)[0].innerText = $('._xmp').eq(i)[0].innerText.substring(0, 350) + "...";
// 																				}
																	/* 문자열 자르는 함수 */
																	}
																}else{
																	//연규야 채워라 비동기
																	//빈값일떄
																	let html = "";
																	console.warn('데이터 개수 : ' + list_length)
																	
																	html += "<div style='text-align:center; margin-top:20px;margin-bottom:20px;'>"
																	html += '<img style="width:150px;" src="https://user-images.githubusercontent.com/61257242/88354108-cf9c3500-cd9a-11ea-9226-2e1526df8db9.png" alt="" />'
																	html += "</div>"
																	html += "<div style='text-align:center;'>"
																	html += "<b style='font-size:x-large'>등록된 게시물이 없습니다</b>"
																	html += "</div>"
																	html += "<div style='height: 65px;'>"
																	html += "</div>"
																		$(
																		'.studyFilter')
																		.append(
																				html);
																}
															}
															}) //each문 끝
														
															

											//페이지 each
											$
													.each(
															data,
															function(index,
																	item) {
																let page = "";
																console
																		.log('*****************데이터개수 : '
																				+ data[0].length)
																if (index === 2) {
																	console
																			.log('안녕'
																					+ data[2].prev)
																	console
																			.log('안녕'
																					+ data[2].startPage)
																	console
																			.log('안녕'
																					+ data[2].endPage)
																	console
																			.log('안녕'
																					+ data[2].cri_b.perPageNum)

																	page += "<ul class='pager d-flex studyPaging' style='place-content: center; margin-top: 35px; margin-bottom: 140px;'>"
																	if (data[2].prev === true) {
																		page += "<li><a href='study_FilterList.do?page="
																				+ data[2].startPage
																				- 1
																				+ "&perPageNum="
																				+ data[2].cri_b.perPageNum
																				+ " class='page-link'>&laquo;Previous</a></li>"
																	}

																	for (var i = data[2].startPage; i <= data[2].endPage; i++) {
																		if (data[2].cri_b.page === i) {
																			page += "<li class='page-item active'>"
																			page += "<a class='page-link' href='study_FilterList.do?page="
																					+ i
																					+ "&perPageNum="
																					+ data[2].cri_b.perPageNum
																					+ "'>"
																					+ i
																					+ "</a></li>"
																		} else {
																			page += "<li class='page-item'>"
																			page += "<a class='page-link' href='study_FilterList.do?page="
																					+ i
																					+ "&perPageNum="
																					+ data[2].cri_b.perPageNum
																					+ "'>"
																					+ i
																					+ "</a></li>"
																		}
																	}

																	if (data[2].next === true
																			&& data[2].endPage > 0) {
																		page += "<li><a href='study_FilterList.do?page="
																				+ data[2].endPage
																				+ 1
																				+ "&perPageNum="
																				+ data[2].cri_b.perPageNum
																				+ " class='page-link'>&raquo;Next</a></li></ul>"

																	}

																} //if문
																$(
																		'.studyPaging')
																		.append(
																				page);
															})

											console
													.log("=============================")
											
													
										}, //success
										error : function(e) {
											console.log("error:", e);
										}
									});

						});

	</script>

	<script>
		
	
	</script>


	<script>
		$('._content').each(
				function(index, item) {

					$('._content').eq(index)[0].innerText = $('._content').eq(
							index)[0].innerText.replace(/(<([^>]+)>)/ig, "");

				});
	</script>

	<script>
		$(function() {
			a = $('#language').val();
			var b = a.split(",")

			for (var i = 0; i < b.length; i++) {
				console.log('시작')
				console.log(regExp(b[i]).trim());
				var filter = regExp(b[i]).trim()
				console.log('i : ' + i)
				$('.lan' + filter).addClass('filter-active');
			}
		})

		function regExp(str) {
			var reg = /[\{\}\[\]\/?.,;:|\)*~`!^\-_+<>@\#$%&\\\=\(\'\"]/gi
			//특수문자 검증
			if (reg.test(str)) {
				//특수문자 제거후 리턴
				return str.replace(reg, "");
			} else {
				//특수문자가 없으므로 본래 문자 리턴
				return str;
			}
		}
	</script>
	<script>
 
      //Get the button
      var mybutton = document.getElementById("myBtn");
      // When the user scrolls down 20px from the top of the document, show the button
      window.onscroll = function() {
         scrollFunction()
      };
      function scrollFunction() {
         if (document.body.scrollTop > 20
               || document.documentElement.scrollTop > 20) {
            mybutton.style.display = "block";
         } else {
            mybutton.style.display = "none";
         }
      }
      // When the user clicks on the button, scroll to the top of the document
      function topFunction() {
         document.body.scrollTop = 0;
         document.documentElement.scrollTop = 0;
      }
   </script>

	<!-- 	<script>
	function enterkey(){
		if(window.event.keyCode == 13){
			setSearchTypeSelect();
		}
	}
	</script> -->
	<script>
		
// 		$('._main_board_box').bind("DOMSubtreeModified",function(){
			
// 			console.warn($.trim( $('._main_board_box').html()).length);
			
				
// 			});
	</script>
</body>


</html>