<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link rel="shortcut icon"
	href="../../../resources/images/img/favicon.ico" type="image/x-icon" />
<title>writing_normal_study</title>
<div th:replace="/user/includes/bootstrap_link :: bootstrap_link"></div>

<!-- Latest compiled and minified CSS -->
<link rel="stylesheet"
	href="../../../../resources/assets/vendor/selectbox/css/bootstrap-select.min.css">

<link
	href="../../../../resources/assets/vendor/summernote/summernote-lite.css"
	rel="stylesheet">


<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-material-datetimepicker/2.7.1/css/bootstrap-material-datetimepicker.min.css">
<link rel="stylesheet"
	href="https://fonts.googleapis.com/icon?family=Material+Icons">


<style>
/* body {
         margin-top: 200px;
      } */

/* #category select {
         margin-right: 10px;
      } */
.filebox label {
	display: inline-block;
	padding: .5em .75em;
	color: black;
	font-size: inherit;
	line-height: normal;
	vertical-align: middle;
	background-color: #ffc107;
	cursor: pointer;
	border: 1px solid #ffc107;;
	border-bottom-color: #e2e2e2;
	border-radius: .25em;
}

.filebox input[type="file"] {
	/* 파일 필드 숨기기 */
	position: absolute;
	width: 1px;
	height: 1px;
	padding: 0;
	margin: -1px;
	overflow: hidden;
	clip: rect(0, 0, 0, 0);
	border: 0;
}

.cover {
	background-image:
		url(../../../../resources/images/img/study_board_cover.jpg);
	background-position: center center;
	background-repeat: no-repeat;
	opacity: 0.7;
}

#row>.col-1 {
	margin-right: 50px;
}

._border_box_shadow2 {
	background: #fff;
	margin: auto;
	margin-top: 10px;
	margin-bottom: 10px;
	box-shadow: 1px 2px 10px 1px rgba(0, 0, 0, 0.16), 0 2px 5px 0
		rgba(0, 0, 0, 0.26);
	border-radius: 3px;
	padding: 0px;
	width: 100%;
	height: 100%;
}
</style>
</head>

<body>

	<div th:replace="/user/includes/header :: header"></div>
	<div th:replace="/user/includes/bootstrap_link :: bootstrap_link"></div>


	<main id="main">
		<!-- ======= Breadcrumbs Section ======= -->
		<section class="breadcrumbs cover"
			style="margin-top: 70px; height: 300px; padding: 1000 0 100 0px;">
			<div class="container d-flex h-100" style="padding: 200px 0;">
				<div class="row justify-content-center align-self-center">
					<h1 style="color: white; font-size: 50px;">
						<b>모집하기</b>
					</h1>
				</div>
			</div>

		</section>
		<!-- Breadcrumbs Section -->
	</main>
	<div class="_border_box_shadow2" style="width: 1430px;">
		<form action="/board/register.do" method="post" class="registerform"
			id="registerform" enctype="multipart/form-data">
			<div class="container" style="margin-bottom: 25px; margin-top: 40px;">
				<!-- <h2>스터디 모집 글 작성하기(일반)</h2> -->
				<!-- <br /> -->
				<div class="row" id="row" style="padding-top: 30px;">
					<div class="col-1">
						<select name="lan_seq" class="selectpicker mb-3"
							data-style="btn-light" style="width: 10%;"
							data-live-search="true" data-width="120px">
							<option value="언어" selected>언어</option>
							<option value="1">Java</option>
							<option value="2">Javascript</option>
							<option value="3">HTML/CSS</option>
							<option value="4">Spring</option>
							<option value="5">Python</option>
							<option value="6">Vue.js</option>
							<option value="7">React</option>
							<option value="8">JQuery</option>
							<option value="9">JSP</option>
							<option value="10">Bootstrap</option>
							<option value="11">JPA</option>
						</select>
					</div>
					<div class="col-1">
						<select name="people" class="selectpicker mb-3"
							data-style="btn-light" style="width: 10%;"
							data-live-search="true" data-width="120px">
							<option value="모집인원" selected>모집인원</option>
							<option value="1">1명</option>
							<option value="2">2명</option>
							<option value="3">3명</option>
							<option value="4">4명</option>
							<option value="5">5명</option>
							<option value="6">6명</option>
							<option value="7">7명</option>
							<option value="8">8명</option>
							<option value="9">9명</option>
							<option value="10">10명</option>
						</select>
					</div>

					<div class="col-1">
						<select name="loc_seq" class="selectpicker mb-3"
							data-style="btn-light" style="width: 10%;"
							data-live-search="true" data-width="120px">
							<option value="지역" selected>지역</option>
							<option value="1">충북</option>
							<option value="2">충남</option>
							<option value="3">경기도</option>
							<option value="4">전북</option>
							<option value="5">전남</option>
							<option value="6">경남</option>
							<option value="7">경북</option>
							<option value="8">강원도</option>
							<option value="9">세종시</option>
							<option value="10">서울시</option>
							<option value="11">인천시</option>
							<option value="12">제주시</option>
							<option value="13">온라인</option>
						</select>
					</div>
					<div class="col-1">
						<select name="level" class="selectpicker mb-3 _select_box4"
							data-style="btn-light" style="width: 10%;"
							data-live-search="true" data-width="120px">
							<option value="난이도" selected>난이도</option>
							<option value="입문">입문</option>
							<option value="초급">초급</option>
							<option value="중급이상">중급이상</option>
						</select>
					</div>
					<div class="col-3">
						<input style="margin-bottom: 15px; width: 164px;" type="text"
							class="form-control _deadline" name="selectend" id="date-time"
							placeholder="모집마감일">
					</div>
					<!-- <select name="" class="custom-select mb-3" style="width: 10%;">
				<option selected>모집마감일</option>
				<option value="_calendar">달력</option>
			</select> -->
				</div>
			</div>

			<hr style="border-color: rgb(224, 224, 224); width: 95%">


			<div class="container" style="margin-bottom: 25px;">
				<div class="row">
					<div class="col-md-9">
						<div class="row">
							<div class="col-md-12">
								<br />
								<div class="form-group">
									<input type="text" class="form-control" id="usr" name="title"
										placeholder="글 제목을 입력해주세요">
								</div>
							</div>
						</div>


						<div class="form-group">
							<textarea class="summernote" id="summernote" name="content"> </textarea>
						</div>


						<div style="text-align: center; padding-bottom: 30px;">
							<button type="submit" class="btn btn-primary _submit"
								style="width: 15%; background-color: #18d26e; border-color: #18d26e; font-weight: bold;">작성</button>
						</div>
					</div>

					<div class="col-md-3" style="margin-top: 24px;">
						<div class="form-group" style="margin: 0">
							<img id="preview"
								src="/studyboard/upload/study_board_default.jpg" alt="썸네일"
								style="margin-bottom: 15px; width: 280px; height: 200px;">
							<div class="filebox"
								style="text-align: center; margin-left: 22px; font-weight: bold;">
								<label for="ex_file">썸네일 업로드</label> <input name="files[0]"
									accept=".gif, .jpg, .png, .jpeg" type="file" id="ex_file">
							</div>
						</div>

						<!-- 						<div class="form-group" style="margin: 0"> -->

						<!-- 						</div> -->

						<div class="form-group" style="margin: 0">
							<div class="custom-file mb-3" style="width: 280px;">
								<input type="file" class="custom-file-input" id="customFile"
									name="files[1]"> <label class="custom-file-label"
									for="customFile">Choose file1</label>
							</div>
						</div>
						<div class="form-group" style="margin: 0">
							<div class="custom-file mb-3" style="width: 280px;">
								<input type="file" class="custom-file-input" id="customFile"
									name="files[2]"> <label class="custom-file-label"
									for="customFile">Choose file2</label>
							</div>
						</div>
					</div>
				</div>
			</div>
		</form>
	</div>
	<div th:replace="/user/includes/footer :: footer"></div>
	<div th:replace="/user/includes/bootstrap_script :: bootstrap_script"></div>



	<script type="text/javascript"
		src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.20.1/moment.min.js"></script>
	<script type="text/javascript"
		src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-material-datetimepicker/2.7.1/js/bootstrap-material-datetimepicker.min.js"></script>
	<script type="text/javascript"
		src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.20.1/locale/ja.js"></script>

	<!-- Latest compiled and minified JavaScript -->
	<script
		src="../../../../resources/assets/vendor/selectbox/js/bootstrap-select.min.js"></script>

	<!-- (Optional) Latest compiled and minified JavaScript translation files -->
	<script
		src="../../../../resources/assets/vendor/selectbox/js/i18n/defaults-ko_KR.min.js"></script>

	<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
	<script
		src="../../../../resources/assets/vendor/summernote/summernote-lite.js"></script>

	<script>
		//   이건 파일첨부할때 쓰는 w3shool 에서 긁어온aaaaaaaaa거
		//https://www.w3schools.com/bootstrap4/tryit.asp?filename=trybs_form_custom_file&stacked=h
		// Add the following code if you want the name of the file appear on select
		$(".custom-file-input").on(
				"change",
				function() {
					var fileName = $(this).val().split("\\").pop();
					$(this).siblings(".custom-file-label").addClass("selected")
							.html(fileName);
				});
	</script>


	<!-- mysql이랑 맞출것  -->
	<script>
		$(function() {
			$('#date-time').bootstrapMaterialDatePicker({
				format : 'YYYY-MM-DD HH:mm:ss',
				minDate : moment()

			});
		});
	</script>


	<script>
		function checkFileName(str) {
			//1. 확장자명 체크
			let one = false;
			let two = false;
			var ext = str.split('.').pop().toLowerCase();
			if ($.inArray(ext, [ 'hwp', 'pdf', 'xls', 'zip', 'pptx', 'xlsx',
					'doc' ]) !== -1) {
				//alert(ext+'파일은 업로드 하실 수 없습니다.');
				//alert(ext);
			} else {
				one = true;
				//alert("3333");
			}
			//2. 파일명에 특수문자 체크
			var pattern = /[\{\}\/?,;:|*~`!^\+<>@\#$%&\\\=\'\"]/gi;
			if (pattern.test(str)) {
				//alert("파일명에 허용된 특수문자는 '-', '_', '(', ')', '[', ']', '.' 입니다.");
				//alert('파일명에 특수문자를 제거해주세요.');
			} else {
				two = true;
				//alert("444ss");
			}

			if (one === false || two === false) {
				return false;
			} else {
				return true;
			}
		}

		$(function() {
			$("input:file[name='files[0]']")
					.change(
							function() {
								var str = $(this).val();
								var fileName = str.split('\\').pop()
										.toLowerCase();
								var flag = checkFileName(fileName);
								if (!flag) { //flag가 false면 썸네일 value 비우기
									swal({
										title : "확장자 및 특수문자를 체크해주세요.",
										icon : "warning",
										buttons : true,
										dangerMode : true,
									})
									$('#ex_file').val("");
								} else { //정상적으로 올렸을 때(썸네일 업로드)
									var file = document
											.querySelector('#ex_file');
										var fileList = file.files;

										// 읽기
										var reader = new FileReader();
										reader.readAsDataURL(fileList[0]);

										//로드 한 후
										reader.onload = function() {
											document.querySelector('#preview').src = reader.result;
										};
								}
							});
		});
	</script>


	<script>
		$(function() {
			$("#registerform").submit(function(e) {
				var formData = new FormData(this);

				$.ajax({
					url : "",
					processData : false,
					contentType : false,
					cache : false,
					type : 'POST',
					data : formData,
					success : function(data) {
						//alert('넘겨받은 데이터 : ' + data)
						//지우지말것..
						location.href = "/board/study_List.do?root=header"
					},
					error : function(request, status, error) {
						//alert("cod!!!e:"+request.status+"\n"+"message:"+request.responseText+"\n"+"error:"+error);
						///ㅠㅠ
						//지우지말것..
						location.href = "/board/study_List.do?root=headear"
					}
				})
			})
		});
	</script>

	<script>
		$(function() {
			/* 작성 버튼 클릭시 유효성검사 시작*/
			$('._submit')
					.click(
							function(evt) {
								evt.preventDefault();

								var selectBox1 = $(
										'.selectpicker option:selected').eq(0)
										.val();
								var selectBox2 = $(
										'.selectpicker option:selected').eq(1)
										.val();
								var selectBox3 = $(
										'.selectpicker option:selected').eq(2)
										.val();
								var selectBox4 = $(
										'.selectpicker option:selected').eq(3)
										.val();
								var selectBox5 = $('._deadline').val();
								var selectBox6 = $('#usr').val();
								//selectBox1,2,3,4는 위에 셀렉트 박스, 5는 날짜, 6은 내용

								var selectAlert = "";
								if (selectBox1 == "언어" || selectBox2 == "모집인원"
										|| selectBox3 == "지역"
										|| selectBox4 == "난이도"
										|| selectBox5 == "") {
									if (selectBox1 == "언어") {
										selectAlert += "언어";
									}
									if (selectBox2 == "모집인원") {
										selectAlert += ", 모집인원";
									}
									if (selectBox3 == "지역") {
										selectAlert += ", 지역";
									}
									if (selectBox4 == "난이도") {
										selectAlert += ", 난이도";
									}
									if (selectBox5 == "") {
										selectAlert += ", 날짜";
									}

									if (selectAlert.substr(0, 1) == ",") {
										selectAlert = selectAlert.substr(1,
												selectAlert.length);
									}
									swal(selectAlert + "를 선택해주세요", "", "error");
								} else {
									if (selectBox6 == "") {
										swal("글 제목을 입력해주세요", "", "error");
									} else if (selectBox6.length > 40) {
										swal("글 제목을 40자 이하로 입력해주세요", "",
												"error");
									} else if ($('.note-editable').html().length > 798) {
										swal("글 내용을 800자 이하로 입력해주세요", "",
												"error");
									} else {
										//swal("작성이 완료되었습니다", "", "success");			
										$('._submit').unbind();
										$(this).click();
									}

								}

							});
			/* 작성 버튼 클릭시 유효성검사  끝*/

		});
	</script>



	<script>
		$(function() {
			$('#summernote').summernote({
				tabsize : 2,
				height : 500,
				focus : false,
				minHeight : null,
				maxHeight : null,
				lang : 'ko-KR',
				placeholder : '글 내용을 입력해주세요',
				callbacks : {
					onImageUpload : function(files, editor, welEditable) {
						for (var i = files.length - 1; i >= 0; i--) {
							sendFile(files[i], this);
						}
					}
				}
			});

			$("p").each(function() {
				if (!$(this).text().trim().length) {
					$(this).remove();
				}
			});

		});

		//썸머노트 파일 업로드 json데이터 반환
		function sendFile(file, el) {
			var form_data = new FormData();
			form_data.append('file', file);

			var flag = checkFileName(file.name)

			if (flag) {
				$.ajax({
					data : form_data,
					type : "POST",
					url : "/board/ProfileImage.do",
					processData : false,
					contentType : false,
					enctype : 'multipart/form-data',
					cache : false,
					success : function(data) {
						$(el).summernote("editor.insertImage", data);
					}
				});
			} else {
				swal({
					title : "확장자 및 특수문자를 체크해주세요.",
					icon : "warning",
					buttons : true,
					dangerMode : true,
				})
			}
		}

		function checkFileName(str) {
			//1. 확장자명 체크
			let one = false;
			let two = false;
			var ext = str.split('.').pop().toLowerCase();
			if ($.inArray(ext, [ 'hwp', 'pdf', 'xls', 'zip', 'pptx', 'xlsx',
					'doc' ]) !== -1) {
				//alert(ext+'파일은 업로드 하실 수 없습니다.');
				//alert(ext);
			} else {
				one = true;
				//alert("3333");
			}
			//2. 파일명에 특수문자 체크
			var pattern = /[\{\}\/?,;:|*~`!^\+<>@\#$%&\\\=\'\"]/gi;
			if (pattern.test(str)) {
				//alert("파일명에 허용된 특수문자는 '-', '_', '(', ')', '[', ']', '.' 입니다.");
				//alert('파일명에 특수문자를 제거해주세요.');
			} else {
				two = true;
				//alert("444ss");
			}

			if (one === false || two === false) {
				return false;
			} else {
				return true;
			}
		}
	</script>

	<script>
		/* 파일 이름이 길경우 튀어나오는 현상이 생기므로 문자열 자르기가 필요함   ====>*/
		$(function() {

			$("input:file[name='files[1]']")
					.change(
							function() {
								if ($('.custom-file-label')[0].innerText.length > 12) {
									$('.custom-file-label')[0].innerText = $('.custom-file-label')[0].innerText
											.substr(0, 12)
											+ "...";
								}
							});
			$("input:file[name='files[2]']")
					.change(
							function() {
								if ($('.custom-file-label')[1].innerText.length > 12) {
									$('.custom-file-label')[1].innerText = $('.custom-file-label')[1].innerText
											.substr(0, 12)
											+ "...";
								}
							});
		});
		/*<==== 파일 이름이 길경우 튀어나오는 현상이 생기므로 문자열 자르기가 필요함   */
	</script>
</body>



</html>