<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>writing_normal_study_detail</title>
<link rel="shortcut icon"
	href="../../../resources/images/img/favicon.ico" type="image/x-icon" />
<div th:replace="/user/includes/bootstrap_link :: bootstrap_link"></div>

<link
	href="https://cdn.jsdelivr.net/npm/remixicon@2.4.0/fonts/remixicon.css"
	rel="stylesheet">

<!-- Template Main CSS File -->
<link rel="stylesheet"
	href="https://use.fontawesome.com/releases/v5.7.0/css/all.css"
	integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ"
	crossorigin="anonymous">

<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

</head>

<style>

/* ._textarea_readonly:read-only {
      background-color: aquamarine;
   } */
.cover4 {
	background-image:
		url(../../../../resources/images/img/coursewritepage.jpg);
	background-position: center center;
	background-size: 2000px;
	background-repeat: no-repeat;
	opacity: 0.7;
}

/* 하트 체크박스 스타일 시작 */
input[type=checkbox] {
	clear: both;
	display: none;
}

input[type="checkbox"] {
	display: none;
}

input[type="checkbox"]+label {
	position: absolute;
	z-index: 100;
	overflow: hidden;
	height: 60px;
	width: 50px;
	display: block;
	text-align: center;
	line-height: 60px;
	cursor: pointer;
	border-radius: 50%;
	transform: translate3d(-10px, -7px, 10px);
}

input[type="checkbox"]+label svg {
	-webkit-transition: all 100ms ease-in-out;
	transition: all 100ms ease-in-out;
}

input[type="checkbox"]+label:before {
	content: '';
	z-index: -1;
	position: absolute;
	background: #E8336D;
	width: 60px;
	height: 60px;
	border-radius: 50%;
	top: 0;
	left: 0;
	transform: scale(0);
	-webkit-transform: scale(0);
}

input[type="checkbox"]+label:after {
	content: '';
	z-index: -1;
	position: absolute;
	background: white;
	width: 60px;
	height: 60px;
	border-radius: 50%;
	top: 0;
	left: 0;
	transform: scale(0);
	-webkit-transform: scale(0);
}
/* 호버는 연규가넣음  */
input[type="checkbox"]:hover+label svg {
	-webkit-transition: all 400ms ease-in-out;
	transition: all 400ms ease-in-out;
	fill: rgb(255, 188, 188);
	transform: scale(1.3);
	-webkit-transform: scale(1.3);
}
/* 호버는 연규가 넣음 끝 */
input[type="checkbox"]:checked+label svg {
	-webkit-transition: all 400ms ease-in-out;
	transition: all 400ms ease-in-out;
	fill: rgb(220, 72, 127);
	transform: scale(1.3);
	-webkit-transform: scale(1.3);
}

input[type="checkbox"]:checked+label:after {
	-webkit-animation: heart-keyframes 0.3s 0.2s forwards;
	-moz-animation: heart-keyframes 0.3s 0.2s forwards;
	animation: heart-keyframes 0.3s 0.2s forwards;
}

input[type="checkbox"]:checked+label:before {
	-webkit-animation: heart-keyframes 0.5s 0s forwards;
	-moz-animation: heart-keyframes 0.5s 0s forwards;
	animation: heart-keyframes 0.5s 0s forwards;
}

label svg {
	display: inline-flex;
	vertical-align: middle;
	width: 25px;
	fill: #ddd;
}

@
-webkit-keyframes heart-keyframes { 75% {
	-webkit-transform: scale(1.025);
	transform: scale(1.025);
	-moz-transform: scale(1.025);
}

}
@
-webkit-keyframes heart-keyframes { 100% {
	background: transparent;
	-webkit-transform: scale(1.03);
	transform: scale(1.03);
	-moz-transform: scale(1.03);
}

}
@
-moz-keyframes heart-keyframes { 75% {
	-webkit-transform: scale(1.025);
	transform: scale(1.025);
	-moz-transform: scale(1.025);
}

}
@
-moz-keyframes heart-keyframes { 100% {
	background: transparent;
	-webkit-transform: scale(1.03);
	transform: scale(1.03);
	-moz-transform: scale(1.03);
}

}
@
keyframes heart-keyframes { 75% {
	-webkit-transform: scale(1.025);
	transform: scale(1.025);
	-moz-transform: scale(1.025);
}

}
@
keyframes heart-keyframes { 100% {
	background: transparent;
	-webkit-transform: scale(1.03);
	transform: scale(1.03);
	-moz-transform: scale(1.03);
}

}
/* 하트 체크박스 끝 */
.updateComment, .deleteComment {
	cursor: pointer;
}

._update_content {
	border-color: #CED4DA;
	border-radius: 3px;
}

._update_content:focus {
	border-color: rgba(126, 239, 104, 0.8);
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px
		rgba(126, 239, 104, 0.6);
	outline: 0 none;
}

._border_box_shadow2 {
	background: #fff;
	margin: auto;
	margin-top: 10px;
	margin-bottom: 10px;
	box-shadow: 1px 2px 10px 1px rgba(0, 0, 0, 0.16), 0 2px 5px 0
		rgba(0, 0, 0, 0.26);
	border-radius: 3px;
	padding: 0px;
	width: 100%;
	height: 100%;
}

._textarea_border:focus {
	border-color: rgba(126, 239, 104, 0.8);
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px
		rgba(126, 239, 104, 0.6);
	outline: 0 none;
}

.modal {
	text-align: center;
}

@media screen and (min-width: 768px) {
	.modal:before {
		display: inline-block;
		vertical-align: middle;
		content: " ";
		height: 20%;
	}
}

.modal-dialog {
	display: inline-block;
	text-align: left;
	vertical-align: middle;
}
</style>

<body>

	<input id="s_seq" type="hidden" th:value="${study.S_SEQ}" />
	<input id="page" type="hidden" th:value="${page}" />
	<input id="perPageNum" type="hidden" th:value="${perPageNum}" />

	<div th:replace="/user/includes/header :: header"></div>
	<div th:replace="/user/includes/bootstrap_link :: bootstrap_link"></div>

	<main id="main">
		<!-- ======= Breadcrumbs Section ======= -->
		<section class="breadcrumbs cover4"
			style="margin-top: 70px; height: 300px; padding: 1000 0 100 0px;">
			<div class="container d-flex h-100" style="padding: 200px 0;">
				<div class="row justify-content-center align-self-center">
					<h1 style="color: white; font-size: 50px;">
						<b>상세보기</b>
					</h1>
				</div>
			</div>

		</section>
		<!-- Breadcrumbs Section -->
	</main>

	<div class="_border_box_shadow2" style="width: 1430px;">
		<!-- <form action="study_List.do" method="post" class="nomalstudy" id="nomalstudy"
      enctype="multipart/form-data" novalidate> -->
		<div class="container"
			style="margin-top: 40px; margin-bottom: 25px; padding-top: 30px; padding-bottom: 30px;">
			<span class="badge badge-pill badge-primary"
				th:text="${study.STATUS}"></span> <span
				class="badge badge-pill badge-info" th:text="${study.LEVEL}"></span>
			<span class="badge badge-pill badge-secondary"
				th:text="${study.CATE_LANGUAGE}"></span> <span
				class="badge badge-pill badge-success" th:text="|${study.PEOPLE}명|"></span>
			<span class="badge badge-pill badge-warning" th:text="${study.LOC}"></span>
			<span class="badge badge-pill badge-light"
				th:text="${study.CONTENT_KIND}"></span>
			<div class="row">
				<div class="col-md-6">
					<span style="font-size: x-large;" id="title"><b
						th:text="${study.TITLE}"></b></span>
				</div>
				<div class="col-md-6 d-flex justify-content-between"
					style="text-align: right;">
					<div>
						<b> 작성자: </b> <span id="user_id" th:text="${study.USER_ID}"></span>
					</div>
					<div>
						<b> 등록일: </b> <span
							th:text="${#dates.format(study.WRITE_DATE, 'yyyy/MM/dd HH:mm')}"></span>
					</div>
					<div>
						<b> 마감일: </b> <span
							th:text="${#dates.format(study.DEADLINE, 'yyyy/MM/dd HH:mm')}"></span>
					</div>
					<div>
						<b> 조회수: </b> <span th:text="${study.READNUM}"></span>
					</div>
				</div>

				<!-- <div class="col-md-1" style="align-self: flex-end;">
            <a href="" data-toggle="modal" data-target="#exampleModalCenter" style="color:black;">
               <button type="button" class="btn btn-danger">신고</button>
            </a>
         </div> -->


				<hr
					style="border-color: rgb(224, 224, 224); width: 100%; margin-top: 10px;">
			</div>
			<!-- 타임리프 -->
			<div class="container" style="margin-bottom: 25px; margin-top: 20px;">
				<!--    <th:block th:each="study : ${study}"> -->
				<div class="row">
					<div class="col-md-9">
						<div class="row">
							<div class="col-md-7"></div>

							<!--                      <h2 th:text="${study.TITLE}">Node.js스터디원 모집합니다!!!</h2> -->

						</div>


						<div class="row">
							<div class="col-md-8"></div>
							<div class="col-md-4" style="width: 100%;">
								<div class="row" id="fileHas1"
									style="margin-left: 30px; margin-top: -20px;">
									<th:block th:switch="${study.FILESRC}">
										<div th:case="defaultfile" class="form-group"
											style="margin: 0"></div>
										<div th:case="${study.FILESRC}" class="form-group"
											style="margin: 0">
											<a th:href="@{FileDownload.do(filesrc=${study.FILESRC})}"
												style="color: black;"> <i class="fa fa-folder-open"
												aria-hidden="true"></i> <sapn class="_file_name1"
													th:text="${study.FILESRC}"> </span></a>
										</div>
									</th:block>
								</div>
							</div>
						</div>


						<div class="row">
							<div class="col-md-8"></div>
							<div class="col-md-4" style="width: 100%">
								<div class="row" id="fileHas2"
									style="margin-left: 30px; margin-top: 5px;">
									<th:block th:switch="${study.FILESRC2}">
										<div th:case="defaultfile2" class="form-group"
											style="margin: 0"></div>
										<div th:case="${study.FILESRC2}" class="form-group"
											style="margin: 0">
											<a th:href="@{FileDownload.do(filesrc=${study.FILESRC2})}"
												style="color: black;"> <i class="fa fa-folder-open"
												aria-hidden="true"></i> <span class="_file_name2"
												th:text="${study.FILESRC2}"></span>
											</a>
										</div>
									</th:block>
								</div>
							</div>
						</div>
						<br />
						<!-- <input type="textarea" class="form-control" id="usr" name="username" placeholder="글 제목을 입력해주세요"> -->

						<span th:utext="${study.CONTENT}" id="content"><textarea
								name="" cols="30" rows="10"
								class="form-control _textarea_readonly" readonly
								style="background-color: #F5F5F5; resize: none;"></textarea></span> <br />
						<div class="row">
							<div class="col-6" style="text-align: start;">

								<!-- <a href="#" style="margin-right: 5px;"> <img
                        style="margin-right: 5px;"
                        src="../../../../resources/images/img/board_like.svg"> 
                        
                     </a> <strong>좋아요&nbsp; </strong> <strong id="replyTotal"
                        style="margin-right: 10px;">1</strong> -->


								<input type="checkbox" id="heartheart33333"
									th:class="${study.S_SEQ}" /> <label for="heartheart33333"
									style="transform: translateY(-16px);"> <svg
										xmlns="http://www.w3.org/2000/svg" viewBox="0 0 56.69 51.02">
                         <path
											d="M27.22,50.73a2.31,2.31,0,0,0,2.25,0C35.36,47.48,62.08,31.43,55.72,11,52.4.38,36.25-5.78,28.68,7.79a.38.38,0,0,1-.67,0C20.44-5.78,4.3.38,1,11-5.39,31.43,21.34,47.48,27.22,50.73Z" />
                                          </svg>
								</label> <span style="margin-left: 50px;"> <strong>좋아요&nbsp;</strong>
									<strong id="replyTotal" th:text="${study.LIKE_CNT}"
									class="heartt" style="margin-right: 10px;"></strong>
								</span> <span style="margin-right: 5px; margin-left: 10px;"> <img
									style="margin-right: 5px;"
									src="../../../../resources/images/img/comment-dots-regular.svg">
								</span> <strong>댓글&nbsp; </strong> <strong id="replyTotal"
									th:text="${count}" class="dott" style="margin-right: 10px;"></strong>

							</div>

							<!-- <span id="userid" sec:authentication="principal.username"></span> -->

							<div class="col-2"></div>
							<div class="col-4" style="text-align: end;">
								<th:block th:switch="${sessionid}">
									<!-- 로그인한 아이디가 글쓴이와 같다면..  -->
									<span th:case="${study.USER_ID}"> <th:block
											th:switch="${study.C_SEQ}">
											<a th:case="1"
												th:href="@{/lecture/writing_Course_Study_Edit.do(s_seq=${study.S_SEQ},page=${page},perPageNum=${perPageNum})}">
												<button type="button" class="btn btn-warning"
													style="background-color: #18d26e; color: white; border-color: #18d26e; height: 30px; padding-top: 3px;">수정</button>
											</a>
											<a th:case="2"
												th:href="@{/board/writing_Normal_Study_Edit.do(s_seq=${study.S_SEQ},page=${page},perPageNum=${perPageNum})}">
												<button type="button" class="btn btn-warning"
													style="background-color: #18d26e; color: white; border-color: #18d26e; height: 30px; padding-top: 3px;">수정</button>
											</a>
										</th:block> <!--   <a
										     th:href="@{/board/writing_Common_Study_Delete.do(s_seq=${study.S_SEQ},page=${page},perPageNum=${perPageNum})}"> -->
										<button id="delete" type="button" class="btn btn-danger"
											style="height: 30px; padding-top: 3px;">삭제</button> <!-- </a> -->
									</span>
								</th:block>

								<th:block sec:authorize="hasRole('ROLE_ADMIN')">
									<!-- <a
								th:href="@{/board/writing_Common_Study_Delete.do(s_seq=${study.S_SEQ},page=${page},perPageNum=${perPageNum})}"> -->
									<button id="delete" type="button" class="btn btn-danger"
										style="height: 30px; padding-top: 3px;">삭제</button>
									<!--        </a> -->
								</th:block>

								<a href="" data-toggle="modal" data-target="#declationPageModal"
									style="color: black;"> <img
									src="../../../../resources/images/img/siren.png"
									style="width: 30px; height: 30px;">
								</a>
							</div>
						</div>


						<!-- <div style="text-align: end;">
                  <a href="/board/writing_Course_Study_Edit.do">
                     <button type="button" class="btn btn-warning"
                        style="background-color: #18d26e; color: white; border-color: #18d26e;">수정</button>
                  </a>
                  <button type="button" class="btn btn-danger">삭제</button>
                  <a href="" data-toggle="modal" data-target="#declationPageModal"
                     style="color: black;"> <img
                     src="../../../../resources/images/img/siren.png"
                     style="width: 30px; height: 30px;">
                  </a>
               </div> -->

						<!--  댓글 댓글 댓글 댓글 댓글 댓글 댓글 댓글 댓글 댓글 댓글 댓글 댓글 댓글 댓글 댓글 댓글 댓글 댓글 댓글 댓글 댓글 댓글 댓글 댓글 댓글 댓글   -->

						<div class="card my-4">
							<p class="card-header" style="padding: 0px 20px 0px 20px">
								<b>댓글</b>
							</p>
							<div class="card-body" style="padding: 10px;">

								<!-- 댓글이 생기는 곳  -->
								<div class="media mb-4">

									<div class="media-body" id="com">
										<h5 class="mt-0"></h5>
									</div>

								</div>

								<div class="form-group">
									<textarea class="form-control" rows="2" id="comment"
										name="comment" style="resize: none;"></textarea>
								</div>
								<div class="row">
									<div class="col-md-11" style="padding: 0px;"></div>
									<div class="col-md-1" style="position: relative; padding: 0px;">
										<button class="btn btn-warning" id="commentWrite"
											name="commentWrite"
											style="padding: 7px; height: 30px; padding-top: 4px; color: white;">등록</button>
									</div>
								</div>
								<!-- </form> -->
							</div>
						</div>

					</div>



					<div class="col-md-3">
						<div
							style="border-left: 1px solid rgb(224, 224, 224); height: 100%; padding-left: 20px;">

							<th:block th:switch="${study.CONTENT_KIND}">
								<div th:case="일반" class="card" style="width: 100%">
									<img class="card-img-top"
										th:src="'/studyboard/upload/' + ${study.IMAGE}"
										alt="Card image" style="width: 100%">
								</div>

								<div th:case="온라인" class="card" style="width: 100%">
									<th:block th:if="${onlineInfo != null}">
										<img class="card-img-top" th:src="${study.IMAGE}"
											alt="Card image" style="width: 100%">
										<div class="card-body">
											<h6 class="card-title _margin_0"
												th:text="${onlineInfo.L_TITLE}"></h6>
											<p class="card-text _margin_0" 
												th:text="${onlineInfo.L_WRITER}"
												style="color: gray; font-size: small;margin-bottom:0px;">이지스 퍼블리싱</p>
											<a th:href="${onlineInfo.L_ADDRESS}"
												class="stretched-link"></a>
											<div
												style="CLEAR: both; PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BACKGROUND: url('https://user-images.githubusercontent.com/61257242/87853568-33ab9d00-c946-11ea-9123-21c2ec016b03.gif') 0px 0px; FLOAT: left; PADDING-BOTTOM: 0px; MARGIN: 0px; WIDTH: 90px; PADDING-TOP: 0px; HEIGHT: 18px;">
												<p class="_star"
													th:style="|WIDTH:| +${onlineInfo.L_STAR}*20+|%; PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BACKGROUND: url('https://user-images.githubusercontent.com/61257242/87853576-40c88c00-c946-11ea-8b70-98a4d286ef1c.gif') 0px 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; HEIGHT: 18px;|">
												</p>
											</div>
											<span th:text="|(${onlineInfo.L_REVIEW})|">(6)</span> <b
												th:text="|₩${onlineInfo.L_PRICE}|">₩44,000</b>
										</div>
										<th:block>
								</div>
							</th:block>


							<!-- onclick="history.go(-1); return false;" -->
							<th:block th:switch="${sessionid}">
								<div th:case="${study.USER_ID}"
									style="text-align: center; margin: 10px 0px 10px 0px;">

									<th:block th:if="${page != null && perPageNum != null}">
										<a
											th:href="@{/board/study_List.do(page=${page},perPageNum=${perPageNum})}">
											<button type="button" class="btn btn-warning"
												style="width: 100%;">목록으로</button>
										</a>
									</th:block>

									<th:block th:if="${page == null && perPageNum == null}">
										<a th:href="@{/board/study_List.do}">
											<button type="button" class="btn btn-warning"
												style="width: 100%;">목록으로</button>
										</a>
									</th:block>


								</div>
								<div th:case="*"
									style="text-align: center; margin: 10px 0px 10px 0px;">
									<th:block th:switch="${apply}">
										<th:block th:case="0">
											<th:block th:if="${study.STATUS == '모집중'}">
												<button id="apply" type="submit" class="btn btn-success"
													style="width: 100%; background-color: #18d26e; color: white; border-color: #18d26e;">지원하기</button>
											</th:block>
										</th:block>
										<th:block th:case="1">
											<button id="applycancel" type="submit" class="btn"
												style="width: 100%; background-color: #18d26e; color: white; border-color: #18d26e;">지원취소하기</button>
										</th:block>
									</th:block>
									<!-- 이거는 사용자 권한 -->
									<div style="text-align: center; margin: 10px 0px 10px 0px;">
										<a
											th:href="@{/board/study_List.do(page=${page},perPageNum=${perPageNum})}"
											class="_to_the_list_a_tag">
											<button type="button"
												class="btn btn-warning _to_the_list_button"
												style="width: 100%;">목록으로</button>
										</a>
									</div>
								</div>
							</th:block>
							<!-- <th:block th:switch="${sessionid}">
                     <div th:case="${study.USER_ID}" style="text-align: center; margin: 10px 0px 10px 0px;">
                     <button id="apply" type="submit" class="btn btn-success"
                           style="width: 100%; background-color: #18d26e; color: white; border-color: #18d26e;">지원하기</button>
                        이거는 사용자 권한
                     </div>
                  </th:block> -->
							<!-- <div style="text-align: center; margin: 10px 0px 10px 0px;">
                     <a th:href="@{/board/study_List.do(page=${page},perPageNum=${perPageNum})}">
                        <button type="button" class="btn btn-warning" style="width:100%;">목록으로</button>
                     </a>
                  </div> -->
						</div>
					</div>
				</div>
				<!--       </th:block> -->
			</div>
		</div>
	</div>
	<!-- </form> -->
	<div th:replace="/user/includes/footer :: footer"></div>

	<div th:replace="/user/includes/bootstrap_script :: bootstrap_script"></div>
	<div
		th:replace="/user/includes/declation_Page_Modal :: declation_Page_Modal">
	</div>
	<input th:class="${heart}" type="hidden" id="heartlike">
	<input th:class="${sessionid}" type="hidden" id="userId">
	<input th:class="${commentList}" type="hidden" id="commentList">

	<!-- <input type="hidden" id="commentList" th:value="${commentList}"> -->



	<!-- alert창 꾸미기 -->
	<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
	<script>
      $(function() {
         
         /***********************************************   댓글 시리즈    ***********************************************/
         /* 상세페이지 들어가면 댓글 뿌려주는 로직 */
         var s_seqq = $('#s_seq').val();
         let obj = {
               "s_seq" : s_seqq
         };
         
          $.ajax({
             url: "/board/SelectCommentList.do",
             type : 'POST',
             contentType:"application/json",
               data : JSON.stringify(obj),
               success : function(data) {
                  makeComment(data);
               },
               error : function(e) {
                  console.log("error:", e);
               }
               
               
            });
         
         /* 댓글 만들어 주는 함수 */
            function makeComment(result) {
               console.log("makeComment함수 도착");
               console.log("makeComment함수 도착");
               console.log("makeComment함수 도착");
               console.log("makeComment함수 도착");
               var user_id =$('input[id="userId"]').attr('class');
               var html = "";
               
                $.each(result, function(index, obj) {
                  html += "<blockquote><b>" + obj.R_NAME + "</b>"  + " ";
                  if(user_id === obj.R_NAME){
                     html += " <a href='javascript:void(0);' data-value='" + obj.R_SEQ + "' class='updateComment' id='" + obj.R_SEQ + "'"+">&nbsp;&nbsp;<i class='ri-pencil-line'></i></a>";
                     html += " <a href='javascript:void(0);' data-value='" + obj.R_SEQ + "' class='deleteComment' id='" + obj.R_SEQ + "'"+"><i class='ri-delete-bin-line'></i></a><br>";
                  }  
                  html += "<code><div style='font-size:15px; color:black;'>" + obj.R_CONTENT + "</div></code>" + "<br><div style='font-size:14px'>" +  obj.R_DATE+"날짜니" + "</div></blockquote>";
               });
               $('#com').append(html);
               
               
               console.warn('111111111111111');
               console.warn('111111111111111');
               console.warn('111111111111111');
               console.warn('111111111111111');
               console.warn(obj.R_NAME);
            }
         
         
         
         
//          /* yyyymmddhhmm으로 포맷 */
//          function getDateFormet(date){
//         	 var dd = date.getDate();
//         	 var mm = date.getMonth()+1; //January is 0
        	 
//         	 var yyyy = date.getFullYear();
        	 
//         	 if(dd<10){
//         		 dd='0'+dd
//         	 }
        	 
//         	 if(mm<10){
//         		 mm='0'+mm
//         	 }
        	 
//         	 yyyy = yyyy.toString();
//         	 mm = mm.toString();
//         	 dd = dd.toString();
        	 
//         	 var m = date.getHours();
//         	 var s = date.getMinutes();
        	 
//         	 if(m<10){
//         		 m='0'+m
//         	 }
        	 
//         	 if(s<10){
//         		 s='0'+s
//         	 }
	        	 
//         	 m = m.toString();
//         	 s = s.toString();
        	 
//         	 var s1 = yyyy+'/'+mm+'/'+dd+' '+m+':'+s;
//         	 return s1;
//          }

            
            //댓글 틀 만들어주는 함수@!
            function makeComment(result) {
               console.log("makeComment함수 도착");
               var user_id =$('input[id="userId"]').attr('class');
               var html = "";
               
                   $.each(result, function(index, obj) {
                	   console.warn('보바네미');
                	   console.warn('보바네미');
                	   console.warn('보바네미');
                	   
                	   
//                 	   	var date1 = new Date(obj.r_date);
//                 	   	date1.setHours(date1.getHours()-9);

                	  var date1 = new Date(obj.R_DATE);
                	 
                	
                      if(obj.R_EXISTS === 'Y'){
       
                    	  
                           var depthcss = "";
                           var quillpen = " <a href='javascript:void(0);' data-value='" + obj.R_SEQ + "' class='rereply' id='" + obj.R_SEQ + "'"+">답글쓰기&nbsp;<i class='ri-quill-pen-line'></i></a>";
                        
                           if(obj.R_DEPTH === 1){
                               depthcss = "padding-left:45px;";
                               quillpen = "";
                           }
                           
                           html += "<blockquote class='OComment'><b style='"+depthcss+ "'>" + obj.R_NAME + "</b>"  + " ";
                           if(user_id === obj.R_NAME){
                              html += " <a href='javascript:void(0);' data-value='" + obj.R_SEQ + "' class='updateComment' id='" + obj.R_SEQ + "'"+">&nbsp;&nbsp;<i class='ri-pencil-line'></i></a>";
                              html += " <a href='javascript:void(0);' data-value='" + obj.R_SEQ + "' class='deleteComment' id='" + obj.R_SEQ + "'"+"><i class='ri-delete-bin-line'></i></a><br>";
                           }
                           html += "<code><div style='font-size:15px;"+depthcss+ "color:black;'>" + obj.R_CONTENT + "</div></code>" + "<div style='font-size:14px; "+depthcss+"'>" + getDateFormet(date1) +
                           quillpen +"</div></blockquote>";
//                            date1.toLocaleString()
                        }else{
                           
                           var depthcss = "";
                           if(obj.R_DEPTH === 1){
                               depthcss = "padding-left:45px;";
                               quillpen = "";
                           }
                           html += "<blockquote class='OComment'>" ;
                           html += "<code><div style='font-size:15px;"+depthcss+ "color:black;'>&nbsp;삭제된 댓글 입니다.&nbsp;</div></code>" + "<div style='font-size:14px'></div></blockquote>";
                           
                        }
                        
                  
                   });
               
               $('#com').append(html);
            }
            
            
            //대댓글 틀 만들어주는 함수
            $(document).on("click",".rereply",function(){
               console.log("대댓글 틀 만들어주는 함수");
               var r_seq = $(this).attr('id');
               var parentTag = $(this).parent();
               parentTag.empty(); 
               var html = "";
               html += '<div id="replyDiv">';
               html += '<textarea rows="2" id="reComment" name="content" class="_textarea_border"style="resize: none;width:100%;border-color:#CED4DA;border-radius: 3px;"></textarea>';
               html += '<div class="row">';
               html += '<div class="col-md-10" style="padding: 0px;"></div>';
               html += '<div class="col-md-2" style="position: relative; padding: 0px;text-align-last: end;padding-right: 21px;">';
               html += '<button class="btn btn-outline-secondary reCommentCBtn" id="'+ r_seq +'" style="padding: 7px; height: 30px; padding-top: 3px;margin-right: 8px; ">';
               html += '취소</button>';
               html += '<button class="btn btn-outline-primary reCommentBtn" id="'+ r_seq +'" style="padding: 7px; height: 30px; padding-top: 3px; ">';
               html += '등록</button>';
               html += '</div>';
               html += '</div>';
               html += '</div>';
               
               parentTag.append(html);
               $('#reComment').focus();
               

                        });

         
            //댓글 카운트 갱신 !!////////////////////////////////////////////////////////////////////////
            function countComment() {
               
               var s_seq = $('#s_seq').val();
               
               let obj = {
                     "s_seq" : s_seq
               };
               $.ajax({
                   url: "/board/countComment.do",
                   type : 'POST',
                   contentType:"application/json",
                     data : JSON.stringify(obj),
                     success : function(data) {
                        console.warn("댓글 기능 끝"+data);
                        $('.dott').text(data);
                     },
                     error : function(e) {
                        console.log("error:", e);
                     }
                  });
            }
            
            
            //댓글 등록///////////////////////////////////////////////////////////////////////////////////
            $('#commentWrite').click(function() {
                  if($('#comment').val() == "") {
                     swal({title:"댓글을 입력하세요",
                        icon: "warning"})
                     return false;
                  } 
                     
                  var s_seq = $('#s_seq').val();
                  var r_content = $('#comment').val().trim();
                  
                  let obj = {
                        "s_seq" : s_seq,
                        "r_content" : r_content
                  };
                  
                  $.ajax({
                      url: "/board/InsertComment.do",
                      type : 'POST',
                      contentType:"application/json",
                        data : JSON.stringify(obj),
                        success : function(data) {
                           $('#com').empty();
                           makeComment(data);
                           $('#comment').val("");
                           countComment(); //갯수 띄워주기 
                        },
                        error : function(e) {
                           console.log("error:", e);
                        }
                     });
            });
            
            //대댓글 등록///////////////////////////////////////////////////////////////////////////////
            $(document).on("click",".reCommentBtn",function(){
               console.log("등록버튼 눌렀을때 떠야하는 곳");
                  if($('#reComment').val() == "") {
                     swal({title:"댓글을 입력하세요",
                        icon: "warning"})
                     return false;
                  } 
                  
                     var r_seq = $(this).attr('id'); //부모댓글 번호   //이걸 refer 로 쓴다 
                  var s_seq = $('#s_seq').val();  //글번호
                  var r_content = $('#reComment').val(); //댓글 내용
                  console.warn("페이지에서 찍는거");
                  console.warn(r_seq);
                  console.warn(s_seq);
                  console.warn(r_content);
                  console.warn("다 찍어본거 ");
                  let obj = {
                        "s_seq" : s_seq,
                        "r_content" : r_content,
                        "r_seq" : r_seq
                  };
                  
                  $.ajax({
                      url: "/board/insertReComment.do",
                      type : 'POST',
                      contentType:"application/json",
                        data : JSON.stringify(obj),
                        success : function(data) {
                            $('#com').empty();
                           makeComment(data);
                           $('#comment').val(""); 
                           
                           countComment(); //갯수 띄워주기 
                        },
                        error : function(e) {
                           console.log("error:", e);
                        }
                     }); 
            });
            //대댓글 등록 취소///////////////////////////////////////////////////////////////////////////////
            $(document).on("click",".reCommentCBtn",function(){
               console.log("등록취소버튼 눌렀을때 떠야하는 곳");
               var s_seqq = $('#s_seq').val();
               let obj = {
                     "s_seq" : s_seqq
               };
               
                $.ajax({
                   url: "/board/SelectCommentList.do",
                   type : 'POST',
                   contentType:"application/json",
                     data : JSON.stringify(obj),
                     success : function(data) {
                        $('#com').empty();
                        makeComment(data);
                     },
                     error : function(e) {
                        console.log("error:", e);
                     }
                  });
                  
            });
            
            
            //댓글 삭제/////////////////////////////////////////////////////////////////////////////////
            $('#com').on('click', '.deleteComment', function() {
               var s_seq = $('#s_seq').val();
                var r_seq = $(this).attr('id');
               let obj = {
                     "s_seq" : s_seq,
                     "r_seq" : r_seq
               };
               
                $.ajax({
                   url: "/board/DeleteComment.do",
                   type : 'POST',
                   contentType:"application/json",
                     data : JSON.stringify(obj),
                     success : function(data) {
                        $('#com').empty();
                        makeComment(data);
                        $('#comment').val("");
                        countComment(); //갯수 띄워주기
                     },
                     error : function(e) {
                        console.log("error:", e);
                     }
                  });
            });
            
            
            //댓글 수정//////////////////////////////////////////////////////////////////////////////////////////////////// 
            var check = true;
            $('#com').on('click', '.updateComment', function() {
               console.log("여기로 와야합니다");
               
                  var r_seq = $(this).attr('id');
                  
                  //클릭한 a태그의 class를 cancelUpdate로 바꾸고 아이콘 바꾸기
                  $(this).attr('class', 'cancelUpdate');
                  $(this).html("<i class='ri-close-line'></i>");
                  
                  //this(a태그)의 부모태그(blockquote태그)를 parentTag변수에 담기
                  var parentTag = $(this).parent();

                  //자식태그 중 code(댓글내용이 들어있는 태그)를 찾아서 변수에 담기
                  var code = parentTag.find('code');
                  //댓글내용 변수에 담기
                  var codeText = parentTag.find('code').text();
                  //댓글내용이 있는 code태그 삭제
                  $(code).remove();
                  //input태그 append하기(value에는 기존의 값 셋팅하고, 포커스주기)
                  var html = "";
                  html += '<div id="updateDiv">';
                  html += '<textarea rows="2" id="updateContent" class="_textarea_border"name="content" style="resize: none;width:100%;border-color:#CED4DA;border-radius: 3px;">'+codeText+'</textarea>';
                  html += '<div class="row">';
                  html += '<div class="col-md-11" style="padding: 0px;"></div>';
                  html += '<div class="col-md-1" style="position: relative; padding: 0px;">';
                  html += '<button class="btn btn-outline-primary" id="commUpdateBtn" style="padding: 7px; height: 30px; padding-top: 3px; ">';
                  html += '수정</button>';
                  html += '</div>';
                  html += '</div>';
                  html += '</div>';
               
                  parentTag.append(html);
                  parentTag.find('input').focus();
                  
                  var commentNum = $(this).data("value");
                  $('#commUpdateBtn').click(function() {
                        if($('#updateContent').val() == "") {
                           swal({title:"댓글을 입력하세요",
                              icon: "warning"})
                           return false;
                        } 
                           
                        var s_seq = $('#s_seq').val();
                        var r_content = $('#updateContent').val();
                        

                        let obj = {
                              "s_seq" : s_seq,
                              "r_content" : r_content,
                              "r_seq" : r_seq
                        };
                        
                        $.ajax({
                            url: "/board/UpdateComment.do",
                            type : 'POST',
                            contentType:"application/json",
                              data : JSON.stringify(obj),
                              success : function(data) {
                                 $('#com').empty();
                                 makeComment(data);
                                 $('#comment').val("");
                              },
                              error : function(e) {
                                 console.log("error:", e);
                              }
                           });
                  });
               
               //수정 취소 눌렀을 경우 리스트 다시 불러오기//////////////////////////////////////////////////////////
               $('#com').on('click', '.cancelUpdate', function() {
                  var s_seqq = $('#s_seq').val();
                  let obj = {
                        "s_seq" : s_seqq
                  };
                  
                   $.ajax({
                      url: "/board/SelectCommentList.do",
                      type : 'POST',
                      contentType:"application/json",
                        data : JSON.stringify(obj),
                        success : function(data) {
                           $('#com').empty();
                           makeComment(data);
                           $('#comment').val("");
                        },
                        error : function(e) {
                           console.log("error:", e);
                        }
                     });
                  
               });
            
            });
            
         
            /***********************************************   댓글 시리즈 끝   ***********************************************/
            
            
         /* 페이지 로딩시 북마크 된거 하트모양 표시하기 시작 */

         var heart = $('#heartlike').attr('class').trim();  
         console.log("하트 찍업보기 "+heart) ;
         if(heart.trim() === '1'){
            console.warn("---------여기 들어오냐------");
            $("input:checkbox[id='heartheart33333']").attr("checked", true);

         }
         
         
         /* 페이지 로딩시 북마크 된거 하트모양 표시하기 끝 */
         
         
         
         
          /* 첨부파일명 자르기 시작 */
         
         
         console.log($('#fileHas1').children().children().children().hasClass("_file_name1"))
         console.log($('#fileHas2').children().children().children().hasClass("_file_name2"))
         
          if($('#fileHas1').children().children().children().hasClass("_file_name1")){
		     if($('._file_name1')[0].innerText.length >= 15){
		         $('._file_name1')[0].innerText  = $('._file_name1')[0].innerText.substring(0,15) + "...";
		     }
          }
          if($('#fileHas2').children().children().children().hasClass("_file_name2")){   
	          if($('._file_name2')[0].innerText.length >= 15){
	             $('._file_name2')[0].innerText  = $('._file_name2')[0].innerText.substring(0,15) + "...";
	          }
          }
          
       /* 첨부파일명 자르기 끝 */
       
         
         
         //   이건 파일첨부할때 쓰는 w3shool 에서 긁어온거
         //https://www.w3schools.com/bootstrap4/tryit.asp?filename=trybs_form_custom_file&stacked=h
         // Add the following code if you want the name of the file appear on select
         $(".custom-file-input").on(
               "change",
               function() {
                  var fileName = $(this).val().split("\\").pop();
                  $(this).siblings(".custom-file-label").addClass(
                        "selected").html(fileName);
               });
         
         $('#delete').click(function(){
        	 
        	 var page = $('#page');
        	 var perPageNum = $('#perPageNum');
        	 
            swal({
                 title: "정말 삭제하시겠습니까?",
                 text: "",
                 icon: "warning",
                 buttons: true,
                 /* dangerMode: true, */
               })
               .then((willDelete) => {
                 if (willDelete) {
                   var s_seq = $('#s_seq').val();
                   var page = $('#page').val();
                   var perPageNum = $('#perPageNum').val();
                   
                   location.href="writing_Common_Study_Delete.do?s_seq="+s_seq+"&page="+page+"&perPageNum="+perPageNum
                 } else {
                   swal({
                      title: "삭제가 취소되었습니다."
                   });
                 }
               });
         })
      });
   </script>


	<script>
	/*        지원하기         */
   $(function() {
	   
	   
	   let s_seq =  $('#s_seq').val();
	   let page =  $('#page').val();
	   let perPageNum =  $('#perPageNum').val();
	   
	   
	   
   $('#apply').click(function(){
       let obj = {"s_seq" : s_seq}; 
      swal({
           title: "스터디를 지원하시겠습니까?",
           text: "",
           icon: "info",
           buttons: true,
         })
         .then((willDelete) => {
           if (willDelete) {
               $.ajax({
                  url : "/ajax/nomalstudy.do",
                  processData : false,
                  contentType: "application/json",
                  cache : false,
                  type : 'POST',
               
                  data : JSON.stringify(obj),
                  success : function(data) {
                     console.log("이게뭐라고?" + data);
	                     if(data == 0){
	                        swal({
	                           title: "이미 지원한 스터디입니다.",
	                             icon: "warning",
	                             buttons: true
	                           })
	                       }else if(data == 1){
	                    	/* swal({title:"지원이 완료되었습니다.",
	                       		  icon: "success"}) */
	                       		 
	                       				
	                       		  location.href="/board/writing_Common_Study_Detail.do?s_seq="+s_seq+"&page="+page+"&perPageNum"+perPageNum
	                       			
	                       		             
				           }else{
				        	   swal({title:"모집인원이 꽉 찼읍니다.",
				                   icon: "warning"})
				           }
                  },
                  error: function(request, status, error){
                     console.log("code:" + request.status + "\n"
                           + "error:" + error);

                 }
               });
                  }else {
             swal({
                title: "지원이 취소되었습니다."
             });
           }
         });
   })
   
   
   
   /*                지원 취소하기              */
   
   $('#applycancel').click(function(){
       let obj = {"s_seq" : s_seq}; 
      swal({
           title: "스터디지원을 취소하시겠습니까?",
           text: "",
           icon: "info",
           buttons: true,
         })
         .then((willDelete) => {
           if (willDelete) {
               $.ajax({
                  url : "/ajax/applycancel.do",
                  processData : false,
                  contentType: "application/json",
                  cache : false,
                  type : 'POST',
                  data : JSON.stringify(obj),
                  success : function(data) {
                   /*   swal({
                         title: "지원이 취소되었습니다. ",
                           icon: "success"
                         }) */
                         location.href="/board/writing_Common_Study_Detail.do?s_seq="+s_seq+"&page="+page+"&perPageNum"+perPageNum
                  },
                  error: function(request, status, error){
                     console.log("code:" + request.status + "\n"
                           + "error:" + error);

                 }
               });
                  }else {
             swal({
                title: "지원취소를 취소한다."
             });
           }
         });
   })
   
   
   
   
   
   
   
   
   
    }); 
   
   </script>


	<script>
 $(function() {
    
    
     $(".blameform").submit(function(e) {
           e.preventDefault();
          var formData = new FormData(this);
         
         console.log("데이터2 : " + formData.get("bl_title"))
         console.log("데이터2 : " + formData.get("blame"))
         console.log("데이터3 : " + formData.get("comment"))
		console.log("타이틀:"+ $('#title').text());
         console.log("콘텐츠:"+  $('#content').text());
         
         
         let data = {
            "s_seq":$('#s_seq').val(), //신고당하는 글번호
            "type":formData.get("blame"), //신고유형
            "place":"1", //신고장소(게시판)   
            "target": $('#user_id').text(), //신고당하는 사람
            "bl_title":formData.get("bl_title"),  //신고제목
            "comment":formData.get("comment"), //신고내용
            "blamed_title": $('#title').text(),
            "blamed_content": $('#content').text()
         } 
 
         $.ajax({
            url : '/ajax/blameinsert.do',
            processData : false,
            contentType:"application/json",
            cache : false,
            type : 'POST',
            data : JSON.stringify(data),
            success : function(data) {
               if(data == 0){
                  swal({
                     title: "이미 신고된 게시글입니다.",
                       icon: "warning",
                       buttons: true
                     })
         100      }else {
               swal({title:"신고 접수가 완료되었습니다.",
                  icon: "success"})

     }
            },
            error : function(e) {
               console.log("error:", e);
            }
         })
      }) 
      
   });

 
 </script>

	<!-- 신고하기버튼 클릭 후 모달 닫기  -->
	<script>   
 $("#blame-btn").click(function(e) {
    
        $('#declationPageModal').modal('hide');
        
 });
 
 <!-- 하트 이모티콘 클릭시 라이크 테이블에 인서트 -->
 $('#heartheart33333').click(function(evt){
     var s_seq = $(this).attr('class');//input 태그안의 class 밸류값 가져오기 
     console.warn(s_seq);
     
     var obj = {"s_seq" : s_seq};
     $.ajax({
         url : "/board/heart.do",
         type : 'POST',
          contentType:"application/json",
         data : JSON.stringify(obj),
         success : function(data) {
            var heartnum = $('.heartt').text(data);
         },
         error : function(e) {
            console.log("error:", e);
         }
      })
 });
 
 </script>


	<script>
//  <!-- 마이페이지에서는 목록으로 버튼 클릭시 마이페이지로 시작 -->
 	$(function(){
 		
 		
 		console.warn(window.location.href.substr(73, 1));
 		console.warn($('._to_the_list_a_tag')[0]);
 		console.warn($('._to_the_list_button')[0].innerText);
 		if(window.location.href.substr(73, 1) == null || window.location.href.substr(73, 1) == ""){
 			$('._to_the_list_a_tag').removeAttr('href');
 			
 			$('._to_the_list_button')[0].innerText = "마이페이지로";
 			$('._to_the_list_a_tag')[0].setAttribute('href', '/mypage/mypage.do');
 		}
 		
 	});
 	//  <!-- 마이페이지에서는 목록으로 버튼 클릭시 마이페이지로 ... 끝 -->
 </script>

</body>



</html>