<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<link rel="shortcut icon"
	href="../../../resources/images/img/favicon.ico" type="image/x-icon" />
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title>WeStudy-Admin</title>
<meta name="description" content="Sufee Admin - HTML5 Admin Template">
<meta name="viewport" content="width=device-width, initial-scale=1">

<div th:replace="/manager/includes/head :: head"></div>

<!-- dataTable start -->
<link rel="stylesheet" type="text/css"
	href="../../../../resources/admin_assets/assets/dataTable/css/jquery.dataTables.min.css">
<link rel="stylesheet" type="text/css"
	href="../../../../resources/admin_assets/assets/dataTable/css/responsive.dataTables.min.css">
<link rel="stylesheet" type="text/css"
	href="../../../../resources/admin_assets/assets/dataTable/css/main.css">
<!-- dataTable end  -->

<style>
#myTable td {
	padding-top: 16px;
}

td:focus {
	outline: none;
}

.dataTables_wrapper .dataTables_paginate .paginate_button.current {
	background: #bbbdc2;
	color: white !important;
	border-radius: 5px;
	height: 30px;
	vertical-align: middle;
	padding-top: 3px;
	border: none;
}

.excel {
	margin-right: 5px;
	text-align: center;
	border: 1px solid white;
	transition: all 0.15s;
	background-color: #00694a;
	padding: 5px 3px;
	color: white;
	border-radius: 5px;
	cursor: pointer;
	width: 80px;
}

.pdf {
	margin-right: 5px;
	text-align: center;
	border: 1px solid white;
	transition: all 0.15s;
	background-color: #ff3c00;
	padding: 5px 3px;
	color: white;
	border-radius: 5px;
	cursor: pointer;
	width: 80px;
}

.message {
	margin-right: 5px;
	text-align: center;
	border: 1px solid white;
	transition: all 0.15s;
	background-color: #f0cf65;
	padding: 5px 3px;
	color: white;
	border-radius: 5px;
	cursor: pointer;
	width: 80px;
}
</style>
</head>

<body>
	<!-- Left Panel -->
	<div th:replace="/manager/includes/nav_side :: nav_side"></div>
	<!-- Left Panel -->

	<!-- Right Panel -->

	<div id="right-panel" class="right-panel">

		<!-- Header-->
		<div th:replace="/manager/includes/nav_top :: nav_top"></div>
		<!-- Header-->

		<div class="breadcrumbs">
			<div class="col-sm-4">
				<div class="page-header float-left">
					<div class="page-title">
						<h1>회원관리</h1>
					</div>
				</div>
			</div>
		</div>

		<!-- dataTable -->
		<div class="content mt-3">
			<div class="main-panel">
				<div class="content-wrapper">
					<div class="row ">
						<div class="col-12">
							<div class="wrap">
								<table id="myTable" class="table text-center"
									style="width: 100%;">
									<thead>
										<tr class="text-center">
											<th class="text-center" style="width: 50px;">아이디</th>
											<th style="width: 30px;">이메일</th>
											<th style="width: 30px;">닉네임</th>
											<th style="width: 30px;">신고횟수</th>
											<th style="width: 30px;">활성상태</th>
											<th style="width: 30px;">활성화버튼</th>
										</tr>
									</thead>

									<tbody>
										<th:block th:each="memberList : ${memberList}">
											<tr onmouseover="this.style.backgroundColor='#cecece'"
												onmouseout="this.style.backgroundColor='white'">
												<!-- 													<a th:href="@{noticeDetail.htm(seq=${n.seq})}"> -->
												<td align="center"><a
													th:classappend="|${memberList.user_id}|"
													th:href="@{/manager/board/member_Detail.do(user_id=${memberList.user_id})}"
													th:text="${memberList.user_id}"></a>
												</td>
												<td align="center" th:text="${memberList.user_email}"></td>
												<td align="center" th:text="${memberList.nickname}"></td>
												<td align="center" th:text="${memberList.blame_count}"></td>
												<th:block th:switch="${memberList.enabled}">
													<td th:case="1" align="center" th:text="활성화"></td>
													<td th:case="0" align="center" th:text="비활성화"></td>
												</th:block>
												<td align="center" class="button" style="padding-top: 10px;">
													<a href="#" 
													th:onclick="|javascript:stopButton('${memberList.user_id}')|"
														id="stop">
														<button type="button" class="btn btn-danger btn-sm"
															style="color: white; border-radius: 5px;">정지</button>
													</a>
													<a href="#" 
													th:onclick="|javascript:restoreButton('${memberList.user_id}')|"
														id="stop">
														<button type="button" class="btn btn-success btn-sm"
															style="color: white; border-radius: 5px;">복구</button>
													</a>
												</td>
											</tr>
										</th:block>
									</tbody>

								</table>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- .content -->
	</div>
	<!-- /#right-panel -->


	<!-- <div th:replace="/manager/includes/script :: script"></div> -->
	
	<script
		src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script> 
<script
		src="../../../../resources/admin_assets/vendors/jquery/dist/jquery.min.js"></script> 
	<script
		src="../../../../resources/admin_assets/vendors/popper.js/dist/umd/popper.min.js"></script>
	<script src="../../../../resources/admin_assets/assets/js/main.js"></script>

	<!-- alert창 꾸미기 -->
	<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
	

	<!-- dataTaBle start -->
 	<script
		src='../../../../resources/admin_assets/assets/dataTable/js/jquery-3.3.1.min.js'></script> 
	<script
		src="../../../../resources/admin_assets/assets/dataTable/js/jquery.dataTables.js"></script>
	<script
		src="../../../../resources/admin_assets/assets/dataTable/js/dataTables.responsive.min.js"></script>
	<script
		src="../../../../resources/admin_assets/assets/dataTable/js/dataTables.buttons.min.js"></script>
	<script
		src="../../../../resources/admin_assets/assets/dataTable/js/buttons.html5.min.js"></script>
	<script
		src="../../../../resources/admin_assets/assets/dataTable/js/member.js"></script>
	<!-- dataTaBle end -->

	<script
		src="../../../../resources/admin_assets/vendors/bootstrap/dist/js/bootstrap.min.js"></script>

	<div
		th:replace="/manager/includes/message_Page_Modal :: messagePageModal">
	</div>

	<script>
		//idx는 user_id받음, 정지버튼 onclick
		function stopButton(idx){
			console.log(idx)
			
			 let data = {
				"user_id" : idx
			}
			
			swal({
				  title: idx+"계정을 정지 하시겠습니까?",
				  text: "",
				  icon: "warning",
				  buttons: true,
				  dangerMode: true,
				})
				.then((willDelete) => {
				  if (willDelete) {
				    //ajax id값 보내줘서 enabled 0으로 세팅
					   $.ajax({
							url : '/manager/stopMember.do',
							processData : false,
							contentType : "application/json",
							cache : false,
							type : 'POST',
							data : JSON.stringify(data),
							success : function(data) {
								console.log('우철 : ' + data)
								if(data === 1){
									swal({
										  title: "정상적으로 정지되었습니다.",
										  icon: "success",
										  buttons: true,
										})
								}
							},
							error : function(e) {
								console.log("error:", e);
							}
						});  
				  }
				});
		}
		
		function restoreButton(idx){
			console.log(idx)
			
			 let data = {
				"user_id" : idx
			}
			
			swal({
				  title: idx+"계정정지를 해제 하시겠습니까?",
				  text: "",
				  icon: "warning",
				  buttons: true,
				  dangerMode: true,
				})
				.then((willDelete) => {
				  if (willDelete) {
				    //ajax id값 보내줘서 enabled 0으로 세팅
					   $.ajax({
							url : '/manager/restoreMember.do',
							processData : false,
							contentType : "application/json",
							cache : false,
							type : 'POST',
							data : JSON.stringify(data),
							success : function(data) {
								if(data === 1){
									swal({
										  title: "정상적으로 정지가 해지되었습니다.",
										  icon: "success",
										  buttons: true,
										})
								}
							},
							error : function(e) {
								console.log("error:", e);
							}
						});  
				  }
				});
		}
		
	</script>

	<script type="text/javascript">
	 $(function() {
			connect();
			$('#message-btn').click(function() {
				swal({
					  title: "정상적으로 쪽지를 보냈습니다.",
					  icon: "info",
					  buttons: true,
					 /*  dangerMode: true, */
					})
	  				$('#messagePageModal').modal('hide');
				send();
				//form태그 이동..
			});
		})

		var wsocket;

		function connect() {
			wsocket = new WebSocket("ws://" + location.host + "/messageSocket.do");
			wsocket.onopen = onOpen;
			wsocket.onmessage = onMessage;
			wsocket.onclose = onClose;
		}
		function disconnect() {
			wsocket.close();
		}

		function onOpen(evt) {
			console.log("onOpen(evt)");
		}

		function onMessage(evt) {
			/* console.log("evt :" + evt);
			var data = evt.data;
			appendMessage(data); */
		}

		function onClose(evt) {
		}

		function send() {
			console.log("여긴오2222냐!!")
			let message = $('#message').val();
			console.log('ㅇㅇ : ' + message);
			
			wsocket.send("all," + message);
		/* 	$('#message').val(""); */
		}

		//자기 자신한테 보냈을때 실행
		function appendMessage(msg) {
			console.log(msg);
			alert("msg : " + msg);
		}

	</script>


</body>

</html>